<!-- /templates/page.liquid -->
<div class="About_page">
  
  {% for block in section.blocks %}
  <div class="about-grid aos-init" data-aos="fade-in">
    <div class="About_page_left About_page_left_2">
    {% if block.settings.About_subtitle != blank %}<h2>{{ block.settings.About_subtitle }}</h2>{% endif %}
      {% if block.settings.About_heading-top != blank or block.settings.About_heading-bottom != blank %}
        <h3 class="{% if forloop.index == 1 %} About_page_left_heading refer-a-friend {% endif %}">
          <span>{{ block.settings.About_heading-top }}</span>
          <span>{{ block.settings.About_heading-bottom }}</span>
        </h3>
      {% endif %}
      {% if block.settings.About_heading-small %}
        <h3 class="heading-small" style="font-size:{{ block.settings.About_heading-font }}px; line-height:{{ block.settings.About_heading-font }}px">{{ block.settings.About_heading-small }}</h3>
      {% endif %}
      {% if block.settings.About_para_1 %}
        <h4>{{ block.settings.About_para_1 }}</h4>
      {% endif %}
      
      {% if block.settings.About_para_1 %}
        <h5>{{ block.settings.About_para_2 }}</h5>
      {% endif %}
      
      {% if block.settings.About_para_1 %}
        <h6>{{ block.settings.About_para_3 }}</h6>
      {% endif %}
      
      {% if block.settings.sign_login_button %}
      <div class="refer-a-friend-btn">
      	<a href="{{ block.settings.sign_login_button_url }}" class="innermost_front_btn btn second-btn">{{ block.settings.sign_login_button }}</a>
      </div>
      {% endif %}
      
    </div>
    
    <div class="About_page_right">
      {% if block.settings.About_img %}
        <img data-src="{{ block.settings.About_img | img_url : 'master' }}" class="lazyload">
      {% endif %}
    </div>
  </div>
  {% endfor %}
  
</div>

<script>
  $(document).ready(function () {
    if ($('#shopify-section-refer-a-friend-template')) {
      if ($('#featured-blog')) {
      	$('#featured-blog').remove();
      }
    }
  })

</script>