<div class="blog_filter">
  <div class="blog_lists_main">
    <ul class="ul-class">
    
      {% for i in (1..10) %}
      
        {% if i == 1 %}

          <li id="li-class" value="{{ settings.Blog_filter_text_1 | downcase }}">
            <a href="https://liveinnermost.myshopify.com/blogs/insight">
              <img data-src="{{ settings.Blog_filter_img_1 | img_url : 'master' }}" class="lazyload">
             
              <p id="{% if current_tags == blank and article == blank %}colorClass{% endif %}">{{ settings.Blog_filter_text_1 }}</p>
            </a>
          </li>

        {% else %}
          {% capture blog_filter %}Blog_filter_text_{{ i }}{% endcapture %}  
          {% capture blog_filter_img %}Blog_filter_img_{{ i }}{% endcapture %}
            {% assign filt = settings[blog_filter] %}
                     
		  {% if settings[blog_filter] != blank %}
      

          {% assign filter_tag = settings[blog_filter] %}
          {% assign filter_tag_dc = filter_tag | downcase | strip %}
          {% assign article_has_tag = false %}
          {% if article %}
            {% for tag in article.tags %}
              {% assign tag_dc = tag | downcase | strip %}
              {% if tag_dc == filter_tag_dc %}
                {% assign article_has_tag = true %}
              {% endif %}
            {% endfor %}
          {% endif %}
     
          <li value="{{ settings[blog_filter] | downcase }}">
            <a href="/blogs/insight/tagged/{{ settings[blog_filter] | downcase }}">
              <img data-src="{{ settings[blog_filter_img] | img_url: '600x' }}" class="lazyload" />
              <p id="{% if current_main_tag == filter_tag_dc or article_has_tag %}colorClass{% endif %}">{{ settings[blog_filter] }}</p>
            </a>
          </li>

               
          {% endif %}
        {% endif %}           
      {% endfor %}
      
    </ul>
  </div>
</div>
