<div class="tailored-nutrition tailored-nutrition-{{ section.id }}">
  <div class="footer-wrapper tailored-nutrition one-whole">
    <div class="staircase-text one-third small--one-whole">
      {% if section.settings.str-1 != blank %}
      <h2 class="str-first medium1000-down--hide">{{ section.settings.str-1 }}</h2>
      {% endif %}
      {% if section.settings.str-2 != blank %}
      <h2 class="str-second medium1000-down--hide">{{ section.settings.str-2 }}</h2>
      {% endif %}
      {% if section.settings.str-3 != blank %}
      <h2 class="str-third medium1000-down--hide">{{ section.settings.str-3 }}</h2>
      {% endif %}
      {% if section.settings.str-mobile != blank %}
      <h2 class="medium1000-up--hide">{{ section.settings.str-mobile }}</h2>
      {% endif %}
    </div>
    <div class="tn-subtext two-thirds medium1000-down--one-whole">
      {% if section.settings.dolor_subheading != blank %}
      <div class="subtext">{{ section.settings.dolor_subheading | replace: 'desktopnewline', '<br class="medium1000-down--hide">' | replace: 'mobilenewline', '<br class="medium1000-up--hide">'}}</div>
      {% endif %}
      {% if section.settings.link and section.settings.link_text != blank %}
      <a id="tailored_nutrition_btn" class="innermost_front_btn btn medium1000-down--hide {% comment %}account--btn{% endcomment %}" href="{{ section.settings.link }}">{{ section.settings.link_text }}</a>
      {% endif %}
    </div>
  </div>
  <div class="tn-btn medium1000-up--hide">
    <a id="tailored_nutrition_btn" class="innermost_front_btn btn {% comment %}account--btn{% endcomment %}" href="{{ section.settings.link }}">{{ section.settings.link_text }}</a>
  </div>
</div>

<style>
  .tailored-nutrition-{{ section.id }}
  {
    overflow: hidden;
    background-color:{{ section.settings.dolor_color }};
    {% if section.settings.dolor_color_text %}
      color: {{ section.settings.dolor_color_text }};
    {% endif %}
  }
  
  .footer-wrapper.tailored-nutrition {
    display: flex;
    align-items: center;
    padding-bottom: 60px;
  }
  
  .staircase-text {
    font-size: {{ section.settings.staircase-text-font-size-desktop }}px;
  }
  
  .staircase-text h2 {
    text-align: left;
    line-height: 1;
  }
  
  .str-second {
    margin-left: 10%;
  }
  
  .str-third {
    margin-left: 20%;
  }
  
  .tn-subtext {
    display: flex;
    flex-direction: column;
  }
  
  .subtext {
    text-align: center;
    font-size: {{ section.settings.subtext-font-size-desktop }}px;
  }
  
  .innermost_front_btn {
    margin-top: 45px;
  }
  
  @media (min-width: 1000px) and (max-width: 1210px) {
    .subtext {
      font-size: 24px!important;
    }
  }
  
  @media(width:1000px) {
    h2.medium1000-up--hide {
      display: block!important;
    }
    
    .tn-btn.medium1000-up--hide {
      display: flex!important;
    }
  }
  
  @media (min-width: 600px) and (max-width: 800px) {
    .tn-subtext {
      max-width: 600px;
    }
  }
  
  #tailored_nutrition_btn {
    padding-left: 36px;
    padding-right: 36px;
  }
  
  .tailored-nutrition-{{ section.id }} h2
  {
    {% if section.settings.dolor_color_text %}
      color: {{ section.settings.dolor_color_text }};
    {% endif %}
  }
  
  @media (max-width: 1000px) {
    .staircase-text h2 {
      font-size: {{ section.settings.staircase-text-font-size-mobile }}px;
      margin-bottom: 10px;
      text-align: center;
    }
    
    .subtext {
      font-size: {{ section.settings.subtext-font-size-mobile }}px;
    }
    
    .footer-wrapper.tailored-nutrition {
      padding-bottom: 45px;
      flex-direction: column;
    }
    
    .tn-btn.medium1000-up--hide {
      margin-bottom: 45px;
      align-items: center;
      display: flex;
    }
    
    #tailored_nutrition_btn {
      margin-top: 0px;
    }
  }
  
  @media (max-width: 479px) {
    .footer-wrapper.tailored-nutrition {
      padding: 0;
      padding-top: 45px;
    }
    
    .subtext {
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }
    
    .tn-btn.medium1000-up--hide {
      margin-top: 45px;
    }
    
    .tn-subtext.medium1000-down--one-whole {
      width: 100%;
    }
  }
  
  @media (max-width: 800px) {
    .tn-subtext.medium1000-down--one-whole {
      width: 100%;
    }
  }
  
  @media (min-width: 800px) and (max-width: 1000px) {
    .staircase-text h2 {
      font-size: 26px;
    }
    
    .subtext {
      padding-top: 10px;
      font-size: 30px;
    }
    
    .footer-wrapper.tailored-nutrition {
      padding-top: 120px;
      padding-bottom: 45px;
    }
    
    .tn-btn.medium1000-up--hide {
      margin-bottom: 120px;
    }
    
    .tn-subtext.medium1000-down--one-whole {
      width: 75%;
    }
  }
</style>