<form id="email_signup-f-{{country}}" class="email_signup-f-{{country}} {% if homepage == true %} homepage-form {% endif %}{% if article == true %} article-form {% endif %}{% if blog == true %}blog-form{% endif %} custom-footer-form klaviyo_styling klaviyo_gdpr_embed_{{list}}" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
    <input type="hidden" name="g" value="{{list}}">
    <input type="hidden" name="$fields" value="$consent, Which statement best describes you?">
    <input type="hidden" name="$list_fields" value="$consent">
    <div class="klaviyo_field_group klaviyo_form_actions">      
      
     <input  class="email_fill" type="email" value="" name="email" id="k_id_email" placeholder="Your email*" />
      <!-- TODO: replace the if with phone: true; --> 
    {% if list == 'NLLgWk' or phone == true %}
    <input id="klaviyo_form_phone_number" type="text" name="phone_number" value="" class="modal_phone" placeholder="Phone Number"/>
    {% endif %}
    <select class="newsletter_country" name="country">
    <option value="UK" val="UK (GBP)">United Kingdom</option>
	<option value="ME" val="Middle East (USD)">Middle East</option>
	<option value="AU" val="Australia (AUD)">Australia</option>
	<option value="US" val="US (USD)">United States</option>
	<option value="EU" val="Europe (EUR)">Europe</option>
	<option value="CA" val="Canada (CAD)">Canada</option>
    <option value="AS" val="Singapore (USD)">Singapore</option>
    <option value="UK ">Other</option>
    </select>
    <select class="newsletter_goals" name="Which statement best describes you?">
      <option value="" disabled="" selected="">Statement best describing my wellness goal*</option>     
      {% comment %}<option value="I work out to feel my best">I want to look my best</option>{% endcomment %}
      <option value="I want to feel healthier">I want to optimise my health</option>
      <option value="I want to improve my fitness">I want to improve my fitness</option>
    </select>  
    
    
      <label class="klaviyo_disclaimer {% if list == 'NLLgWk' or phone == true %}phone-number{% endif %}"  >
        <input type="checkbox" required="required" >
            {% if list == 'NLLgWk' or phone == true %}
            <p>I agree to the use of my data to customise my experience, perform analytics and deliver relevant advertising across platforms. I consent to receive automated text message marketing. Message and data rates may apply. I've read and agree with the Privacy Policy, Terms of Use and T&Cs. I know I can unsubscribe at any time. </p>
            {% else %}
   		    <p>I agree to the use of my data to customise my experience, perform analytics and deliver relevant advertising across platforms. I have read and agree with the Privacy Policy, Terms of Use and T&Cs.  I understand I can unsubscribe at any time. </p>
      		{% endif %}
      </label>
      <button type="submit" class="klaviyo_submit_button btn create_button">Subscribe</button>
      
    </div>

    <div class="klaviyo_messages">
      <div class="success_message" style="display:none;"></div>
      <div class="error_message" style="display:none;"></div>
    </div>
  
  </form>
  <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
  <script type="text/javascript">
    $('.email_signup-f-{{country}} input[type="checkbox"]').change(function(){
      $('.please-subscribe').remove(); 
    })
    $('.email_signup-f-{{country}} button[type="submit"]').click(function(e){
  
      e.preventDefault(); 
    if($(this).parents('form').find('input[type="checkbox"]:checked').length > 0){ 
     $(this).parents('form').submit(); 
    }
    else { 
      
      if($(this).parents('form').find('.klaviyo_disclaimer p span').length == 0){
     $(this).parents('form').find('.klaviyo_disclaimer p').append('<span class="please-subscribe"> Please agree to the terms');
    }
    }
    
    
      
      
      })
      
      
  
     if (typeof course{{list}} !== 'undefined') {
       var course{{list}};
       var firedalready{{list}} = false;
     }
    
    {% if course == true %}
    course{{list}} = true;
    {%- else -%}
    course{{list}} = false;
    {% endif %}
    
    
    
    
   KlaviyoSubscribe.attachToForms('.klaviyo_gdpr_embed_{{list}}', {
   success: function ($form) {
      
      //console.log('firing two times');
      
      if(course{{list}}){
      //console.log('trackCustom {{country}}');
      //console.log('trackCustom {{country}}');
      
      if(!firedalready{{list}}){
      fbq('trackCustom', "CourseSignup");
        firedalready{{list}} = true; 
      }
                  
      }
  
      
      
      
      $form.find('.klaviyo_field_group').css('display','none');



 },
     // hide_form_on_success: true, 
      success_message: '<div class="klaviyo_header">Almost there...</div><div class="klaviyo_subheader">Check your email to confirm and add us to your safe senders list to avoid emails going to junk.</div>', 
      extra_properties: {
        /* check */
      {% if country_full %}  $countrycustom: "{{ country_full}}",  {% endif %}                    
        $source: '$embed',
        $method_type: "Klaviyo Form",
        $method_id: 'embed',
        $consent_version: 'Embed default text',
      }
    });
  </script>