<div class="mobile-nav-menu">
    <form class="mobile-search-bar" action="/search" method="get" role="search">
        <svg class="search-icon" width="36px" height="17px" viewBox="0 0 16 17">
            <title>Search Icon</title>
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-1424.000000, -28.000000)" fill="currentColor">
                    <g transform="translate(1422.000000, 26.000000)">
                        <path
                            d="M9.60660172,15.0251263 L11.6066017,15.0251263 L11.6066017,20.0251263 L9.60660172,20.0251263 L9.60660172,15.0251263 Z M10.6066017,14.0251263 C7.29289322,14.0251263 4.60660172,11.3388348 4.60660172,8.02512627 C4.60660172,4.71141777 7.29289322,2.02512627 10.6066017,2.02512627 C13.9203102,2.02512627 16.6066017,4.71141777 16.6066017,8.02512627 C16.6066017,11.3388348 13.9203102,14.0251263 10.6066017,14.0251263 Z M10.6066017,12.0251263 C12.8157407,12.0251263 14.6066017,10.2342653 14.6066017,8.02512627 C14.6066017,5.81598727 12.8157407,4.02512627 10.6066017,4.02512627 C8.39746272,4.02512627 6.60660172,5.81598727 6.60660172,8.02512627 C6.60660172,10.2342653 8.39746272,12.0251263 10.6066017,12.0251263 Z"
                            transform="translate(10.606602, 11.025126) rotate(-45.000000) translate(-10.606602, -11.025126) ">
                        </path>
                    </g>
                </g>
            </g>
        </svg>
        <input class="search-input" id="mobile-search-input" type="search" name="q" placeholder="Search" required="" />
        <svg class="clear-search" width="10" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24">
            <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/>
        </svg>
    </form> 
    <ul>
        <li>
            {% for link in linklists.main-menu.links %}

            {% if link.links != blank %}
            <li class="has-submenu">
                <a href="#" data-submenu="{{ link.title | handleize }}"> {{ link.title }}</a>
            {% else %}
            <li>
                <a href="{{ link.url }}">{{ link.title }}</a>
            {% endif %}

         
            <div id="{{ link.title | handleize }}" class="submenu">
                <div class="submenu-header">
                    <a href="#" data-submenu-close="{{ link.title | handleize  }}">{{ link.title }}</a>
                </div>
                <ul>
                    {% for child_link in link.links %}
                        {% if child_link.links != blank %}
                            <ul class="accordion">
                                <div class="link"> 
                                    {{ child_link.title }} 
                                        <div class="indicator">
                                             <div class="horizontal"></div>
                                             <div class="vertical"></div>
                                        </div>
                                </div>
                        {% else %}
                            <li>
                                <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                        {% endif %}
                                <ul class="submenu-accordion">
                                    {% for child_link_2 in child_link.links %}
                                    <li>      
                                      <a href="{{ child_link_2.url }}">{{ child_link_2.title }}</a>          
                                    </li>
                                   {% endfor %}
                                </ul>  
                            {% if child_link.links != blank %}
                                </ul>
                            {% else %}
                                </li>
                            {% endif %}
                   {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </li>
         <li class="has-submenu">
            <a href="#" data-submenu="country">COUNTRY</a>
            <div id="country" class="currency-selector-mobile submenu">
              <div class="submenu-header">
                <a href="#" data-submenu-close="country">COUNTRY</a>
              </div>
              <ul> 
                       
            </ul>
            </div>
          </li>
    </ul>
    <div class="mobile-nav-buttons">
        <a href="https://www.liveinnermost.com/account/login" class="mobile-log-in">Log In</a>
        <a href="https://www.liveinnermost.com/account/login" class="mobile-sign-up">Sign Up</a>
    </div>
</div>

<div class="mobile-nav-menu-overlay"></div>

<script>
    const opened = $(function () {
        // init   side menu
        const sidemenu = $(".mobile-nav-menu").mobileNav({
            opened: function () {
//               if ($('.main-content.main-content-homepage')) {
//                 $('header').removeClass('isHomepage');
//               }
                // console.log("the side menu opened");
            },
            closed: function () {
//            if ($('.main-content.main-content-homepage')) {
//                 if ($(window).scrollTop() < 32) {
//                   $('header').addClass('isHomepage'); 
//                 }
//               }
                // console.log("the side menu closed");         
            },
        });

        // handle overlay click
        $(".mobile-nav-menu-overlay").on("click", () => {
            sidemenu.close();
        });

         // open side menu
         $(".menu-btn.hamburger").on("click", () => {
            if (!$(".menu-btn.hamburger").hasClass("close")) {
                $(".menu-btn.hamburger").addClass("close");
                sidemenu.open();
            } else {
                $(".menu-btn.hamburger").removeClass("close");
                sidemenu.close();
            }
        }); 

    // Close mobile-navigation in large screen
    const display_size = window.matchMedia("(max-width: 841px)");
    widthChange = (display_size) => {
        if (!display_size.matches) { 
            sidemenu.close();
        }
      }
      display_size.addListener(widthChange);
      widthChange(display_size);
    }); 

    
    const searchInput = document.querySelector(".search-input");
    const clearSearch = document.querySelector("svg.clear-search");
    searchInput.addEventListener("input", () =>{
        if(searchInput.value != "") {
            clearSearch.style.display = "block" 
        }  
        else {
            clearSearch.style.display = "none" 
        }
    })
    clearSearch.addEventListener("click", () => {
        searchInput.value = "";
        clearSearch.style.display = "none" 
    })
  
    const submenuHeaderTitle = document.querySelectorAll(".submenu-header a");
    submenuHeaderTitle.forEach(submenuTitle =>{
        const clearText = submenuTitle.innerText.toLowerCase() || submenuTitle.textContent.toLowerCase();
        submenuTitle.innerHTML = clearText.charAt(0).toUpperCase() + clearText.slice(1);
        }) 
    
</script>