

{% form 'product',product, class: 'multiple-product-form',   data-productid: variant.id %}

             {% if product.available %}{% include 'subscription-product' %}{% endif %} 
              
{% comment %} 
			  <p class="price-row medium-down--text-center">
                  {% if product.compare_at_price_max > product.price %}
                    <span class='red-price strikethrough faded medium-down--text-center money' itemprop="compare-price" data-compare-price>
                      {% if settings.currency_format == "money_format" %}
                        {{ current_variant.compare_at_price | money }}
                      {% else %}
                        {{ current_variant.compare_at_price | money_with_currency }}
                      {% endif %}
                    </span>
                  {% endif %}
                  <span class='faded medium-down--text-center money' itemprop="price" data-product-price>
                    {% if settings.currency_format == "money_format" %}
                      {{ current_variant.price | money }}
                    {% else %}
                      {{ current_variant.price | money_with_currency }}
                    {% endif %}
                  </span>
                </p>

{% endcomment %}

                 <div class="product_desp">
                  {{ product.description | split:'<!-- split -->' | first }}
                 </div>

                              <div class="select__max" style="display: none;">
                <select name="id" id="productSelect-{{ product.id }}" class="product-single__variants" data-productid="{{product.id}}">
                           {% for variant in product.variants %}
                           {% if variant.available %}                          
                           <option {% if variant == current_variant %} selected="selected" {% endif %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                           {% else %}
                           <option disabled="disabled">
                             {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                           </option>
                           {% endif %}
                           {% endfor %}
                           </select>
                  
                </div>
                         

              {% for variant1 in product.variants %}
              {% if variant1.metafields.subscriptions.discount_variant_id != blank %}
              {% assign showPurchaseType = true %}
              {% endif %}
              {% endfor %}
              
              
             <div class="form-holder">
              {% if showPurchaseType %}
              <div class="purchase-type">
               <label id="one-time" class="purchase-type-label">
               <input type="radio" name="purchase-type" value="One Time" class="purchase-type-input" checked>
                 <p class="input-text">{{ 'products.product.one_time_purchase' | t }}</p>
                </label>
                <label class="purchase-type-label">
               <input type="radio" name="purchase-type" value="Recurring" class="purchase-type-input">  
                  <p class="input-text"><span class="parent-styles">{{ 'products.product.subscription' | t }}</span> <span class="sbscribe-discount">{{ 'products.product.subscription_discount' | t }}</span></p>
                </label>
              </div>   
              {% endif %}
              
              
              <div class="products product-variant">
             {% for variant1 in product.variants %}
              {% if variant1.metafields.subscriptions.discount_variant_id == blank %}
               {% assign rechargeID = variant1.id %} 
               {% assign rechargePrice = variant1.price %}
			  {% else %}
                {% assign rechargeID = variant1.metafields.subscriptions.discount_variant_id %}
                    {%- capture rechargeHandle -%}{{ product.handle }}-1{%- endcapture -%}
              {% endif %}
              <div class="variant-option variant-border {% if forloop.last %} last-variant {% endif %}" style="overflow: hidden">
              <div class="variant-title">
                {% comment %}
                       <p class="flavour_title">{% if variant1.metafields.title != blank %}{% for field in variant1.metafields.title %}{{ field | last }}{% endfor %} {% else %} {% if  product.variants.size == 1 %} {{ product.title }} {% else %} {% if variant1.option2 %} {{ variant1.option2 }} · {% endif %}{{ variant1.option1 }} {% endif %} {% endif %}</p>             	
                {% endcomment %}
                <p class="flavour_title"> {{ product.title }} </p>
                {% unless variant1.metafields.hidethis  %}
                 {% if variant1.metafields.subtitle != blank %}<p class="variant-subtitle">{% for field in variant1.metafields.title %}{{ field | last }} | {% endfor %}</p>{% else %}
                {% if variant1.option1 contains "0g" %}<p class="variant-subtitle"> {{ variant1.option1 }} | </p>{% endif %} {% endif %}
                {% endunless %}
                {% if variant1.metafields.subtitle != blank %}
                 {% for field in variant1.metafields.subtitle %}
              	 	<p class="variant-subtitle">{{ field | last }}</p> 
              	{% endfor %}
                {% elsif variant1.option2 == "Chocolate" or variant1.option1 == "Chocolate"%}
                <p class="variant-subtitle">{{ 'products.product.product_description_chocolate' | t }}</p>
                {% elsif variant1.option2 == "Vanilla" or variant1.option1 == "Vanilla" %}
                <p class="variant-subtitle">{{ 'products.product.product_description_vanilla' | t }}</p>
                {% endif %}
                {% for t in product.tags %}
               	{% if t contains 'back-in-stock_' and variant1.available == false %}
                {% assign backInStockMessage = t | split: "back-in-stock_" | lats %}
                <p class="back-in-stock-message">{{ backInStockMessage }}</p>
                {% endif %}
                {% endfor %}
              </div>		
                     <div class="product_quan_main_right variant-quantity {% if product.tags contains 'out_of_stock' and variant1.available == false %}notify-message-holder{% endif %}">    
                      {% if product.tags contains 'out_of_stock' and variant1.available == false %}
                      {% assign default_notify_message = "Notify Me When Available" %}
                      <a class="klaviyo-bis-trigger" href="#">{% if custom_notify_message  %}{{ custom_notify_message }}{% else %}{{ default_notify_message }}{% endif %}</a>
                      {% else %}                     
                       <button type='button' value='-' class='qtyminus unselectable' field='product-quantity-{{ variant1.id }}'>-</button>
					 <input min="1" name="quantity" id="product-quantity-{{variant1.id}}" type="text" data-price="{{variant1.price}}" data-recharge-price="{{variant1.price | times: 100| divided_by: 100 | times: 85 | divided_by: 100 | ceil }}" data-id="{{ variant1.id }}" data-recharge-id="{{ rechargeID }}" value="{% if forloop.first %}1{% else %}0{% endif %}"/>
                     <button type='button' value='+' class='qtyplus unselectable' field='product-quantity-{{ variant1.id }}'>+</button>                         
                      {% endif %}     
                     </div>                
              </div> 
           {% endfor %}
              </div>
              <div class="delivery-every-holder" style="display:none;--new:new;">
                <p class="delivery-every-title">{{ 'subscription.delivery_every' | t }}</p>
                <div class="deliver-every" style="">
                          <select name="" id="shipping_interval_frequency">
                                  <option value="1">1 Week </option>
                                  <option value="2">2 Weeks</option>
                                  <option value="3">3 Weeks</option>
                                  <option value="4" selected="">4 Weeks (Most Popular)</option>
                                  <option value="5">5 Weeks</option>
                                  <option value="6">6 Weeks</option>
                                  <option value="7">7 Weeks</option>
                                  <option value="8">8 Weeks</option>
                                  <option value="9">9 Weeks</option>
                                  <option value="10">10 Weeks</option>
                              </select>
                </div>
                <div class="delivery-every-subtitle-holder">
                  <span class="delivery-every-subtitle">{{ 'subscription.cancel' | t }}</span>
                  <span class="delivery-every-subtitle">{{ 'subscription.learn_more' | t }} <a href="https://www.liveinnermost.com/pages/terms-and-conditions" target="_blank" class="subscrition-details">{{ 'subscription.learn_more_link' | t }}</a></span>
                </div>
              </div>
              <div class="meal-description-holder">
              	{% for field in product.metafields.mealdescription %}
                <p class="meal-description">{{ field | last }}</p>
                {% endfor %}
              </div>
			<div class="custom-row row">
              <div class="cost-per-meal-holder">
              	{% for field in product.metafields.costpermeal %}
                <p class="cost-per-meal">{{ field | last }}</p>
                {% endfor %}
              </div>
              <div class="price-holder">
<p class="price-row medium-down--text-center">
                    <span class="{% unless current_variant.compare_at_price > current_variant.price%} hide {% endunless %} strikethrough faded medium-down--text-center money discounted-price-currency"></span>
                    <span  class='{% unless current_variant.compare_at_price > current_variant.price%} hide {% endunless %} red-price strikethrough faded medium-down--text-center money discounted-price' itemprop="compare-price" data-compare-price="{% if current_variant.compare_at_price > current_variant.price %}{{ current_variant.compare_at_price }}{% else %}{{ current_variant.price  }}{% endif %}" data-compare-custom-price="{% if current_variant.compare_at_price > current_variant.price %}{{ current_variant.compare_at_pric }}{% else %}{{ current_variant.price  }}{% endif %}" data-rc-price="{{ current_variant.metafields.subscriptions.discount_variant_price | replace: ".", "" }}">
                     {% if current_variant.compare_at_price  %}
                      {% if settings.currency_format == "money_format" %}
                        {{ current_variant.compare_at_price | money }}
                      {% else %}
                        {{ current_variant.compare_at_price | money_with_currency }}
                      {% endif %}
                      {% else %}
                      {{ current_variant.price | money }}
                      {% endif %}
                    </span>
  				  <span class="faded medium-down--text-center money currency"> </span>
                  <span class='faded medium-down--text-center money main-price' itemprop="price" data-rc-price="{{ current_variant.metafields.subscriptions.discount_variant_price | replace: ".", "" }}" data-onetime-price="{{current_variant.price }}" />
                    {% if settings.currency_format == "money_format" %}
                      {{ current_variant.price | money }}
                    {% else %}
                      {{ current_variant.price | money_with_currency }}
                    {% endif %}
                  </span>
                </p>
              </div>
              </div>
                            <button type="submit" id="AddToCartMultiple" name="add" class="btn create_button " style="visibility: visible;">
                              <span class="loader hide"> 
                                
                              </span>
                         <span data-add-to-cart-texts="">Add to Cart</span>
                       </button>
</div>
{% include 'image-with-description' %}

<p>{{ img-desc1 }}</p>
<p>{{ img-desc2 }}</p>
<p>{{ img-desc3 }}</p>
 <div class="accord">
                  <div class="accord_main">
                    {{ Description[2] }}
                  </div>
                </div>  
              {% endform %}

{% if product.tags contains "out_of_stock" %}
<script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>

<script>
   var APIKEY;
   var klaviyo;

    function setAPIkey(){ 
      klaviyo = klaviyo || [];
      //console.log('APIKEY FUNCTION');
      APIKEY = window.APItoLoad;
      if(APIKEY == undefined){ 
      //console.log('not defined.. oops');
      setTimeout(function(){setAPIkey()},1000); 
    }
    else { 
    
  //console.log('defined ' + APIKEY);
    klaviyo.init({
      account: 'PGhkN2', 
      platform: "shopify"
    });
    klaviyo.enable("backinstock",{ 
    trigger: {
      product_page_text: "Notify Me When Available",
      product_page_class: "klaviyo-back-in-stock",
      product_page_text_align: "center",
      product_page_margin: "0px",
      replace_anchor: false
    },
    modal: {
     headline: "{product_name}",
     body_content: "Enter your email address to receive a notification when this item is back in stock.",
     email_field_label: "Email",
     button_label: "Notify me when restocked",
     subscription_success_label: "OK cool. We'll let you know when it's back",
     footer_content: '',
     additional_styles: ".form-control{ color: #525252; border: 0px!important; border-radius: 0px!important; box-shadow: unset!important; }; button.btn.btn-success.btn-lg.col-xs-12:hover { background-color: black; transition: ease all 0.3s; } button.btn.btn-success.btn-lg.col-xs-12 { font-family: 'jaapokki'; font-size: 14px; font-weight: normal; color: #fff; letter-spacing: 3px; line-height: 21px; text-transform: uppercase; } @font-face { font-family: 'jaapokki'; src: url('{{ 'jaapokki-regular.eot' | asset_url }}'); src: url('{{ 'jaapokki-regular.woff' | asset_url }}') format('woff'), url('{{ 'jaapokki-regular.ttf' | asset_url }}') format('truetype'); } input:focus { outline-width: 0px!important; } select:focus { outline-width: 0px!important; } button:focus { outline-width: 0px!important; } button.btn.btn-success.btn-lg.col-xs-12:hover { background-color: #000000; transition: all 0.3s ease-in-out; } div#container { text-align: center; }.input-lg { height:40px!important;} select {background-repeat: no-repeat; background-position: right 2px top 20px; background-size: 13px; } #container { position: absolute; transform: translate(-50%, -50%); left: 50%; top: 50%; padding: 20px; } button.close.klaviyo-bis-close { font-size: 20px; } button.close.klaviyo-bis-close { font-size: 20px; } h3.modal-title { font-family: jaapokki; margin-top: 10px; text-transform: uppercase; letter-spacing: 2px; font-size: 20px!important; } #container { margin-top: 0px!important; } p { max-width: 300px; margin: auto; margin-top: 20px; margin-bottom: 20px; }#container,.btn{ border-radius: 0px!important;} a.klaviyo-bis-close{display:none;} div#container{min-width:330px;}",
     drop_background_color: "#000",
     background_color: "#f6f6f6",
     text_color: "#525252",
     button_text_color: "#fff",
     button_background_color: "#525252",
     close_button_color: "#525252",
     error_background_color: "#fcd6d7",
     error_text_color: "#C72E2F",
     success_background_color: "#d3efcd",
     success_text_color: "#1B9500"
    }
    
  });
    }
     
   }
      
    setAPIkey();
</script>
{% endif %}
