{% assign title = linklists[menu].title |handleize %}
<div class="grid__item  {% if title == "learnings" %}large--one-quarter {% else %}large--one-sixth {% endif %} footer-nav" id="{{linklists[menu].title |handleize }}">
         <div class="large--hide">
         <div class="mobile-nav__has-sublist">
    	  <h6 class="mobile-nav__item" aria-haspopup="true"> {{ linklists[menu].title }} </h6>
         </div>
            <ul class="mobile-nav__sublist">
              {% for link in linklists[menu].links %}
          <li class="mobile-nav__item animation-sequence-{{forloop.index}}">{{ link.title | link_to: link.url }}</li>
          {% endfor %}
          </ul>
           
           
        </div>
        
        
        <div class="medium-down--hide">
        <h6> {{ linklists[menu].title }} </h6>
        <ul class="">
          {% for link in linklists[menu].links %}
          <li>{{ link.title | link_to: link.url }}</li>
          {% endfor %}
        </ul>
        </div>
          
      </div>