<!-- /snippets/product-grid-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}

{% comment %}
  Set the default grid_item_width if no variable is set
{% endcomment %}
{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-third medium--one-third' %}
{% endunless %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}

{% if product.compare_at_price > product.price %}
  {% unless hide_on_sale_badge %}
    {% assign on_sale = true %}
  {% endunless %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}

{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

{% unless hover_class %}
  {% assign hover_class = 'product_image focus_image' %}
{% endunless %}

{% unless fit_image_class %}
  {% assign fit_image_class = 'grid__image' %}
{% endunless %}

{% assign variant_image = product.images[1] | default: false %}

{% assign image = product.featured_image %}
{% include "attribute-image-box-ratio" %}

{% assign vegan = false %}
{% if product.tags contains 'vegan_label' %}
  {% assign vegan = true %}
{% endif %}

<div class="grid__item {{ fit_image_class }} {{ hover_class }} {{ grid_item_width }} {{ product_class }} animation-sequence-{{ forloop.index0 }}">
  <div class="grid_gers">
    <div class="grid_gers_inner">
      <a href="{{ product.url }}" class="block" tabindex='0'>

        {% if vegan %}
          <div class="vegan-badge">{{ 'products.product.vegan' | t }}</div>
        {% elsif on_sale %}
          <div class="sale-badge">{{ 'products.product.on_sale' | t }}</div>
        {% endif %}

        <div class="box-ratio image-crossfade">
          {% if product.images.size == 0 %}
          <img data-src="//cdn.shopify.com/s/images/themes/product-1.png" class="lazyload">
          {% endif %}
          {% comment %}
          {% unless handle contains 'all' %}
          {% if variant_image %}
          {% include "filter-rias-img-url" input: variant_image %}
          {% assign image_url = output %}

          <img
               data-src="{{ image_url }}"
               data-sizes="auto"
               alt="{{ product.images[1].alt | escape }}"
               class="lazyload lazyload-fade">
          {% endif %}
          {% endunless %}
          {% endcomment %}
          {% if product.featured_image %}
          {% include "filter-rias-img-url" input: product.featured_image %}
          {% assign image_url = output %}

          <img
               data-src="{{ image_url }}"
               data-sizes="auto"
               alt="{{ product.featured_image.alt | escape }}"
               class="lazyload lazyload-fade">

          <noscript>
            <img data-src="{{ product.featured_image | img_url: '800x' }}" alt="{{ product.featured_image.alt }}" class="lazyload"/>
          </noscript>
          {% endif %}
        </div>

        <span class="product_image_caption">
          <h3>{{ product.title }}</h3>

        </span>
        <div class="product_image_caption_new">
          <div class="product_meta-info">
            {{ product.metafields["global"]["product-info"] }}
          </div>
          <div class="product_price-info price-row no-flex">
                {% if product.tags contains "out_of_stock" %}
		{% assign bis = true %}
        {% endif %}
            {% capture price %}
            <span class="money">
              {% if settings.currency_format == "money_format" %}
              {{ product.price | money }}
              {% else %}
              {{ product.price | money }}
              {% endif %}
            </span>
            {% endcapture %}

            {% if on_sale %}
              <s class="red-price"><span class="price money price__strike">{{ product.compare_at_price | money }}</span></s>
            {% endif %}

            {% if sold_out and bis != true  %}
            <strong>
              {{ 'products.product.sold_out' | t }}
            </strong>
            {% else %}
            {% if on_sale and product.price_varies %}
            {{ 'products.product.on_sale_from_html' | t: price: price }}
            {% elsif product.price_varies %}
            {{ 'products.general.from_text_html' | t: price: price }}
            {% else %}
            {{ price }}
            {% endif %}
            {% endif %}
          </div>
          <div class="text-center">
            {% comment %}
            {% include 'okendo-reviews-product-rating-summary'%}
            {% endcomment %}
          </div>
          <a href="{{ product.url }}" class="shop-now">SHOP NOW</a>
        </div>
      </a>
    </div>
  </div>
</div>
