<div class="social">
<ul>
 <li><a href="{{ section.settings.Insta_link }}" target="_blank"><p><i class="fa fa-instagram" aria-hidden="true"></i></p></a></li>
 <li><a href="{{ section.settings.Twitter_link }}" target="_blank"><p><i class="fa fa-twitter" aria-hidden="true"></i></p></a></li>
  <li><a href="{{ section.settings.Facebook_link }}" target="_blank"><p><i class="fa fa-facebook" aria-hidden="true"></i></p></a></li>
    <li><a href="{{ section.settings.Youtube_link }}" target="_blank"><p><i class="fa fa-youtube" aria-hidden="true"></i></p></a></li>
    <li><a href="{{ section.settings.Tiktok_link }}" target="_blank"><p>{% include 'icon-tiktok' %}</p></a></li>
    <li><a href="{{ section.settings.Pinterest_link }}" target="_blank"><p><i class="fa fa-pinterest" aria-hidden="true"></i></p></a></li>
</ul>
</div>