<!doctype html>

{% include 'theme-info' %}

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
  {{ 'raf.js' | asset_url | script_tag }}
  <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]--> 
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>{%- comment -%}smartseo_integration_begin{%- endcomment -%}{% include 'smartseo' %}{%- comment -%}smartseo_integration_end{%- endcomment -%}
  <meta name="p:domain_verify" content="cfd5baa56c9e7a088d6988b03db808b9"/>

  <script>
    var ajaxCart = false
    const backFromCheckout = localStorage.getItem("checkout-back");
    if(backFromCheckout) {
      localStorage.removeItem("checkout-back");
      location.reload();
    }
  </script>

  <style>
      
      .main-content.main-content-homepage {
        margin-top: 0px!important;
      }
    
  .lazyload,.lazyloading{opacity:0; transition: all 0.3s ease}
  .lazyloaded{
    opacity:1;transition:opacity.3s}
    
    /* HHI NAV TRANSPARENT */
.isHomepage {
  border-bottom: 0px solid rgb(229, 231, 235);
  opacity: 1;
  background: rgba(0, 0, 0, 1) !important;
  box-shadow: rgba(0, 0, 0, 0) 0px 1px 1px 0px, rgba(0, 0, 0, 0) 0px 2px 2px 0px, rgba(0, 0, 0, 0) 0px 4px 4px 0px, rgba(0, 0, 0, 0) 0px 8px 8px 0px, rgba(0, 0, 0, 0) 0px 16px 16px 0px !important;
}
/* end */

   </style>
<style>
  /*
  nav a[href="/pages/about"] { 
    opacity: 0;
    transition: 0.1s ease opacity;
  }
  */
  
  .para_uk, .para_non_uk { 
    display: none; 
  } 
  
  .contact.not-menu-item { 
    display: none;
    
  }
  
  .not-menu-item { 
    opacity: 1!important; 
  }
  
  </style>
  <!-- Segment script -->
 <script>
   !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on","addSourceMiddleware","addIntegrationMiddleware","setAnonymousId","addDestinationMiddleware"];analytics.factory=function(e){return function(){var t=Array.prototype.slice.call(arguments);t.unshift(e);analytics.push(t);return analytics}};for(var e=0;e<analytics.methods.length;e++){var key=analytics.methods[e];analytics[key]=analytics.factory(key)}analytics.load=function(key,e){var t=document.createElement("script");t.type="text/javascript";t.async=!0;t.src="https://cdn.segment.com/analytics.js/v1/" + key + "/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.13.1"; analytics.load("wUBwoASCFSTPxJBI7qVJjKLJjx3wyVjx"); analytics.page(); }}();
 </script>
  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon_image != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon_image | img_url: '32x' }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  {%- comment smartseo_integration_begin_meta_data -%}<title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name or template == "index" %} &ndash; {{ shop.name }}{% endunless %}
  </title>{%- endcomment smartseo_integration_end_meta_data -%}

  {% if page_description %}
  {%- comment smartseo_integration_begin_meta_data -%}<meta name="description" content="{{ page_description | escape }}">{%- endcomment smartseo_integration_end_meta_data -%}
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  
  <!-- Noindex ================================================== -->
    {% if template contains 'search' %}
  <meta name="robots" content="noindex">
  {% endif %}
  
  {% if template contains 'cart' %}
  <meta name="robots" content="noindex">
  {% endif %}
  
  {% if canonical_url contains 'frontpage' %}
  <meta name="robots" content="noindex">
  {% endif %}
  
  {% if canonical_url contains '/pages/redirect' %}
  <meta name="robots" content="noindex">
  {% endif %}
  
  {% if canonical_url contains 'account/register' %}
  <meta name="robots" content="noindex">
  {% endif %}
  
  {% if template contains 'collections' %}
  <meta name="robots" content="noindex">
  {% endif %}
  
  {% if template contains 'collection' and current_tags %}
  <meta name="robots" content="noindex" />
  <!--<link rel="canonical" href="{{ shop.url }}{{ collection.url }}" />  -->
  {% endif %}
  
  {% if canonical_url contains '/blogs/news/tagged' %}
  <meta name="robots" content="noindex">
  {% endif %}
  
  {% if template contains 'result' %}
  <meta name="robots" content="noindex"/>
  {% endif %}
  

  
  {%- include 'organisation-schema' -%}

  <!-- CSS ================================================== -->
  {{ 'aos.min.scss.css' | asset_url | stylesheet_tag }}
  {% if template contains 'product' or template contains 'cart' %}
  {{ 'select-plugin.scss.css' | asset_url | stylesheet_tag }}
  {% endif %}
  
  {{ 'style.scss.css' | asset_url | stylesheet_tag }}
  {{ 'style-new.scss.css' | asset_url | stylesheet_tag }}

  {% comment %}
  {{ '//fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i' | stylesheet_tag }}
  {% endcomment %}
  {% comment %}
  before custom minify.	
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {% endcomment %}
  {{ 'theme-min.css' | asset_url | stylesheet_tag }}

  

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }} 

  <!-- Test ================================================== -->
  
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {% if template contains 'product' or template contains 'cart' %}
  {{ 'select2.min.js' | asset_url | script_tag }}
  {% endif %}
  {{ 'modernizr.min.js' | asset_url | script_tag }}
  
  {% comment %}
  	before custom minify
  {{ 'jquery_cookie.js' | asset_url | script_tag }}
  {{ 'theme.js' | asset_url | script_tag }}
  {% endcomment %}
  
  {{ 'jquery_cookie-min.js' | asset_url | script_tag }}

  {% comment %} NOT LIVE
  {{ 'theme-min.js' | asset_url | script_tag }}
  {% endcomment %}
  {{ 'theme.js' | asset_url | script_tag }}

  
  {% if template contains 'product' or template contains 'cart' %}
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  {% endif %}
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">
  
  {% comment %} Component Scripts {% endcomment %}

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>

{% if template == 'index' %}
{% if settings.home_vendor_carousel_enable %} 
  {% comment %} 
  {{ 'slick.css' | asset_url | stylesheet_tag }}
  {{ 'slick-theme.css' | asset_url | stylesheet_tag }}

  {% endcomment %}
  
  {{ 'slick-min.css' | asset_url | stylesheet_tag }}
  {{ 'slick-theme-min.css' | asset_url | stylesheet_tag }}

{% endif %}
{% endif %}
  {% comment %}
 		 before custom minify
  	{{ 'navigation-menu.css' | asset_url | stylesheet_tag }}
    {{ 'libraries.min.js' | asset_url | script_tag }} 

  {% endcomment %}
  
  {{ 'libraries-min.js' | asset_url | script_tag }} 

  {{ 'aos.min.js' | asset_url | script_tag }}
  
  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
  {% comment %} We replaced okendo with judge.me on 22 April 2020
  {{ shop.metafields.okendo.ReviewsWidgetStyleTag }}
  {{ shop.metafields.okendo.StyleCustomizations }}
  {% include 'okendo-reviews-json-ld' %}  
  {% endcomment %}
  
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KGZVPND');</script>
<!-- End Google Tag Manager -->
  
  <script>
    
    $(document).ready(function(){
    let urlString = window.location.href;
    let paramString = urlString.split('?')[1]; 
let queryString = new URLSearchParams(paramString); 
  
for (let pair of queryString.entries()) { 
  if(pair[0] == "awc" ) {
    //console.log('set cart param');
    jQuery.post('/cart/update.js', "attributes[" + pair[0] + "]=" + pair[1] );
  }
  
    //console.log("Key is: " + pair[0]); 
    //console.log("Value is: " + pair[1]);
}
    
})
    
  </script>
  
  {% comment %} Klaviyo is now loaded dynamically. Use this ONLY if the dynamic version does not work 
  <!-- Klaviyo UK -->
  <script async type="text/javascript" src="//static.klaviyo.com/onsite/js/klaviyo.js?company_id=PGhkN2"></script>
  
  <!-- Klaviyo EU -->
  <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=Kb7J4f"></script>
  
  <!-- Klaviyo AU -->
  <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=Kmtuzb"></script>
  
  <!-- Klaviyo CA -->
  <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=PPuj6j"></script>
  
  <!-- Klaviyo ME --> 
  <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=PfxLKY"></script>
  
  <!-- Klaviyo US -->
  <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=NZQ2jY"></script>
  {% endcomment %}
  
  <style>
    ul.account-tabs li {display: inline-block; vertical-align: bottom;border-bottom: 1px solid #eee;}
  	ul.account-tabs li a {
      display: block;
      padding: 10px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 13px;
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
    }
    ul.account-tabs li a.active{    background: #3E4146;color: white;}
    .intl-order-btn{color:white;}
    .btn_tab{padding: 10px 40px 30px;}
    #tabs-1{padding: 10px 20px 30px;}
    .btn:hover .intl-order-btn{color:#3E4146;}
  </style>
  
  <!-- Google Merchant Verification ================================== -->
  <meta name="google-site-verification" content="rZiJ_kTPnQjxTNKmcctmJUU5jt5QSgFiCeDgM5V_smo" />
 {% unless template contains 'product' or template.suffix contains "landbot" %}
  {% include "loyaltylion" %}
  {% endunless %}

  <!-- Hotjar Tracking Code for http://www.liveinnermost.com -->

  {% include 'judgeme_core' %}
  
  <!-- Pinterest Tag -->
<script>
!function(e){if(!window.pintrk){window.pintrk = function () {
window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var
  n=window.pintrk;n.queue=[],n.version="3.0";var
  t=document.createElement("script");t.async=!0,t.src=e;var
  r=document.getElementsByTagName("script")[0];
  r.parentNode.insertBefore(t,r)}}("https://s.pinimg.com/ct/core.js");
pintrk('load', '2614310826066', {em: '<user_email_address>'});
pintrk('page');
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt=""
  src="https://ct.pinterest.com/v3/?event=init&tid=2614310826066&pd[em]=<hashed_email_address>&noscript=1" />
</noscript>
<!-- end Pinterest Tag -->
{% if template contains 'account' %}
  <!-- Adding css for share buttons -->	
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
{% endif %}
 <!-- Google Webmaster Tools Site Verification -->
<meta name="google-site-verification" content="aJW-_arlxOgeQcblkFHsC2v3nL8T1xCBeVzpq8ep_0s" />
</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body style="overflow-x: hidden;" id="{{ page_title | handle }}" class="{% if template contains "press-item" %} press-item {% endif %} {% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
  <script>
  if ( window.location.href.indexOf ("/blogs/insight/tagged/questions") > -1 ) {
  window.location.href = "https://www.liveinnermost.com/blogs/questions";
}
</script>
  
  <!-- Awin_Access_Technical_Integration -->
<script src="https://www.dwin1.com/20851.js" type="text/javascript" defer="defer"></script>
<!-- End Awin_Access_Technical_Integration -->
  {% if template contains 'account' %}
   <!-- Facebook Share Button -->
  	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0" nonce="7xz6LKqZ"></script>
   <!-- End Facebook Share Button -->
  {% endif %}
 <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGZVPND"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) --> 
  {% comment %}<p class="check-the-template-suffix">{{ template.suffix }}</p>{% endcomment %}
  <div class="background-overlay" data-background-overlay></div>
 <input type="hidden" class="bodyClass" value="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}"/>
  {% include 'icons.svg' %}
  <div class="fadeout-overlay"></div>

  {% section 'header' %}
  {% include 'cart-popup' %}

  {% section 'popup' %}

  <div id="PageContainer" class="is-moved-by-drawer">
     <input type="hidden" class="sliderspeed" value="{{ settings.slider_speed }}" >
    <style> 
      .main-content { 
        margin-top: 105px; 
      }
      
      .main-content.main-content-homepage {
        margin-top: 0px!important;
      }
    </style>
    
    {% assign isHomepage = false %}
    
    {% if template contains 'index' %}
   	  {% assign isHomepage = true %}
    {% endif %}
    
    <main class="main-content {% if isHomepage == true %} main-content-homepage {% endif %}" role="main">
      {{ content_for_layout }}
    </main>
	
    {% section 'footer' %}
	
    
    {% section 'footer-new' %}
    {% section 'welcome-popup-selector' %}
  </div>

 {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  
  {% comment %} 
  before custom minify.
  {{ 'ira.js' | asset_url | script_tag }}
  {% endcomment %}
  {{ 'ira-min.js' | asset_url | script_tag }}


  {% comment %}
    Template-specific js
  {% endcomment %}

  {% if resetPassword %}
    <script>
      $(function() {
        ira.resetPasswordSuccess();
      });
    </script>
  {% endif %}
  
  {% comment %}
  before custom minify
  {{ 'handlebars.min.js' | asset_url | script_tag }}
  {% endcomment %}
  {{ 'handlebars-min.js' | asset_url | script_tag }}


  <script>
    window.lazySizesConfig = window.lazySizesConfig || {};

    lazySizesConfig.expand = 1000;
    lazySizesConfig.customMedia = {
      '--small': '(max-width: 700px)',
      '--medium': '(max-width: 840px)',
      '--xlarge': '(max-width: 1000px)',
      '--xxlarge': '(max-width: 1200px)'
    };
  </script>
  {{ "//cdnjs.cloudflare.com/ajax/libs/lazysizes/4.0.1/lazysizes.min.js" | script_tag }}
  {{ "//cdnjs.cloudflare.com/ajax/libs/lazysizes/4.0.1/plugins/rias/ls.rias.min.js" | script_tag }}
  {{ "//cdnjs.cloudflare.com/ajax/libs/lazysizes/4.0.1/plugins/parent-fit/ls.parent-fit.min.js" | script_tag }}
  {{ "//cdnjs.cloudflare.com/ajax/libs/lazysizes/4.0.1/plugins/bgset/ls.bgset.min.js" | script_tag }}
  {{ "//cdnjs.cloudflare.com/ajax/libs/lazysizes/4.0.1/plugins/object-fit/ls.object-fit.min.js" | script_tag }}
	
  
 <!-- <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
 
 <script type="text/javascript">
      var onloadCallback = function() {
        grecaptcha.render('re-captcha', {
          'sitekey' : '6LeJ0YoUAAAAAKOzt8gQn_ict3FHKqxiz3sCehGZ'
        });
      };
    </script>
  -->
  <script>
    lazySizes.init();
  </script>
  
  {% if template contains 'index' %}
  <script>
    $(document).ready(function(){    
      $('.contact-form').submit(function(){
         var flag = 1;
         var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
         var email = $('.newletter_new').val();
         if(!regex.test(email) && email == ""){
            flag=0;            
          }
           if(flag == '1'){   
             $('.err-email').hide(); 
             return true;
          }else{
             $('.err-email').show(); 
             return false;
          }
        return false;
      });
    });
  </script>
  {% endif %}
  
  {% if template == 'index' %}
{% if settings.home_vendor_carousel_enable %} 

  

 <script type="text/javascript">
 $(document).ready(function() {
   //ga('set', 'country-analytics', 'GBP');

   
     var speedGetval = $(".sliderspeed").attr("value");
    if (window.matchMedia('(max-width: 768px)').matches) {
      
      $(".Mobile-slider").slick({
        //lazyLoad: 'ondemand', // ondemand progressive anticipated
         autoplay: true,         
    	autoplaySpeed: speedGetval,  
        infinite: true
      });
       //console.log("small");
    } else {
       $(".lazy").slick({
         autoplay: true,         
    	autoplaySpeed: speedGetval,  
        infinite: true
      });
        //console.log("large");
    }

 });
   
 </script>
{% endif %}
{% endif %}
  {% if template contains 'product' or template contains 'cart' %}
  <script>
    $(document).ready(function() {
      $('.single-option-selector').select2({
      	minimumResultsForSearch: -1
      });
    });
  </script>
  {% endif %}
  <script type="text/javascript">
    AOS.init({
      easing: 'ease-in-out-sine',
      offset: 60,
      duration: 1500,
      once: false,
      disable: false
    });
  </script>
  
  {% comment %}
  {% include 'currencies' %}
  
  <script>
    /*$(document).ready(function() {
      $( window ).load(function(){
        console.log('load');
        jQuery.ajax({
          url: 'http://api.ipstack.com/check?access_key=28c5d6b8ec7fb667003fc1080b11a79e',
          type: 'POST', 
          dataType: 'jsonp',
          success: function(location) {
             if(location.country_code=='GR' 
              || location.country_code=='AL' 
              || location.country_code=='AD' 
              || location.country_code=='AT' 
              || location.country_code=='BY'
              || location.country_code=='BE' 
              || location.country_code=='BA'
              || location.country_code=='BG' 
              || location.country_code=='HR' 
              || location.country_code=='CY' 
              || location.country_code=='CZ' 
              || location.country_code=='DK'
              || location.country_code=='EE'
              || location.country_code=='EL'
              || location.country_code=='FO'
              || location.country_code=='FI'
              || location.country_code=='FR'
              || location.country_code=='DE'
              || location.country_code=='GI'
              || location.country_code=='HR'
              || location.country_code=='HU'
              || location.country_code=='IS'
              || location.country_code=='IE'
              || location.country_code=='IM'
              || location.country_code=='IT'
              || location.country_code=='RS'
              || location.country_code=='LV'
              || location.country_code=='LI'
              || location.country_code=='LT'
              || location.country_code=='LU'
              || location.country_code=='MK'
              || location.country_code=='MT'	
              || location.country_code=='MD'
              || location.country_code=='MC'	
              || location.country_code=='ME'	
              || location.country_code=='NL'
              || location.country_code=='PL'
              || location.country_code=='PT'
              || location.country_code=='RO'
              || location.country_code=='RU'
              || location.country_code=='SM'
              || location.country_code=='RS'
              || location.country_code=='SK'
              || location.country_code=='SI'
              || location.country_code=='SE'
              || location.country_code=='CH'
              || location.country_code=='UA'  
              || location.country_code=='VA'
              || location.country_code=='RS'
            ){          
               $('.currency-picker').val('EUR').trigger('change');
             }else if(location.country_code=='US'){
               $('.currency-picker').val('USD').trigger('change');
             }else if(location.country_code=='GB'){
               $('.currency-picker').val('GBP').trigger('change');
             }else if(location.country_code=='CA'){
               $('.currency-picker').val('CAD').trigger('change');
             }else if(location.country_code=='AU'){
               $('.currency-picker').val('AUD').trigger('change');
             }else if(location.country_code=='IN'){
               $('.currency-picker').val('INR').trigger('change');
             }else if(location.country_code=='JP'){
               $('.currency-picker').val('JPY').trigger('change');
             }
          }
        });
      });
    });*/
  </script>
  {% endcomment %}
  

  <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/ScrollTrigger.min.js"></script>
  
{% render 'klaviyo-popup' %}

<!-- <script>
  $(document).ready(function(){    
    $(".currency-picker").change(function(){
      var selectedCurrency = $(this).children("option:selected").val();
      if (selectedCurrency == "GBP") {
        var els = document.querySelectorAll("a[href='/pages/refer-a-friend']");
        for (let i = 0; i < els.length; i++) {
          els[i].remove();
        }
      } 
    });
  });  
</script>   -->

<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:294453,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

    {% include 'subscription-footer' %}
  
    {{ 'navigation-menu.js' | asset_url | script_tag }}
<!--LinkedIN-->
<script type="text/javascript">
_linkedin_partner_id = "3252417";
window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
window._linkedin_data_partner_ids.push(_linkedin_partner_id);
</script><script type="text/javascript">
(function(){var s = document.getElementsByTagName("script")[0];
var b = document.createElement("script");
b.type = "text/javascript";b.async = true;
b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
s.parentNode.insertBefore(b, s);})();
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=3252417&fmt=gif" />
</noscript>  
<!--End LinkedIN-->

 </body>
</html>
