{% if section.settings.hide_section == false %}
<div class="ambassadors-slide-wrapper" style="background-color: {{ section.settings.bg-color }};">
  <div class="ambassadors-slider-inner">
  <h1 class="ambassadors-title text-center">{{ section.settings.title }}</h1>
  <div class="grid amb-slider slick_slider_equilizer">
  	{% for block in section.blocks %}
    <div class="grid__item one-half">
      <div class="inner-block-slider">
      <div class="img-holder">
    	<img class="amb-slider-img"/ src="{{ block.settings.img | img_url: 'x450' }}">
      </div>
      <div class="text-holder">
        <h5 class="">{{ block.settings.name }}</h5>
        <h6 class="ambassador-proffesion">{{ block.settings.more }}</h6>
        <p>{{ block.settings.text }}</p>
      </div>
      </div>
   	</div>
    {% endfor %}
  </div>
  </div>
</div>

{{ 'slick.css' | asset_url | stylesheet_tag }}
{{ 'slick-theme.css' | asset_url | stylesheet_tag }}
 <script type="text/javascript">
 $(document).ready(function() {

   
     $(".amb-slider").slick({
       
        infinite: true,
        slidesToShow: 2,
        slidesToScroll: 1,
         responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
      });
   
    });
   
 </script>
{% endif %}
{% schema %}
  {
    "name": "About Slider",
    "settings": [
		{
			"type": "checkbox",
			"id": "hide_section",
			"label": "Hide Section?",
			"default": true
		},
		{
			"type": "color",
			"id": "bg-color",
			"label": "Background Color",
			"default": "#f5f5f5"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Title",
			"default": "Ambassadors"
		}
	],
	"blocks": [ {
		"type": "image",
		"name": "Slider",
		"settings": [
		{
			"type": "image_picker",
			"id": "img",
			"label": "Image"
		},
		{
			"type": "text",
			"id": "name",
			"label": "Name"
		},
		{
			"type": "text",
			"id": "more",
			"label": "More about that person"
		},
		{
			"type": "richtext",
			"id": "text",
			"label": "Quote"
		}
	  ]
	}
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
