{% assign hero_img = block.settings.image %}
{% assign hero_img = image.aspect_ratio %}
<div class="image-full-slider__wrapper {% if section.settings.hide_mobile == true %} small--hide {% endif %}">
  <div class="image-full-slider__slider">
    {%- for block in section.blocks -%}
      <div class="image-full-slider__slide">
        {%- if block.settings.image != blank -%}
          <div class="image-text-full__image{% comment %}{% if block.settings.image_mobile != blank %} small--hide{% endif %}{% endcomment %}">
            {% liquid 
              assign hero_image_wrapper_ratio = 1 | divided_by: block.settings.image.aspect_ratio | times: 100
              if hero_image_wrapper_ratio < 37
                assign hero_image_wrapper_ratio = 37
              endif
            %}
            <div class="small--hide" style="background: url({{ block.settings.image | img_url: 'x2000' }}); padding-top: {{ hero_image_wrapper_ratio }}%; background-size: cover; background-position: center; filter: brightness(90%); -webkit-filter: brightness(90%);"></div>
            <div class="medium-up--hide"  style="background: url({{- block.settings.image_mobile | img_url: "700x" -}}); padding-top: {{ 1 | divided_by: block.settings.image_mobile.aspect_ratio | times: 100 }}%; background-size: cover; filter: brightness(90%); -webkit-filter: brightness(90%);"></div>            
            {% comment %}<img src="{{- block.settings.image | img_url: "2000x2000" -}}" style="max-height: 700px; object-fit: cover; -webkit-filter: brightness(85%);">{% endcomment %}
            <div class="image-full-slider__btn-wrapper">
              <div class="image-full-slider__btn-position">
                <div class="pre-btn-text">
                  <h3 class="small-text">{{ block.settings.small_text }}</h3>
                  <h1 class="big-text">{{ block.settings.big_text }}</h1>
                </div>
                {%- if block.settings.btn_1_text_d != blank and block.settings.btn_1_link_d != blank -%}
                  <a href="{{- block.settings.btn_1_link_d-}}" style="display: inline-block; margin-right: 20px;" class="affiliates-hero-btn image-full-slider__btn-1-d{% unless block.settings.btn_1_d %} hide-image{% endunless %}">{{- block.settings.btn_1_text_d-}}</a>
                {%- endif -%}

                {%- if block.settings.btn_1_d != blank and block.settings.btn_2_link_d != blank -%}
                  <a href="{{- block.settings.btn_2_link_d-}}" style="display: inline-block; margin-left: 20px;" class="affiliates-hero-btn image-full-slider__btn-1-d{% unless block.settings.btn_2_d %} hide-image{% endunless %}">{{- block.settings.btn_2_text_d-}}</a>
                {%- elsif block.settings.btn_2_link_d != blank -%}
                 <a href="#placeholder" style="visibility: hidden" class="image-full-slider__btn-2-d{% unless block.settings.btn_2_d %} hide-image{% endunless %}">Placeholder text to align</a>
                {%- endif -%}
              </div>
            </div>
          </div>
        
        	{% comment %}
          {%- if block.settings.image_mobile != blank -%}
            <div class="image-text-full__image large--hide small-{{block.id}}">
              <div  style="background: url({{- block.settings.image_mobile | img_url: "700x" -}}); padding-top: {{ 1 | divided_by: block.settings.image_mobile.aspect_ratio | times: 100 }}%; background-size: cover; filter: brightness(90%); -webkit-filter: brightness(90%);"></div>            
              <div class="image-full-slider__btn-wrapper">
                <div class="image-full-slider__btn-position-m" style="margin-bottom: {{ block.settings.hero_button_mobile }}px">
                  {%- if block.settings.btn_1_text_m != blank and block.settings.btn_1_link_m != blank -%}
                    <a href="{{- block.settings.btn_1_link_m-}}" class="image-full-slider__btn-1-m{% unless block.settings.btn_1_m %} hide-image{% endunless %}">{{- block.settings.btn_1_text_m-}}</a>
                  {%- endif -%}

                  {%- if block.settings.btn_2_text_m != blank and block.settings.btn_2_link_m != blank -%}
                    <a href="{{- block.settings.btn_2_link_m-}}" class="image-full-slider__btn-2-m{% unless block.settings.btn_2_d %} hide-image{% endunless %}">{{- block.settings.btn_2_text_m-}}</a>
                    {%- else -%}
                  <style> 
                    .small-{{block.id}} .image-full-slider__btn-position-m{ 
                      bottom: 1%!important; 
                    }
                  </style>
                  <a href="#placeholder" style="visibility: hidden" class="image-full-slider__btn-2-m{% unless block.settings.btn_2_d %} hide-image{% endunless %}">placeholder text to align</a>
                  {%- endif -%}
                  
                </div>
              </div>
            </div>
          {%- endif -%}
        {% endcomment %}
        {%- endif %}
      </div>
    {%- endfor -%}
  </div>
</div> 


{% schema %}
  {
    "name": "Affiliates Hero",
    "settings": [
		{
			"type": "checkbox",
			"id": "hide_mobile",
			"label": "Hide section for mobile",
			"default": true
		  }
		],
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Desktop Image"
          },
 		  {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Mobile Image"
          },
          {
            "type": "checkbox",
            "id": "btn_1_d",
            "default": true,
            "label": "Enable 1 Button"
          },
		  {
			"type": "text",
			"id": "small_text",
			"label": "Small Text",
			"default": "become a brand affiliate"
		  },	
		  {
			"type": "text",
			"id": "big_text",
			"label": "Big Text",
			"default": "#Innermostinsider"
		  },
          {
            "type": "text",
            "id": "btn_1_text_d",
            "label": "Button 1 Text"
          },
          {
            "type": "url",
            "id": "btn_1_link_d",
            "label": "Button 1 Link"
          },
          {
            "type": "checkbox",
            "id": "btn_2_d",
            "default": true,
            "label": "Enable 2 Button"
          },
          {
            "type": "text",
            "id": "btn_2_text_d",
            "label": "Button 2 Text"
          },
          {
            "type": "url",
            "id": "btn_2_link_d",
            "label": "Button 2 Link"
          }  
        ]
      }
    ]
  }
{% endschema %}
