<div class="ambassadors-hero-new">
  <div class="ambassadors-hero-inner">
  	<img data-src="{{ section.settings.img_desk | img_url: 'x1500' }}" class="small--hide one-whole lazyload"/>
  	<img data-src="{{ section.settings.img_mob | img_url: 'x1500' }}" class="medium-up--hide one-whole lazyload "/>
    <h4 class="small-text">{{ section.settings.subtitle }}</h4>
    <h1 class="big-text">{{ section.settings.title }}</h1>
    <a class="btn" id="ambassadors-hero-btn-1" href="{{ section.settings.url1 }}">{{ section.settings.btn1 }}</a>
    <a class="btn" id="ambassadors-hero-btn-2" href="{{ section.settings.url2 }}">{{ section.settings.btn2 }}</a>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": [
		{
			"type": "image_picker",
			"id": "img_desk",
			"label": "Desktop Image"
		},
		{
			"type": "image_picker",
			"id": "img_mob",
			"label": "Mobile Image"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Title",
			"default": "#INNERMOSTINSIDER"
		},
		{
			"type": "text",
			"id": "subtitle",
			"label": "Subtitle",
			"default": "Become a brand ambassador"
		},
		{
			"type": "url",
			"id": "url1",
			"label": "Button 1 URL"
		},
		{
			"type": "text",
			"id": "btn1",
			"label": "Button 1 Text",
			"default": "SIGN UP"
		},
		{
			"type": "url",
			"id": "url2",
			"label": "Button 2 URL"
		},
		{
			"type": "text",
			"id": "btn2",
			"label": "Button 2 Text",
			"default": "LOG IN"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
