<div class="ambassadors-faqs-holder big-wrapper">
  <h1 class="master-title text-center">{{ section.settings.master_title_title }}</h1>
  {% for block in section.blocks %}
  <div class="section-holder {% if forloop.first %}first-block{% endif %} small--one-whole two-thirds medium-up--push--one-sixth">
    <div class="grid">
      <h2 class="sections-title grid__item one-whole">{{ block.settings.section_title }}</h2>
      {% if block.settings.question != blank and block.settings.answer != blank %}
       <div class="grid__item one-whole">
        <p class="ambassador_question">{{ block.settings.question }}</p>
        <div class="ambassador_answer {% if block.settings.answer contains "start-list-number" %}number-list{% elsif block.settings.answer contains "start-list-dots" %}dot-list{% endif %}">{{ block.settings.answer | replace: "-dots", "" | replace: "-number", "" | replace: "start-list", "<ul class='faq-ul'>" |  replace: "end-list", "</ul>" | replace: "start-item", "<li>" | replace: "end-item", "</li>" }}</div>
      </div>
      {% endif %}
      {% if block.settings.question2 != blank and block.settings.answer2 != blank %}
       <div class="grid__item one-whole">
        <p class="ambassador_question">{{ block.settings.question2 }}</p>
        <div class="ambassador_answer {% if block.settings.answer2 contains "start-list-number" %}number-list{% elsif block.settings.answer2 contains "start-list-dots" %}dot-list{% endif %}">{{ block.settings.answer2 | replace: "-dots", "" | replace: "-number", "" | replace: "start-list", "<ul class='faq-ul'>" |  replace: "end-list", "</ul>" | replace: "start-item", "<li>" | replace: "end-item", "</li>" }}</div>
      </div>
      {% endif %}
      {% if block.settings.question3 != blank and block.settings.answer3 != blank %}
       <div class="grid__item one-whole">
        <p class="ambassador_question">{{ block.settings.question3 }}</p>
        <div class="ambassador_answer {% if block.settings.answer3 contains "start-list-number" %}number-list{% elsif block.settings.answer3 contains "start-list-dots" %}dot-list{% endif %}">{{ block.settings.answer3 | replace: "-dots", "" | replace: "-number", "" | replace: "start-list", "<ul class='faq-ul'>" |  replace: "end-list", "</ul>" | replace: "start-item", "<li>" | replace: "end-item", "</li>" }}</div>
      </div>
      {% endif %}
      {% if block.settings.question4 != blank and block.settings.answer4 != blank %}
       <div class="grid__item one-whole">
        <p class="ambassador_question">{{ block.settings.question4 }}</p>
        <div class="ambassador_answer {% if block.settings.answer4 contains "start-list-number" %}number-list{% elsif block.settings.answer4 contains "start-list-dots" %}dot-list{% endif %}">{{ block.settings.answer4 | replace: "-dots", "" | replace: "-number", "" | replace: "start-list", "<ul class='faq-ul'>" |  replace: "end-list", "</ul>" | replace: "start-item", "<li>" | replace: "end-item", "</li>" }}</div>
      </div>
      {% endif %}
      {% if block.settings.question5 != blank and block.settings.answer5 != blank %}
       <div class="grid__item one-whole">
        <p class="ambassador_question">{{ block.settings.question5 }}</p>
        <div class="ambassador_answer {% if block.settings.answer5 contains "start-list-number" %}number-list{% elsif block.settings.answer5 contains "start-list-dots" %}dot-list{% endif %}">{{ block.settings.answer5 | replace: "-dots", "" | replace: "-number", "" | replace: "start-list", "<ul class='faq-ul'>" |  replace: "end-list", "</ul>" | replace: "start-item", "<li>" | replace: "end-item", "</li>" }}</div>
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}	
</div>
<style>
  .master-title {
    font-size: {{ section.settings.master_title }}px;
    padding-top: {{ section.settings.master_title_vertical_padding }}px;
    padding-bottom: {{ section.settings.master_title_vertical_padding }}px;
  }
  .sections-title {
  	font-size: {{ section.settings.font_size }}px;
  }
  {% for block in section.blocks %}
  .section-holder {
    padding-bottom: {{ block.settings.vertical_padding }}px;
  }
  {% break %}
  {% endfor %}
  @media (max-width: 700px) {
    .master-title {
      font-size: {{ section.settings.master_title_mobile }}px;
      padding-top: {{ section.settings.master_title_vertical_padding_mobile }}px;
      padding-bottom: {{ section.settings.master_title_vertical_padding_mobile }}px;
    }
  	.sections-title {
  	  font-size: {{ section.settings.font_size_mobile }}px;
    }
    {% for block in section.blocks %}
    .section-holder {
      padding-bottom: {{ block.settings.vertical_padding_mobile }}px;
    }
    {% break %}
    {% endfor %}
  }
</style>
{% schema %}
  {
    "name": "FAQs",
    "settings": [
	{
	  "type": "text",
	  "id": "master_title_title",
	  "label": "Master Title",
	  "default": "Innermost Refersion FAQs"
	},
    {
	  "type": "range",
	  "id": "master_title",
	  "min": 0,
	  "max": 100,
	  "step": 1,
	  "unit": "px",
	  "label": "Master title font size (in pixels)",
	  "default": 70
	},
	{
	  "type": "range",
	  "id": "master_title_mobile",
	  "min": 0,
	  "max": 70,
	  "step": 1,
	  "unit": "px",
	  "label": "Master title font size (in pixels) for mobile",
	  "default": 35
	},
	{
	  "type": "range",
	  "id": "master_title_vertical_padding",
	  "min": 0,
	  "max": 100,
	  "step": 1,
	  "unit": "px",
	  "label": "Master title vertical padding (in pixels)",
	  "default": 55
	},
	{
	  "type": "range",
	  "id": "master_title_vertical_padding_mobile",
	  "min": 0,
	  "max": 100,
	  "step": 1,
	  "unit": "px",
	  "label": "Master title vertical padding (in pixels) for mobile",
	  "default": 35
	},
	{
	  "type": "range",
	  "id": "font_size",
	  "min": 0,
	  "max": 100,
	  "step": 1,
	  "unit": "px",
	  "label": "Big titles font size (in pixels)",
	  "default": 50
	},
	{
	  "type": "range",
	  "id": "font_size_mobile",
	  "min": 0,
	  "max": 50,
	  "step": 1,
	  "unit": "px",
	  "label": "Big titles font size (in pixels) for mobile",
	  "default": 25
	}
  
  ],
  	 "blocks": [
  {
      "type": "Text",
      "name": "FAQ Section",
      "settings": [
	  {
    	"type": "range",
    	"id": "vertical_padding",
   	 	"min": 0,
    	"max": 100,
    	"step": 1,
    	"unit": "px",
    	"label": "Section's bottom padding",
    	"default": 55
	  },
	  {
    	"type": "range",
    	"id": "vertical_padding_mobile",
   	 	"min": 0,
    	"max": 100,
    	"step": 1,
    	"unit": "px",
    	"label": "Section's bottom padding on mobile",
    	"default": 20
	  },
	  {
		"type": "text",
		"id": "section_title",
		"label": "Section's Title"
	  },
	  {
		"type": "text",
		"id": "question",
		"label": "Question"
	  },
	  {
		"type": "richtext",
		"id": "answer",
		"label": "Answer"
	  },
	  {
		"type": "text",
		"id": "question2",
		"label": "Question"
	  },
	  {
		"type": "richtext",
		"id": "answer2",
		"label": "Answer"
	  },
	  {
		"type": "text",
		"id": "question3",
		"label": "Question"
	  },
	  {
		"type": "richtext",
		"id": "answer3",
		"label": "Answer"
	  },
	  {
		"type": "text",
		"id": "question4",
		"label": "Question"
	  },
	  {
		"type": "richtext",
		"id": "answer4",
		"label": "Answer"
	  },
	  {
		"type": "text",
		"id": "question5",
		"label": "Question"
	  },
	  {
		"type": "richtext",
		"id": "answer5",
		"label": "Answer"
	  }
  	]
  }
 ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
