<!-- /templates/page.liquid -->
<div class="About_page">
  
  {% for block in section.blocks %}
  <div class="about-grid aos-init">
    <div class="About_page_left About_page_left_2">
    {% if block.settings.About_subtitle != blank %}<h2>{{ block.settings.About_subtitle }}</h2>{% endif %}
      {% if block.settings.About_heading-top != blank or block.settings.About_heading-bottom != blank %}
        <h3 class="{% if forloop.index == 1 %} About_page_left_heading {% endif %}">
          <span style="text-align: left; line-height: 1.3; margin-top:  10px;">{{ block.settings.About_heading-top }}</span>
          <span style="text-align: right; line-height: 1.3;">{{ block.settings.About_heading-bottom }}</span>
        </h3>
      {% endif %}
      {% if block.settings.About_heading-small %}
        <h3 class="heading-small" style="font-size:{{ block.settings.About_heading-font }}px; line-height:{{ block.settings.About_heading-font }}px">{{ block.settings.About_heading-small }}</h3>
      {% endif %}
      {% if block.settings.About_para_1 %}
        <h4>{{ block.settings.About_para_1 }}</h4>
      {% endif %}
      
      {% if block.settings.About_para_1 %}
      <div class="amb-img-text-paragraph">
        <h5 style="margin-top: 30px;">{{ block.settings.About_para_2 }}</h5>
      </div>
      {% endif %}
      
      {% if block.settings.About_para_1 %}
        <h6>{{ block.settings.About_para_3 }}</h6>
      {% endif %}
      
    </div>
    
    <div class="About_page_right">
      {% if block.settings.About_img %}
        <img data-src="{{ block.settings.About_img | img_url : 'master' }}" class="lazyload">
      {% endif %}
    </div>
  </div>
  {% endfor %}
  
</div>


{% schema %}
  {
    "name": "Image With Text",
    "settings": [
      
    ],
	"blocks": [
      {
        "type": "feature",
        "name": "Text with Image",
        "settings": [
          
          {
            "type":"textarea",
            "id":"About_subtitle",
            "label":"Subtitle"
          },
          {
            "type":"text",
            "id":"About_heading-top",
            "label":"Heading Line 1 Right"
          },
          {
            "type":"text",
            "id":"About_heading-bottom",
            "label":"Heading Line 2 Left"
          },
		  {
            "type":"text",
            "id":"About_heading-small",
            "label":"Heading small"
          },
		  {
            "type": "range",
            "id": "About_heading-font",
            "min": 30,
            "max": 110,
            "step": 1,
            "unit": "px",
            "label": "Heading small font size",
			"default": 54
          },
          {
            "type":"richtext",
            "id":"About_para_1",
            "label":"Paragraph 1"
          },
          {
            "type":"richtext",
            "id":"About_para_2",
            "label":"Paragraph 2"
          },
          {
            "type":"richtext",
            "id":"About_para_3",
            "label":"Paragraph 3"
          },
          {
            "type":"image_picker",
            "id":"About_img",
            "label":"Right Side Image"
          }
          
        ]
      }
    ]
  }

{% endschema %}

