<div class="Banner_section Mob_Banner_section_1">
  <div class="lazy slider" data-sizes="50vw">
    {% if section.blocks.size > 0 %}
    {% for slide in section.blocks %}
    <div class="row1">
      <div id="banner_{{ slide.id }}" class="Banner_section_left row1_left" {% if slide.settings.banner_left or slide.settings.banner_left_bg != blank %} style="{% if slide.settings.banner_left %}background-image:url('{{ slide.settings.banner_left | img_url : '800x'}}'); {% endif %}{% if slide.settings.banner_left_bg != blank %}background-color: {{ slide.settings.banner_left_bg }};{% endif %}" role="img" aria-label="{{- slide.settings.banner_left.alt -}}" {% endif %} >
       <div class="banner_inside">
        {% if slide.settings.banner_left_prod != blank %}
          <a href="{{ slide.settings.banner_left_url }}" class="left-image-container">
             <img class="lazyload" data-src="{{ slide.settings.banner_left_prod | img_url : '500x' }}"  alt="{{- slide.settings.banner_left_prod.alt -}}"/>
          </a>
        {% endif %}
        <a href="{{ slide.settings.banner_left_url }}" class="left-banner-text-container">
          {% if slide.settings.banner_left_title != blank %}
            <h3>{{ slide.settings.banner_left_title }}</h3>
          {% endif %}
          {% if slide.settings.banner_left_subtitle != blank %}
            <h4>{{ slide.settings.banner_left_subtitle }}</h4>
          {% endif %}
          {% if slide.settings.banner_left_description != blank %}
            <p>{{ slide.settings.banner_left_description }}</p>
          {% endif %}
        </a>
        
        {% if slide.settings.banner_left_btn != blank %}
        <a href="{{ slide.settings.banner_left_url }}" class="slide_btn">{{ slide.settings.banner_left_btn }}</a>
        {% endif %}
        </div>
      </div>
      <div id="banner_{{ slide.id }}" class="Banner_section_right row1_right" {% if slide.settings.banner_right or slide.settings.banner_right_bg != blank %} style="{% if slide.settings.banner_right %}background-image:url('{{ slide.settings.banner_right | img_url : '800x'}}'); {% endif %}{% if slide.settings.banner_right_bg != blank %}background-color: {{ slide.settings.banner_right_bg }};{% endif %}" role="img" aria-label="{{- slide.settings.banner_right.alt -}}" {% endif %} >
          <div class="banner_inside">
        {% if slide.settings.banner_right_prod != blank %}
          <a href="{{ slide.settings.banner_right_url }}" class="right-image-container">
            <img class="lazyload" data-src="{{ slide.settings.banner_right_prod | img_url : '500x'}}" alt="{{ slide.settings.banner_right_prod.alt }}" />
          </a>
        {% endif %}
        <a href="{{ slide.settings.banner_right_url }}" class="right-banner-text-container">
          {% if slide.settings.banner_right_title != blank %}
            <h3>{{ slide.settings.banner_right_title }}</h3>
          {% endif %}
          {% if slide.settings.banner_right_title != blank %}
            <h4>{{ slide.settings.banner_right_subtitle }}</h4>
          {% endif %}
          {% if slide.settings.banner_right_description != blank %}
            <p>{{ slide.settings.banner_right_description }}</p>
          {% endif %}
        </a>
        {% if slide.settings.banner_right_btn != blank %}
        <a href="{{ slide.settings.banner_right_url }}" class="slide_btn">{{ slide.settings.banner_right_btn }}</a>
        {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
    
</div>

<div class="Banner_section Mob_Banner_section_2">
  <div class="Mobile-slider slider" data-sizes="50vw">
    {% if section.blocks.size > 0 %}
    {% for slider in section.blocks %}
      <div  class="mobile_Banner_section_left" >
        <div class="mobile_Banner_section_left_ll" {% if slider.settings.banner_left or slider.settings.banner_left_bg != blank %} style="{% if slider.settings.banner_left %}background-image:url('{{ slider.settings.banner_left | img_url : '800x'}}'); {% endif %}{% if slider.settings.banner_left_bg != blank %}background-color: {{ slider.settings.banner_left_bg }};{% endif %}" role="img" aria-label="{{- slide.settings.banner_left.alt -}}" {% endif %} >
        </div>
          {% if slider.settings.banner_left_prod != blank %}
          <a href="{{ slider.settings.banner_left_url }}" class="left-image-container">
             <img class="lazyload" data-src="{{ slider.settings.banner_left_prod | img_url : '500x' }}" alt="{{- slider.settings.banner_left_prod.alt -}}"/>
          </a>
        {% endif %}
        <a href="{{ slider.settings.banner_left_url }}" class="left-banner-text-container">
          {% if slider.settings.banner_left_title != blank %}
            <h3>{{ slider.settings.banner_left_title }}</h3>
          {% endif %}
          {% if slider.settings.banner_left_subtitle != blank %}
            <h4>{{ slider.settings.banner_left_subtitle }}</h4>
          {% endif %}
          {% if slider.settings.banner_left_description != blank %}
            <p>{{ slider.settings.banner_left_description }}</p>
          {% endif %}
        </a>
        
        {% if slider.settings.banner_left_btn != blank %}
        <a href="{{ slider.settings.banner_left_url }}" class="slide_btn">{{ slider.settings.banner_left_btn }}</a>
        {% endif %}
       
      </div>
      <div  class="mobile_Banner_section_right">
        <div class="mobile_Banner_section_right_22" {% if slider.settings.banner_right or slider.settings.banner_right_bg != blank %} style="{% if slider.settings.banner_right %}background-image:url('{{ slider.settings.banner_right | img_url : '800x'}}'); {% endif %}{% if slider.settings.banner_right_bg != blank %}background-color: {{ slider.settings.banner_right_bg }};{% endif %}"  role="img" aria-label="{{- slide.settings.banner_right.alt -}}" {% endif %}> 
        </div>
        {% if slider.settings.banner_right_prod != blank %}
          <a href="{{ slider.settings.banner_right_url }}" class="right-image-container">
            <img class="lazyload" data-src="{{ slider.settings.banner_right_prod | img_url : '500x'}}" alt="{{- slider.settings.banner_right_prod.alt -}}"/>
          </a>
        {% endif %}
        <a href="{{ slider.settings.banner_right_url }}" class="right-banner-text-container">
          {% if slider.settings.banner_right_title != blank %}
            <h3>{{ slider.settings.banner_right_title }}</h3>
          {% endif %}
          {% if slider.settings.banner_right_title != blank %}
            <h4>{{ slider.settings.banner_right_subtitle }}</h4>
          {% endif %}
          {% if slider.settings.banner_right_description != blank %}
            <p>{{ slider.settings.banner_right_description }}</p>
          {% endif %}
        </a>
        {% if slider.settings.banner_right_btn != blank %}
        <a href="{{ slider.settings.banner_right_url }}" class="slide_btn">{{ slider.settings.banner_right_btn }}</a>
        {% endif %}
      </div>
    {% endfor %}
    {% endif %}
  </div>
</div>

<style>
  .Banner_section_left,
  .Banner_section_right,
  .Mob_Banner_section_2_full{
    background-repeat:no-repeat;
    background-size:cover;
  }
    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }

	/*
    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    } */

    .slick-active {
      opacity: 1;
    }

    .slick-current {
       opacity: 1;
    }
  .row1 {
    width:100%;
    height:100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

 
</style>

{% schema %}
  {
    "name": "Banner Section",
    "settings": [
     {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Banner Section"
      }
     ],
     "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "type":"header",
            "content":"Banner Slider Left Content"
          },
          {
            "type":"image_picker",
            "id":"banner_left",
            "label":"Banner Background left Side Image"
          },
	      {
            "type":"color",
            "id":"banner_left_bg",
            "label":"Banner Background Color"
          },
          {
            "type":"image_picker",
            "id":"banner_left_prod",
            "label":"Banner Center Image"
          },
          {
            "type":"text",
            "id":"banner_left_title",
            "label":"Banner Title"
          },
		  {
            "type":"textarea",
            "id":"banner_left_subtitle",
            "label":"Banner Subtitle"
          },
		  {
            "type":"richtext",
            "id":"banner_left_description",
            "label":"Banner Description"
          },
          {
            "type":"text",
            "id":"banner_left_btn",
            "label":"Banner Button Text"
          },
          {
            "type":"url",
            "id":"banner_left_url",
            "label":"Banner Button Link"
          },
          {
            "type":"header",
            "content":"Banner Slider Right Content"
          },
          {
            "type":"image_picker",
            "id":"banner_right",
            "label":"Banner Background Right Side Image"
          },
	      {
            "type":"color",
            "id":"banner_right_bg",
            "label":"Banner Background Color"
          },
          {
            "type":"image_picker",
            "id":"banner_right_prod",
            "label":"Banner Center Image"
          },
          {
            "type":"text",
            "id":"banner_right_title",
            "label":"Banner Title"
          },
		  {
            "type":"textarea",
            "id":"banner_right_subtitle",
            "label":"Banner Subtitle"
          },
		  {
            "type":"richtext",
            "id":"banner_right_description",
            "label":"Banner Description"
          },
          {
            "type":"text",
            "id":"banner_right_btn",
            "label":"Banner Button Text"
          },
          {
            "type":"url",
            "id":"banner_right_url",
            "label":"Banner Button Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Banner Section",
        "category": "Slide"
      }
    ]
  }
{% endschema %}