<div class="careers_main">
  <div class="careers_full">
    <div class="careers_full_left">
      {% include 'breadcrumb' %}
      <h1>{{ section.settings.careers_heading }}</h1>
      {% if section.settings.content_heading_1 != blank %}
        <h5>{{ section.settings.content_heading_1 }}</h5>
        <p>{{ section.settings.content_text_1 }}</p>
      {% endif %}
       {% if section.settings.content_heading_2 != blank %}
      <h5>{{ section.settings.content_heading_2 }}</h5>
      <p>{{ section.settings.content_text_2 }}</p>
      {% endif %}
      {% if section.settings.content_heading_3 != blank %}
      <h5>{{ section.settings.content_heading_3 }}</h5>
      <p>{{ section.settings.content_text_3 }}</p>
      {% endif %}
       {% if section.settings.content_heading_4 != blank %}
      <h5>{{ section.settings.content_heading_4 }}</h5>
      <p>{{ section.settings.content_text_4 }}</p>
      {% endif %}
       {% if section.settings.content_heading_5 != blank %}
      <h5>{{ section.settings.content_heading_5 }}</h5>
      <p>{{ section.settings.content_text_5 }}</p>
      {% endif %}
       {% if section.settings.content_heading_6 != blank %}
      <h5>{{ section.settings.content_heading_6 }}</h5>
      <p>{{ section.settings.content_text_6 }}</p>
      {% endif %}
       {% if section.settings.content_heading_7 != blank %}
      <h5>{{ section.settings.content_heading_7 }}</h5>
      <p>{{ section.settings.content_text_7 }}</p>
      {% endif %}
       {% if section.settings.content_heading_8 != blank %}
      <h5>{{ section.settings.content_heading_8 }}</h5>
      <p>{{ section.settings.content_text_8 }}</p>
      {% endif %}
       {% if section.settings.content_heading_9 != blank %}
      <h5>{{ section.settings.content_heading_9 }}</h5>
      <p>{{ section.settings.content_text_9 }}</p>
      {% endif %}
       {% if section.settings.content_heading_10 != blank %}
      <h5>{{ section.settings.content_heading_10 }}</h5>
      <p>{{ section.settings.content_text_10 }}</p>
      {% endif %}
    </div>
    <div class="careers_full_right">
      {% if section.settings.Careers_images_1 != blank %}
      <img data-src="{{ section.settings.Careers_images_1 | img_url : 'master' }}" class="lazyload">
      {% endif %}
      {% if section.settings.Careers_images_2 != blank %}
      <img data-src="{{ section.settings.Careers_images_2 | img_url : 'master' }}" class="lazyload">
      {% endif %}
      {% if section.settings.Careers_images_3 != blank %}
      <img data-src="{{ section.settings.Careers_images_3 | img_url : 'master' }}" class="lazyload">
      {% endif %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Careers Section",
    "settings": [
    {
      "type": "text",
      "id": "careers_heading",
      "label": "Careers Header"
    },
    {
      "type":"header",
      "content":"Careers Left Side Description"
    },
    {
      "type": "text",
      "id": "content_heading_1",
      "label": "Content Heading 1"
    },
    {
      "type": "textarea",
      "id": "content_text_1",
      "label": "Content Text 1"
    },
    {
      "type": "text",
      "id": "content_heading_2",
      "label": "Content Heading 2"
    },
    {
      "type": "textarea",
      "id": "content_text_2",
      "label": "Content Text 2"
    },
	{
      "type": "text",
      "id": "content_heading_3",
      "label": "Content Heading 3"
    },
    {
      "type": "textarea",
      "id": "content_text_3",
      "label": "Content Text 3"
    },
	{
      "type": "text",
      "id": "content_heading_4",
      "label": "Content Heading 4"
    },
    {
      "type": "textarea",
      "id": "content_text_4",
      "label": "Content Text 4"
    },
	{	
      "type": "text",
      "id": "content_heading_5",
      "label": "Content Heading 5"
    },
    {
      "type": "textarea",
      "id": "content_text_5",
      "label": "Content Text 5"
    },
	{
      "type": "text",
      "id": "content_heading_6",
      "label": "Content Heading 6"
    },
    {
      "type": "textarea",
      "id": "content_text_6",
      "label": "Content Text 6"
    },
	{
      "type": "text",
      "id": "content_heading_7",
      "label": "Content Heading 7"
    },
    {
      "type": "textarea",
      "id": "content_text_7",
      "label": "Content Text 7"
    },
	{
      "type": "text",
      "id": "content_heading_8",
      "label": "Content Heading 8"
    },
    {
      "type": "textarea",
      "id": "content_text_8",
      "label": "Content Text 8"
    },
	{
      "type": "text",
      "id": "content_heading_9",
      "label": "Content Heading 9"
    },
    {
      "type": "textarea",
      "id": "content_text_9",
      "label": "Content Text 9"
    },
	{
      "type": "text",
      "id": "content_heading_10",
      "label": "Content Heading 10"
    },
    {
      "type": "textarea",
      "id": "content_text_10",
      "label": "Content Text 10"
    },
    {
      "type":"header",
      "content":"Careers Right Side Images"
    },
    {
      "type": "image_picker",
      "id": "Careers_images_1",
      "label": "Careers Right Image 1"
    },
    {
      "type": "image_picker",
      "id": "Careers_images_2",
      "label": "Careers Right Image 2"
    },
    {
      "type": "image_picker",
      "id": "Careers_images_3",
      "label": "Careers Right Image 3"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
