<div class="tailored-nutrition tailored-nutrition-{{ section.id }}">
  <div class="footer-wrapper tailored-nutrition one-whole">
    <div class="staircase-text one-third small--one-whole">
      {% if section.settings.str-1 != blank %}
      <h2 class="str-first medium1000-down--hide">{{ section.settings.str-1 }}</h2>
      {% endif %}
      {% if section.settings.str-2 != blank %}
      <h2 class="str-second medium1000-down--hide">{{ section.settings.str-2 }}</h2>
      {% endif %}
      {% if section.settings.str-3 != blank %}
      <h2 class="str-third medium1000-down--hide">{{ section.settings.str-3 }}</h2>
      {% endif %}
      {% if section.settings.str-mobile != blank %}
      <h2 class="medium1000-up--hide">{{ section.settings.str-mobile }}</h2>
      {% endif %}
    </div>
    <div class="tn-subtext two-thirds medium1000-down--one-whole">
      {% if section.settings.dolor_subheading != blank %}
      <div class="subtext">{{ section.settings.dolor_subheading | replace: 'desktopnewline', '<br class="medium1000-down--hide">' | replace: 'mobilenewline', '<br class="medium1000-up--hide">'}}</div>
      {% endif %}
      {% if section.settings.link and section.settings.link_text != blank %}
      <a id="tailored_nutrition_btn" class="innermost_front_btn btn medium1000-down--hide {% comment %}account--btn{% endcomment %}" href="{{ section.settings.link }}">{{ section.settings.link_text }}</a>
      {% endif %}
    </div>
  </div>
  <div class="tn-btn medium1000-up--hide">
    <a id="tailored_nutrition_btn" class="innermost_front_btn btn {% comment %}account--btn{% endcomment %}" href="{{ section.settings.link }}">{{ section.settings.link_text }}</a>
  </div>
</div>

<style>
  .tailored-nutrition-{{ section.id }}
  {
    overflow: hidden;
    background-color:{{ section.settings.dolor_color }};
    {% if section.settings.dolor_color_text %}
      color: {{ section.settings.dolor_color_text }};
    {% endif %}
  }
  
  .footer-wrapper.tailored-nutrition {
    display: flex;
    align-items: center;
    padding-bottom: 45px;
  }
  
  .staircase-text {
    font-size: {{ section.settings.staircase-text-font-size-desktop }}px;
  }
  
  .staircase-text h2 {
    text-align: left;
    line-height: 1;
    font-size: 1.4em; 
    
  }
  
  .str-second {
    margin-left: 16%;
  }
  
  .str-third {
    margin-left: 36%;
  }
  
  .tn-subtext {
    display: flex;
    flex-direction: column;
  }
  
  .subtext {
    text-align: center;
    font-size: {{ section.settings.subtext-font-size-desktop }}px;
    line-height: 1.4;
  }
  
  .innermost_front_btn {
    margin-top: 45px;
  }
  
  @media (min-width: 1000px) and (max-width: 1210px) {
    .subtext {
      font-size: 24px!important;
    }
  }
  
  @media(width:1000px) {
    h2.medium1000-up--hide {
      display: block!important;
    }
    
    .tn-btn.medium1000-up--hide {
      display: flex!important;
    }
  }
  
  @media (min-width: 600px) and (max-width: 800px) {
    .tn-subtext {
      max-width: 600px;
    }
  }
  
  #tailored_nutrition_btn {
    padding-left: 36px;
    padding-right: 36px;
  }
  
  .tailored-nutrition-{{ section.id }} h2
  {
    {% if section.settings.dolor_color_text %}
      color: {{ section.settings.dolor_color_text }};
    {% endif %}
  }
  
  @media (max-width: 1000px) {
    .staircase-text h2 {
      font-size: {{ section.settings.staircase-text-font-size-mobile }}px;
      margin-bottom: 10px;
      text-align: center;
    }
    
    .subtext {
      font-size: {{ section.settings.subtext-font-size-mobile }}px;
    }
    
    .footer-wrapper.tailored-nutrition {
      padding-bottom: 45px;
      flex-direction: column;
    }
    
    .tn-btn.medium1000-up--hide {
      margin-bottom: 45px;
      align-items: center;
      display: flex;
    }
    
    #tailored_nutrition_btn {
      margin-top: 0px;
    }
  }
  
  @media (max-width: 479px) {
    .footer-wrapper.tailored-nutrition {
      padding: 0;
      padding-top: 45px;
    }
    
    .subtext {
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }
    
    .tn-btn.medium1000-up--hide {
      margin-top: 45px;
    }
    
    .tn-subtext.medium1000-down--one-whole {
      width: 100%;
    }
  }
  
  @media (max-width: 800px) {
    .tn-subtext.medium1000-down--one-whole {
      width: 100%;
    }
  }
  
  @media (min-width: 800px) and (max-width: 1000px) {
    .staircase-text h2 {
      font-size: 26px;
    }
    
    .subtext {
      padding-top: 10px;
      font-size: 30px;
    }
    
    .footer-wrapper.tailored-nutrition {
      padding-top: 120px;
      padding-bottom: 45px;
    }
    
    .tn-btn.medium1000-up--hide {
      margin-bottom: 120px;
    }
    
    .tn-subtext.medium1000-down--one-whole {
      width: 75%;
    }
  }
</style>

{% schema %}
  {
    "name": "Tailored Nutrition",
    "settings": [
      {
        "type": "text",
        "id": "str-1",
        "label": "Staircase Text Row 1"
      },
      {
        "type": "text",
        "id": "str-2",
        "label": "Staircase Text Row 2"
      },
      {
        "type": "text",
        "id": "str-3",
        "label": "Staircase Text Row 3"
      },
	  {
		"type": "text",
		"id": "str-mobile",
		"label": "Heading Mobile"
	  },
      {
        "type": "range",
        "id": "staircase-text-font-size-desktop",
        "label": "Staircase Text Font-Size Desktop",
        "min": 20,
        "max": 120,
        "step": 1,
        "unit": "px",
        "default": 50			
      },
      {
        "type": "range",
        "id": "staircase-text-font-size-mobile",
        "label": "Heading Font-Size Mobile",
        "min": 10,
        "max": 110,
        "step": 1,
        "unit": "px",
        "default": 18			
      },	
      {
        "type":"color",
        "id":"dolor_color",
        "label":"Background Color",
        "default": "#f5f5f5"
      },
      {
        "type":"color",
        "id":"dolor_color_text",
        "label":"Text Color",
        "default": "#525252"
      },
      {
        "type":"textarea",
        "id":"dolor_subheading",
        "label":"Paragraph"
      },
      {
        "type": "range",
        "id": "subtext-font-size-desktop",
        "label": "Subtext Font-Size Desktop",
        "min": 10,
        "max": 110,
        "step": 1,
        "unit": "px",
        "default": 30			
      },	
      {
        "type": "range",
        "id": "subtext-font-size-mobile",
        "label": "Subtext Font-Size Mobile",
        "min": 10,
        "max": 110,
        "step": 1,
        "unit": "px",
        "default": 19			
      },
	  {
		"type": "url",
		"id": "link",
		"label": "Button Link"
	  },
	  {
		"type": "text",
		"id": "link_text",
		"default": "Learn More",
		"label": "Button Text"
      }
     ],
    "presets": [
      {
        "name": "Tailored Nutrition New",
        "category": "Text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
