<div class="first-result-header__wrapper" style="color: {{- section.settings.text_color -}}; background-color: {{- section.settings.background_color -}};">
  <div class="limiting-wrapper">
    {%- if section.settings.above_title != blank -%}
      <style>
        .first-result-header__above-title > p::before { background-color: {{- section.settings.text_color -}}; }
      </style>

      <div class="first-result-header__above-title">
        <p>{{- section.settings.above_title -}}</p>
      </div>
    {%- endif -%}
    
    {%- if section.settings.title != blank -%}
      <div class="first-result-header__title">
        <h2>
          {{- section.settings.title -}}
          <span id="custom-title"></span>
        </h2>
      </div>
    {%- endif -%}
    
    {%- if section.settings.subtitle != blank -%}
      <div class="first-result-header__subtitle">
        <p>{{- section.settings.subtitle -}}</p>
      </div>
    {%- endif -%}
    
    <div class="first-result-header__icons"></div>
    
    {%- if section.settings.btn_text != blank -%}
      <div class="first-result-header__button">
        <button type="button" class="add-all-to-cart" style="color: {{- section.settings.background_color -}}; background-color: {{- section.settings.text_color -}};">{{- section.settings.btn_text -}}</button>
      </div>
    {%- endif -%}
  </div>
</div>

<script type="text/html" id="header-icon-template">
  <div class="first-result-header__icon">
    <div class="first-result-header__icon-img">
      <img data-src="!{ iconImg }" alt="icon-image" class="lazyload">
    </div>
    <div class="first-result-header__icon-text">!{ iconText }</div>
  </div>
</script>

<script type="application/json" id="header-icons-info">
  {
    {%- for block in section.blocks -%}
      {%- if block.settings.product_name != blank -%}
        "{{- block.settings.product_name | handleize -}}": {
          "iconImg": "{{- block.settings.icon_img | img_url: '80x80' | replace: '"', '\"' -}}",
          "iconText": "{{- block.settings.icon_text | replace: '"', '\"' | strip_newlines -}}"
        }{%- unless forloop.last -%},{%- endunless -%}
      {%- endif -%}
    {%- endfor -%}
  }
</script>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#000"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#fff"
      },
      {
        "type": "header",
        "content": "Texts"
      },
      {
        "type": "text",
        "id": "above_title",
        "default": "Some above text..",
        "label": "Above title text"
      },
      {
        "type": "text",
        "id": "title",
        "default": "Some title..",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "subtitle",
        "default": "Some text..",
        "label": "Subtitle"
      },
      {
        "type": "header",
        "content": "Button"
      },
      {
        "type": "text",
        "id": "btn_text",
        "default": "Click",
        "label": "Button text"
      }
	  ],
    "blocks": [
      {
        "type": "icon",
        "name": "Icon",
        "settings": [
          {
            "type": "product",
            "id": "product_name",
            "label": "Product handle"
          },
          {
            "type": "image_picker",
            "id": "icon_img",
            "label": "Icon image",
            "info": "Will appear if an SVG is not set"
          },
          {
            "type": "text",
            "id": "icon_text",
            "default": "Name",
            "label": "Icon text"
          }
        ]
      }
    ]
  }
{% endschema %}