{%- include 'first-result-popup' -%}

<div id="first-result-collection">
  <div class="first-result-collection__wrapper first-result-collection__wrapper-loading">
    {%- include 'preloader' -%}
  </div>
</div>

{%- if section.settings.btn_text != blank -%}
  <div class="first-result-collection__button">
    <button type="button" class="add-all-to-cart" style="color: {{- section.settings.text_color -}}; background-color: {{- section.settings.background_color -}};">{{- section.settings.btn_text -}}</button>
  </div>
{%- endif -%}

<script type="text/html" id="collection-card-template">
  <div class="first-result-collection__border">
    <div class="first-result-collection__wrapper">
      <div class="first-result-collection__description">
        <h3 class="first-result-collection__description-title">!{ collectionName }</h3>
        <p class="first-result-collection__description-text">!{ collectionDescription }</p>
      </div>
      <div class="first-result-collection__products" data-collection-handle="!{ collectionName }">
      </div>
    </div>
  </div>
</script>

<script type="text/html" id="product-card-template-loading">
  <div class="recommend-product-card__loading" data-product-handle="!{ productHandle }">
    {%- include 'preloader' -%}
  </div>
</script>

<script type="text/html" id="product-card-template">
<div class="recommend-product-card__wrapper" data-product-id="!{ productId }" data-product-handle="!{ productHandle }">
  <div href="#!{ productHandle }" data-product-link="!{ productUrl }" class="card-whole-link">
    <div class="recommend-product-card__image">
      <img data-src="!{ productImage }" alt="Product image" class="lazyload">
    </div>
    <div class="recommend-product-card__text-holder">
      <div class="text-holder__description">
        <p>!{ productDescription }</p>
      </div>
      <div class="text-holder__recommend">
        <p>WE RECOMMEND</p>
        <h4>!{ productTitle }</h4>
      </div>
      <div class="text-holder__out-of-stock"> !{ outOfStock } </div>
      <div class="text-holder__link">
        {% comment %}
        <a href="#!{ productHandle }" data-product-link="!{ productUrl }">Learn More</a>
        {% endcomment%}
        <span>Learn More</span>
      </div>
    </div>
  </div>
</div>
</script>

<script type="text/html" id="popup-template">
  <div class="first-result-popup__content">
    <span class="x-mark"></span>
    <div class="popup-content__header">
      <div class="popup-content__header-title">!{ title }</div>
      <div class="popup-content__header-subtitle">!{ subtitle }</div>
    </div>
    <div class="popup-content__description">
      <div class="popup-content__description-text">!{ description_text }</div>
      <div class="popup-content__description-image">
        <img data-src="!{ description_image }" alt="Description image" class="lazyload">
      </div>
    </div>
    <div class="popup-content__list">
      <div class="popup-list__title">
        <span>!{ list_title }</span>
      </div>
      <div class="popup-list__list">
        <ul>
          {%- for item in (1..10) -%}
            <li !{ list_{{ item }} }>
              <img data-src="!{ list_image_{{ item }} }" alt="" class="lazyload" !{ list_image_style_{{ item }} }>
              <div class="popup-list__title-text">
                !{ list_text_{{ item }} }
              </div>
            </li>
          {%- endfor -%}
        </ul>
      </div>
      <div class="popup-list__general-image" !{ list_general_img_style }>
        <img data-src="!{ list_general_img }" alt="General image" class="lazyload">
      </div>
    </div>
    <div class="popup-list_circles">
      {%- for item in (1..6) -%}
        <div class="popup-list_circle" !{ circle_{{ item }} }>
          <span class="popup-list_circle-value" style="background-color:!{ circle_background_{{ item }} };">!{ circle_value_{{ item }} }</span>
          <span class="popup-list_circle-name">!{ circle_name_{{ item }} }</span>
        </div>
      {%- endfor -%}
    </div>
    <div class="popup-content__description popup-content__bottom_description">
      <div class="popup-content__description-image">
        <img data-src="!{ bottom_description_image }" alt="Description image" class="lazyload">
      </div>
      <div class="popup-content__description-text">!{ bottom_description_text }</div>
    </div>
    <div class="popup-footer__wrapper" style="background-color: !{ footer_background_color };">
      <div class="popup-footer__wrapper-left">
        <h2>!{ footer_left_title }</h2>
        <ul>
          {%- for item in (1..8) -%}
            <li !{ footer_li_{{ item }} }>
              {%- include 'icon-checkbox' -%}
              !{ footer_li_text_{{ item }} }
            </li>
          {%- endfor -%}
        </ul>
      </div>
      <div class="popup-footer__wrapper-right">
        <h2>!{ footer_right_title }</h2>
        <ul>
          {%- for item in (1..6) -%}
            <li !{ footer_img_{{ item }} }>
              <img data-src="!{ footer_image_{{ item }} }" alt="Image item" class="lazyload">
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
</script>

<script type="application/json" id="popup-info">
  {
    {%- assign products_info = section.blocks | where: 'type', 'popup' -%}

    {%- for block in products_info -%}
    "{{- block.settings.identificator -}}": {
      {%- if block.settings.identificator != blank -%}
          "title": "{{- block.settings.title | replace: '"', '\"' | strip_newlines -}}",
          "subtitle": "{{- block.settings.subtitle | replace: '"', '\"' | strip_newlines -}}",
          "description_text": "{{- block.settings.description_text | replace: '"', '\"' | strip_newlines -}}",
          "description_image": "{{- block.settings.description_image | img_url: '550x550' -}}",
          "list_title": "{{- block.settings.list_title | replace: '"', '\"' | strip_newlines -}}",
          
          "list_general_img_style": "{%- if block.settings.list_general_img == blank -%}style=\"display:none;\"{%- endif -%}",
          "list_general_img": "{{- block.settings.list_general_img | img_url: '800x500' -}}",

          {%- for item in (1..10) -%}
            {%- capture list_image -%}list_image_{{- item -}}{%- endcapture -%}
            {%- capture list_text -%}list_text_{{- item -}}{%- endcapture -%}

            "list_{{- item -}}": "{%- if block.settings[list_image] == blank and block.settings[list_text] == blank -%}style=\"display:none;\"{%- endif -%}",
            "list_image_{{- item -}}": "{{- block.settings[list_image] | img_url: '100x100'  -}}",
            "list_text_{{- item -}}": "{{- block.settings[list_text] | replace: '"', '\"' | strip_newlines -}}",
            "list_image_style_{{- item -}}": "{%- if block.settings[list_image] == blank -%}style=\"display:none;\"{%- endif -%}",
          {%- endfor -%}

          {%- for item in (1..6) -%}
            {%- capture circle_background -%}circle_background_{{- item -}}{%- endcapture -%}
            {%- capture circles_values -%}circles_values_{{- item -}}{%- endcapture -%}
            {%- assign circles_value = block.settings[circles_values] | split: '|' -%}

            "circle_{{- item -}}": "{%- if circles_value == blank -%}style=\"display:none;\"{%- endif -%}",
            "circle_background_{{- item -}}": "{{- block.settings[circle_background] -}}",
            "circle_value_{{- item -}}": "{{- circles_value | first | replace: '"', '\"' | strip_newlines -}}",
            "circle_name_{{- item -}}": "{{- circles_value | last | replace: '"', '\"' | strip_newlines -}}",
          {%- endfor -%}

          "bottom_description_image": "{{- block.settings.bottom_description_image | img_url: '550x550' -}}",
          {%- capture speech -%}<img data-src=\"{{- 'speech.png' | asset_url -}}\" class=\"lazyload\" >{%- endcapture -%}
          "bottom_description_text": "{{- block.settings.bottom_description_text | replace: '"', speech | strip_newlines -}}",

          "footer_background_color": "{{- block.settings.footer_background_color -}}",
          "footer_left_title": "{{- block.settings.footer_left_title | replace: '"', '\"' | strip_newlines -}}",
          "footer_right_title": "{{- block.settings.footer_right_title | replace: '"', '\"' | strip_newlines -}}",

          {%- for item in (1..8) -%}
            {%- capture footer_left_li -%}footer_left_li_{{- item -}}{%- endcapture -%}

            "footer_li_{{- item -}}": "{%- if block.settings[footer_left_li] == blank -%}style=\"display:none;\"{%- endif -%}",
            "footer_li_text_{{- item -}}": "{{- block.settings[footer_left_li] | replace: '"', '\"' | strip_newlines -}}",
          {%- endfor -%}

          {%- for item in (1..6) -%}
            {%- capture footer_right_img -%}footer_right_img_{{- item -}}{%- endcapture -%}

            "footer_img_{{- item -}}": "{%- if block.settings[footer_right_img] == blank -%}style=\"display:none;\"{%- endif -%}",
            "footer_image_{{- item -}}": "{{- block.settings[footer_right_img] | img_url: '180x80' -}}"{%- unless forloop.last -%},{%- endunless -%}
          {%- endfor -%}

        {%- endif -%}
      }{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  }
</script>

<script type="application/json" id="collection-description-info">
  {
    {%- assign collection_description = section.blocks | where: 'type', 'description' -%}

    {%- for block in collection_description -%}
      {%- if block.settings.collection_name != blank -%}
        "{{- block.settings.collection_name | handleize -}}": {
          "description": "{{- block.settings.description_text | replace: '"', '\"' | strip_newlines -}}"
        }{%- unless forloop.last -%},{%- endunless -%}
      {%- endif -%}
    {%- endfor -%}
  }
</script>

{% schema %}
  {
    "name": "Info",
    "settings": [
      {
        "type": "color",
        "id": "text_color",
        "label": "Button text color",
        "default": "#000"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Button background color",
        "default": "#fff"
      },
      {
        "type": "text",
        "id": "btn_text",
        "default": "Click",
        "label": "Button text"
      }
    ],
    "blocks": [
      {
        "type": "popup",
        "name": "Popup",
        "settings": [
          {
            "type": "product",
            "id": "identificator",
            "label": "Identificator product"
          },
          {
            "type": "header",
            "content": "Header"
          },
          {
            "type": "text",
            "id": "title",
            "default": "Some title..",
            "label": "Popup title"
          },
          {
            "type": "textarea",
            "id": "subtitle",
            "default": "Some subtitle..",
            "label": "Popup subtitle",
            "info": "Add a text in <span></span> tag to move on the next line with pushing to the right"
          },
          {
            "type": "header",
            "content": "Product description"
          },
          {
            "type": "textarea",
            "id": "description_text",
            "label": "Description text",
            "default": "Some description text.."
         },
         {
            "type": "image_picker",
            "id": "description_image",
            "label": "Description image"
          },
          {
            "type": "header",
            "content": "List"
          },
          {
            "type": "text",
            "id": "list_title",
            "default": "Some title..",
            "label": "List title"
          },
          {
            "type": "image_picker",
            "id": "list_general_img",
            "label": "List general image"
          },
          {
            "type": "image_picker",
            "id": "list_image_1",
            "label": "List image 1"
          },
          {
            "type": "richtext",
            "id": "list_text_1",
            "label": "List text 1",
            "default": "<p>Some <em>text</em> <a href=\"https://example.com/\">content</a></p>"
          },
          {
            "type": "image_picker",
            "id": "list_image_2",
            "label": "List image 2"
          },
          {
            "type": "richtext",
            "id": "list_text_2",
            "label": "List text 2",
            "default": "<p>Some <em>text</em> <a href=\"https://example.com/\">content</a></p>"
          },
          {
            "type": "image_picker",
            "id": "list_image_3",
            "label": "List image 3"
          },
          {
            "type": "richtext",
            "id": "list_text_3",
            "label": "List text 3",
            "default": "<p>Some <em>text</em> <a href=\"https://example.com/\">content</a></p>"
          },
          {
            "type": "image_picker",
            "id": "list_image_4",
            "label": "List image 4"
          },
          {
            "type": "richtext",
            "id": "list_text_4",
            "label": "List text 4",
            "default": "<p>Some <em>text</em> <a href=\"https://example.com/\">content</a></p>"
          },
          {
            "type": "image_picker",
            "id": "list_image_5",
            "label": "List image 5"
          },
          {
            "type": "richtext",
            "id": "list_text_5",
            "label": "List text 5",
            "default": "<p>Some <em>text</em> <a href=\"https://example.com/\">content</a></p>"
          },
          {
            "type": "image_picker",
            "id": "list_image_6",
            "label": "List image 6"
          },
          {
            "type": "richtext",
            "id": "list_text_6",
            "label": "List text 6",
            "default": "<p>Some <em>text</em> <a href=\"https://example.com/\">content</a></p>"
          },
          {
            "type": "image_picker",
            "id": "list_image_7",
            "label": "List image 7"
          },
          {
            "type": "richtext",
            "id": "list_text_7",
            "label": "List text 7",
            "default": "<p>Some <em>text</em> <a href=\"https://example.com/\">content</a></p>"
          },
          {
            "type": "image_picker",
            "id": "list_image_8",
            "label": "List image 8"
          },
          {
            "type": "richtext",
            "id": "list_text_8",
            "label": "List text 8",
            "default": "<p>Some <em>text</em> <a href=\"https://example.com/\">content</a></p>"
          },
		   {
            "type": "image_picker",
            "id": "list_image_9",
            "label": "List image 9"
          },
          {
            "type": "richtext",
            "id": "list_text_9",
            "label": "List text 9",
            "default": "<p>Some <em>text</em> <a href=\"https://example.com/\">content</a></p>"
          },
		   {
            "type": "image_picker",
            "id": "list_image_10",
            "label": "List image 10"
          },
          {
            "type": "richtext",
            "id": "list_text_10",
            "label": "List text 10",
            "default": "<p>Some <em>text</em> <a href=\"https://example.com/\">content</a></p>"
          },
          {
            "type": "header",
            "content": "Circles"
          },
          {
            "type": "text",
            "id": "circles_values_1",
            "label": "Value|Name 1",
            "default": "29g|PROTEIN",
            "info": "Divide values and name by |"
          },
          {
            "type": "color",
            "id": "circle_background_1",
            "label": "Background color 1",
            "default": "#ccc"
          },
          {
            "type": "text",
            "id": "circles_values_2",
            "label": "Value|Name 2",
            "info": "Divide values and name by |"
          },
          {
            "type": "color",
            "id": "circle_background_2",
            "label": "Background color 2",
            "default": "#ccc"
          },
          {
            "type": "text",
            "id": "circles_values_3",
            "label": "Value|Name 3",
            "info": "Divide values and name by |"
          },
          {
            "type": "color",
            "id": "circle_background_3",
            "label": "Background color 3",
            "default": "#ccc"
          },
          {
            "type": "text",
            "id": "circles_values_4",
            "label": "Value|Name 4",
            "info": "Divide values and name by |"
          },
          {
            "type": "color",
            "id": "circle_background_4",
            "label": "Background color 4",
            "default": "#ccc"
          },
          {
            "type": "text",
            "id": "circles_values_5",
            "label": "Value|Name 5",
            "info": "Divide values and name by |"
          },
          {
            "type": "color",
            "id": "circle_background_5",
            "label": "Background color 5",
            "default": "#ccc"
          },
          {
            "type": "text",
            "id": "circles_values_6",
            "label": "Value|Name 6",
            "info": "Divide values and name by |"
          },
          {
            "type": "color",
            "id": "circle_background_6",
            "label": "Background color 6",
            "default": "#ccc"
          },
          {
            "type": "header",
            "content": "Bottom description"
          },
          {
            "type": "image_picker",
            "id": "bottom_description_image",
            "label": "Description image"
          },
          {
            "type": "textarea",
            "id": "bottom_description_text",
            "label": "Description text",
            "default": "Some description text.."
          },
          {
            "type": "header",
            "content": "Footer"
          },
          {
            "type": "color",
            "id": "footer_background_color",
            "label": "Footer background color",
            "default": "#ffffff"
          },
          {
            "type": "text",
            "id": "footer_left_title",
            "label": "Footer list title"
          },
          {
            "type": "text",
            "id": "footer_left_li_1",
            "label": "Footer list item 1"
          },
          {
            "type": "text",
            "id": "footer_left_li_2",
            "label": "Footer list item 2"
          },
          {
            "type": "text",
            "id": "footer_left_li_3",
            "label": "Footer list item 3"
          },
          {
            "type": "text",
            "id": "footer_left_li_4",
            "label": "Footer list item 4"
          },
          {
            "type": "text",
            "id": "footer_left_li_5",
            "label": "Footer list item 5"
          },
          {
            "type": "text",
            "id": "footer_left_li_6",
            "label": "Footer list item 6"
          },
          {
            "type": "text",
            "id": "footer_left_li_7",
            "label": "Footer list item 7"
          },
          {
            "type": "text",
            "id": "footer_left_li_8",
            "label": "Footer list item 8"
          },
          {
            "type": "text",
            "id": "footer_right_title",
            "label": "Footer images title"
          },
          {
            "type": "image_picker",
            "id": "footer_right_img_1",
            "label": "Footer image 1"
          },
          {
            "type": "image_picker",
            "id": "footer_right_img_2",
            "label": "Footer image 2"
          },
          {
            "type": "image_picker",
            "id": "footer_right_img_3",
            "label": "Footer image 3"
          },
          {
            "type": "image_picker",
            "id": "footer_right_img_4",
            "label": "Footer image 4"
          },
          {
            "type": "image_picker",
            "id": "footer_right_img_5",
            "label": "Footer image 5"
          },
          {
            "type": "image_picker",
            "id": "footer_right_img_6",
            "label": "Footer image 6"
          }
        ]
      },
      {
        "type": "description",
        "name": "Description",
        "settings": [
          {
            "type": "text",
            "id": "collection_name",
            "label": "Collection name"
          },
          {
            "type": "textarea",
            "id": "description_text",
            "label": "Collection description"
          }
        ]
      }
    ]
  }
{% endschema %}