<div class="half-hero__wrapper">
  {% if section.settings.link != blank %}
    <a href="{{ section.settings.link }}">
  {% endif %}
  
  {% if section.settings.l_image != blank %}
    <a href="{{ section.settings.l_link }}" class="half-hero__image-left">{{ section.settings.l_image | img_url: "2000x2000" | img_tag }}</a>
  {% endif %}
  {% if section.settings.r_image != blank %}
    <a href="{{ section.settings.r_link }}" class="half-hero__image-right">{{ section.settings.r_image | img_url: "2000x2000" | img_tag }}</a>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Half hero",
    "settings": [
      {
        "type": "image_picker",
        "id": "l_image",
        "label": "Left image"
      },
      {
        "type": "image_picker",
        "id": "r_image",
        "label": "Right image"
      },
      {
        "type": "url",
        "id": "l_link",
        "label": "Left Link"
      },
  	  {
        "type": "url",
        "id": "r_link",
        "label": "Right Link"
      }
	],
    "presets": [
      {
        "name": "Half hero",
        "category": "Image"
      }
    ]
  }
{% endschema %}
