<div class="about-values icons-text__wrapper"{% if section.settings.background %} style="padding-top: {{ section.settings.padding_vertical }}px; padding-bottom: {{ section.settings.padding_vertical }}px; background-color: {{ section.settings.background }};"{% endif %}>
  <div class="icons-text__inner">
    {% if section.settings.title != blank %}
    <div class="icons-text__heading ">
      <h2 class="heading-small" style="font-size:{{ section.settings.title-font }}px; line-height:{{ section.settings.title-font }}px">{{ section.settings.title }}</h2>
    </div>
	{% endif %}
    
    {% if section.blocks.size > 0 %}
    <div class="icons__wrapper big-wrapper">
      <div class="grid" >
      {% for block in section.blocks %}
        
      {% if block.type == 'value' %}
      <div class="grid__item large--one-third text-center medium-down--one-whole icon-block text-left small--text-center {% unless forloop.last %} medium-down--margin-bottom-medium {% endunless %}">
		<div class="icon__wrapper">
          {% if block.settings.icon_svg_code != blank %}
          	{{ block.settings.icon_svg_code }}
          
          {% elsif block.settings.icon_svg_link != blank %}
          	<img data-src="{{ block.settings.icon_svg_link }}" class="lazyload">
          {% elsif block.settings.icon_img != blank %}
          	<img id="hiw-ambassadors-img" src="{{ block.settings.icon_img | img_url: 'x450' }}">
          {% endif %}
        </div>
        
        {% if block.settings.icon_subheading != blank or block.settings.icon_subtext != blank %}
        <div class="icon__meta">
          {% if block.settings.icon_subheading != blank %}
          <div class="icon__meta-subheading h4">{{ block.settings.icon_subheading }}</div>
          {% endif %}
          {% if block.settings.icon_subtext != blank %}
          <div class="icon__meta-subtext">{{ block.settings.icon_subtext }}{% if block.settings.show_star %}<span class="star-custom">*</span>{% endif %}</div>
          {% endif %}
        </div>
        {% endif %}
        	{% if block.settings.add_icons == true %}
       	  <div class="bottom-icons">
              <a href="https://www.instagram.com/liveinnermost/" target="_blank" style="margin-right: 10px;">{% include 'instagram-logo' %}</a>
              <a href="https://www.facebook.com/liveinnermost/" target="_blank">{% include 'facebook-logo' %}</a>
          	</div>
        {% endif %}
      
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
        {% endif %}

</div>
</div>
{% schema %}
{
  "name": "How It Works",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
	{
      "type": "range",
      "id": "title-font",
      "min": 30,
      "max": 120,
      "step": 1,
      "unit": "px",
      "label": "Title font size",
      "default": 54
    }
  ],
  "blocks": [
    {
      "type": "value",
      "name": "Value",
      "settings": [
        {
          "type": "header",
          "content": "Value Image"
        },
        {
          "type": "textarea",
          "id": "icon_svg_code",
          "label": "SVG Code"
        },
        {
          "type": "text",
          "id": "icon_svg_link",
          "label": "SVG Link"
        },
        {
          "type": "image_picker",
          "id": "icon_img",
          "label": "Icon Image"
        },
        {
          "type": "header",
          "content": "Meta Texts"
        },
        {
          "type": "text",
          "id": "icon_subheading",
          "label": "Subheading"
        },
        {
          "type": "textarea",
          "id": "icon_subtext",
          "label": "Subtext"
        },
		{
			"type": "checkbox",
			"id": "add_icons",
			"label": "Add Social Icons?",
			"default": true
		},
		{
		  "type": "checkbox", 
		  "id" :  "show_star",
		  "label": "Show star?",
		  "default" : false
		}
      ]
    },
    {
      "type": "row-end",
      "name": "Row End"
    }
  ]
}
{% endschema %}