
<div class="image-full-slider__wrapper {% if section.settings.hide_mobile == true %} small--hide {% endif %}">
  <div class="image-full-slider__slider">
    {%- for block in section.blocks -%}
    {% assign color_only = block.settings.header | split: "#" %}
    {% capture colored_word %}
    	<span class="hero-colored-word"
              style="color:#{{ color_only[2] }};">
    {% endcapture %}
      <div class="image-full-slider__slide">
        {%- if block.settings.image != blank -%}
          <div class="image-text-full__image{% if block.settings.image_mobile != blank %} medium1000-down--hide{% endif %}">
            <div class="parallax-container">
              <div class="parallax-image">
              </div>
            </div>
            <style>
              .parallax-container {
                height: 100%;
              }

              .parallax-image {
                /* The image used */
                background-image: url({{- block.settings.image | img_url: "1920x" -}});

                /* Set a specific height */
                height: 0;
                padding-top: 53%;
                display: table;
                width: 100%;

                /* Create the parallax scrolling effect */
             //  background-attachment: fixed;
                background-repeat: no-repeat;
                background-size: cover; 
                
                /* On scroll move with different speed, but also make a little zoom
                   - the "scale" value controls the speed - usually between scale(0.80) and scale(1.6) 
                   - greater scale means faster move
                */
/*                 transform: translateZ(-1px) scale(1.1); */
              }

              @media (max-width: 1400px) and (max-height: 1500px) {
                .parallax-image {
                  background-size: contain;
                }
              }
                
              @media (max-width: 1400px) and (max-height: 600px) {
                .parallax-image {
                  background-size: cover;
                }
              }
                
              @media (min-width: 1001px) {
                .parallax-image {
                  background-position-x: right;
                }
              }
              

            </style>
            <div class="image-full-slider__btn-wrapper">
              <div class="hero__slider-text-wrap">
                <div class="hero__slider-wrapper">
                  <div class="hero__slider-text-aligned">
                    <div class="hero__slider-text-shadow">
                      <h2 data-aos="fade-up"
                          data-aos-anchor-placement="top-bottom"
                          data-aos-delay="400"
                          data-aos-once="true"
                          data-aos-duration="700"
                          class="hero__slider-text-header">{{ block.settings.header | replace: "desktopnewline", "<br class='small--hide'>" | replace: '#', '' | replace: color_only[2], "" | replace: "startcolor", colored_word | replace: "endcolor", "</span>"}}</h2>
                      <div data-aos="fade-up"
                           data-aos-anchor-placement="top-bottom"
                           data-aos-delay="400"
                           data-aos-once="true"
                           data-aos-duration="700"
                           class="hero__slider-text-richtext">{{ block.settings.description | replace: "desktopnewline", "<br class='small--hide'>" }}</div>
                    </div>
                    <div data-aos="fade-up"
                         data-aos-anchor-placement="top-bottom"
                         data-aos-delay="650"
                         data-aos-once="true"
                         data-aos-duration="700"
                         class="image-full-slider__btn-position">
                      {%- if block.settings.btn_1_text_d != blank and block.settings.btn_1_link_d != blank -%}
                      <a href="{{- block.settings.btn_1_link_d-}}" class="image-full-slider__btn-1-d{% unless block.settings.btn_1_d %} hide-image{% endunless %}">{{- block.settings.btn_1_text_d-}}</a>
                      {%- endif -%}

                      {%- if block.settings.btn_1_d != blank and block.settings.btn_2_link_d != blank -%}
                      <a href="{{- block.settings.btn_2_link_d-}}" class="image-full-slider__btn-2-d{% unless block.settings.btn_2_d %} hide-image{% endunless %}">{{- block.settings.btn_2_text_d-}}</a>
                      {%- else -%}
                      <a href="#placeholder" style="visibility: hidden" class="image-full-slider__btn-2-d{% unless block.settings.btn_2_d %} hide-image{% endunless %}">Placeholder text to align</a>
                      {%- endif -%}
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        
          {%- if block.settings.image_mobile != blank -%}
            <div class="image-text-full__image medium1000-up--hide small-{{block.id}}">
              <div class="properties hide" style="background-image: url({{ block.settings.image_mobile | img_url: "700x" }}); height: 1000px; background-size: 100%; background-position: 0px 60%;"></div>
               <img class="hero-mobile-img" src="{{- block.settings.image_mobile | img_url: "700x" -}}" alt="{{- block.settings.image_mobile.alt -}}">              
              <div class="image-full-slider__btn-wrapper">
                <div class="hero__slider-text-wrap">
                  <div class="hero__slider-wrapper">
                    <div class="hero__slider-text-aligned">
                      <div class="hero__slider-text-shadow">
                        <h2 data-aos="fade-up"
                            data-aos-anchor-placement="top-bottom"
                            data-aos-delay="400"
                            data-aos-once="true"
                            data-aos-duration="700"
                            class="hero__slider-text-header">{{ block.settings.header_mobile | replace: "mobilenewline", "<br>" | replace: '#', '' | replace: color_only[2], "" | replace: "startcolor", colored_word | replace: "endcolor", "</span>"}}</h2>
                        <div data-aos="fade-up"
                             data-aos-anchor-placement="top-bottom"
                             data-aos-delay="400"
                             data-aos-once="true"
                             data-aos-duration="700"
                             class="hero__slider-text-richtext">{{ block.settings.description_mobile | replace: "mobilenewline", "<br>" }}</div>
                      </div>
                      <div data-aos="fade-up"
                           data-aos-anchor-placement="top-bottom"
                           data-aos-delay="650"
                           data-aos-once="true"
                           data-aos-duration="700" class="image-full-slider__btn-position-m" style="margin-bottom: {{ block.settings.hero_button_mobile }}px">
                        {%- if block.settings.btn_1_text_m != blank and block.settings.btn_1_link_m != blank -%}
                        <a href="{{- block.settings.btn_1_link_m-}}" class="image-full-slider__btn-1-m{% unless block.settings.btn_1_m %} hide-image{% endunless %}">{{- block.settings.btn_1_text_m-}}</a>
                        {%- endif -%}

                        {%- if block.settings.btn_2_text_m != blank and block.settings.btn_2_link_m != blank -%}
                        <a href="{{- block.settings.btn_2_link_m-}}" class="image-full-slider__btn-2-m{% unless block.settings.btn_2_d %} hide-image{% endunless %}">{{- block.settings.btn_2_text_m-}}</a>
                        {%- else -%}
                        <style> 
                          .small-{{block.id}} .image-full-slider__btn-position-m{ 
                            bottom: 1%!important; 
                          }
                        </style>
                        <a href="#placeholder" style="visibility: hidden" class="image-full-slider__btn-2-m{% unless block.settings.btn_2_d %} hide-image{% endunless %}">placeholder text to align</a>
                        {%- endif -%}

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {%- endif -%}
        {%- endif %}
      </div>
    {%- endfor -%}
  </div>
</div> 
    
<script>
  $(document).ready(function () {
    
//     gsap.defaults({
//       ease: "power2.inOut"
//     });
    
//     var section = $(".parallax-image");
//     var timeline = new gsap.timeline();
    
//     timeline.fromTo(section, { y: 0 }, { y: "+=5%", duration: 2.5 }, 0);
    
//     ScrollTrigger.create({
//       trigger: section,
//       animation: timeline,
//       start: "top top",
//       end: "bottom bottom",
//       scrub: 2,
//       markers: true,
//       pin: true
//     });
    
    const mobile_img = $('.hero-mobile-img');
    const properties_hide = $('.properties.hide');
    
    
    if ($(window).width() <= 1000 && $(window).height() >= 900 && $(window).width() >= 480) {
      console.log('here1');
      $(mobile_img).addClass('hide');
      $(properties_hide).removeClass('hide');
    }
    
    const image_div = $('.image-text-full__image.medium1000-up--hide');
    const image = $(image_div).find('img');
    const image_div_background = $('.properties.hide').css('background-image');
    
    
    if (window.screen.width > 500 && window.screen.width <= 1000) {
            console.log('here2');
      $(image_div).find('img').remove();
      $(image_div).css({
        "background-image": image_div_background,
        "background-size": "100%",
        "background-position": "0px 60%",
        "height": "1000px"
      });
    } else {
      $(image_div).css('background', 'none');
    }

    window.onresize = function(event) {

      if($(window).width() > 480 && $(window).height() < 900){
              console.log('here3');

                $(mobile_img).addClass('hide');
        $(properties_hide).removeClass('hide');
        
      }
      else if ($(window).width() <= 1000 && $(window).height() >= 900) {
              console.log('here4');

        $(mobile_img).addClass('hide');
        $(properties_hide).removeClass('hide');
      } else {
        $(mobile_img).removeClass('hide');
        $(properties_hide).addClass('hide');
      }
      
      if (window.screen.width > 500 && window.screen.width <= 1000) {
              console.log('here5');

        $(image_div).find('img').remove();
        $(image_div).css({
          "background-image": image_div_background,
          "background-size": "100%",
          "background-position": "0px 60%",
          "height": "1000px"
        });
      } else {
        $(image_div).append(image);
        $(image_div).css('background', 'none');
      }
    };
    
      (() => {

       AOS.init();

      $('.image-full-slider__slider').slick({
        infinite: true,
        arrows: true,
        adaptiveHeight: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 8000,
        responsive: [
          {
            breakpoint: 767,
            settings: {
              infinite: true,
              arrows: true,
              adaptiveHeight: true,
              slidesToShow: 1,
              slidesToScroll: 1,
              autoplay: true,
            }
          }
        ]
      })

    })()
  })
</script>

{% schema %}
  {
    "name": "Image full slider",
    "settings": [
		{
			"type": "checkbox",
			"id": "hide_mobile",
			"label": "Hide section for mobile",
			"default": true
		  }
		],
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
		  
          {
            "type": "header",
            "content": "Desktop"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Desktop Image"
          },
          {
          "type": "text",
          "id": "header",
          "label": "Heading"
          },
          {
          "type": "richtext",
          "id": "description",
          "label": "Description"
          },
          {
            "type": "checkbox",
            "id": "btn_1_d",
            "default": true,
            "label": "Enable 1 Button"
          },
          {
            "type": "text",
            "id": "btn_1_text_d",
            "label": "Button 1 Text"
          },
          {
            "type": "url",
            "id": "btn_1_link_d",
            "label": "Button 1 Link"
          },
          {
            "type": "checkbox",
            "id": "btn_2_d",
            "default": true,
            "label": "Enable 2 Button"
          },
          {
            "type": "text",
            "id": "btn_2_text_d",
            "label": "Button 2 Text"
          },
          {
            "type": "url",
            "id": "btn_2_link_d",
            "label": "Button 2 Link"
          },
          {
            "type": "header",
            "content": "Mobile"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Mobile Image"
          },
          {
          "type": "text",
          "id": "header_mobile",
          "label": "Mobile Heading"
          },
          {
          "type": "richtext",
          "id": "description_mobile",
          "label": "Mobile Description"
          },
          {
            "type": "checkbox",
            "id": "btn_1_m",
            "default": true,
            "label": "Enable 1 Button"
          },
          {
            "type": "text",
            "id": "btn_1_text_m",
            "label": "Button 1 Text"
          },
          {
            "type": "url",
            "id": "btn_1_link_m",
            "label": "Button 1 Link"
          },
          {
            "type": "checkbox",
            "id": "btn_2_m",
            "default": true,
            "label": "Enable 2 Button"
          },
          {
            "type": "text",
            "id": "btn_2_text_m",
            "label": "Button 2 Text"
          },
          {
            "type": "url",
            "id": "btn_2_link_m",
            "label": "Button 2 Link"
          },
		  {
			"type": "range",
			"id": "hero_button_mobile",
		  	"label": "Buttons bottom space (in pixels)",
			"min": 0,
			"max": 100,
			"step": 2,
			"unit": "px",
			"default": 0			
		  }		  
        ]
      }
    ],
    "presets": [
      {
        "name": "Image full slider",
        "category": "Image"
      }
    ]
  }
{% endschema %}
