<div class="index-section-default index-section-default-larger-padding">
  <div class="icon_n_text_wrapper">
    {% for item in section.blocks %}
      <div class="icon_n_text_item">
        {% if item.settings.icon_svg != blank %}
          {{ item.settings.icon_svg }}
        {% elsif item.settings.icon != blank %}
          <img
             data-src="{{ item.settings.icon | img_url: "100x"}}"
             class="lazyload lazyload-fade"
             data-ratio="{{ item.settings.icon.aspect_ratio }}"
             data-sizes="auto"
             alt="{{- item.settings.icon.alt -}}"
          >
        {% endif %}

        {% if item.settings.title != blank %}
          <h2 class="icon_n_text_item_title">{{ item.settings.title }}</h2>
        {% endif %}
      
        {% if item.settings.description != blank %}
          <div class="icon_n_text_item_description">
            {{ item.settings.description }}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

<style>
  #shopify-section-{{ section.id }}
  {
    background-color:{{ section.settings.dolor_color }};
    {% if section.settings.dolor_color_text %}
      color: {{ section.settings.dolor_color_text }};
    {% endif %}
  }
  #shopify-section-{{ section.id }} svg * {
    {% if section.settings.dolor_color_text %}
      fill: {{ section.settings.dolor_color_text }};
    {% endif %}
  }
</style>

{% schema %}
  {
    "name": "Icons + text section",
    "settings": [
      {
        "type":"color",
        "id":"dolor_color",
        "label":"Background Color",
        "default": "#f5f5f5"
      },
      {
        "type":"color",
        "id":"dolor_color_text",
        "label":"Text Color",
        "default": "#525252"
      }
    ],
    "blocks": [
      {
        "type": "icon_n_text",
        "name": "Icon + text",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          },
          {
            "type": "textarea",
            "id": "icon_svg",
            "label": "Svg icon name",
            "info": "used instead of the image icon"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Icons + text section",
        "category": "Text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
