<!-- /templates/page.liquid -->
<div class="About_page">
  
  <div class="about-grid">
    <div class="About_page_left About_page_left_2">
      {% if section.settings.heading-top != blank or section.settings.heading-bottom != blank %}
        <h3>
          <span class="link-first-string">{{ section.settings.heading-top }}</span>
          <span class="link-second-string">{{ section.settings.heading-bottom }}</span>
        </h3>
      {% endif %}      
      {% if section.settings.subtext %}
        <div class="links-subtext">{{ section.settings.subtext }}</div>
      {% endif %}
      
      <div class="links-buttons">
        {% for block in section.blocks %}
          <a href="{{ block.settings.link }}" class="link-btn">{{ block.settings.btn-text }}</a>
        {% endfor %}
      </div>
    </div>
    
    <div class="About_page_right">
      {% if section.settings.big_img %}
        <img data-src="{{ section.settings.big_img | img_url : 'master' }}" class="lazyload">
      {% endif %}
    </div>
  </div>
  
</div>


{% schema %}
  {
    "name": "Links Page",
    "settings": [
      {
        "type":"text",
        "id":"heading-top",
        "label":"Links Heading Line 1 Left"
      },
      {
        "type":"text",
        "id":"heading-bottom",
        "label":"Links Heading Line 2 Right"
      },
      {
        "type":"richtext",
        "id":"subtext",
        "label":"Links subtext"
      },
      {
        "type":"image_picker",
        "id":"big_img",
        "label":"Right Side Image"
	  }
    ],
	"blocks": [
      {
        "type": "button",
        "name": "Button",
        "settings": [
          {
            "type":"text",
            "id":"btn-text",
            "label":"Button text"
          },
          {
            "type":"url",
            "id":"link",
            "label":"Button link"
          }
        ]
      }
    ]
  }

{% endschema %}

