{% assign heading = section.settings.homepage_newsletter_title | default: false %}

{% assign subheading = section.settings.homepage_newsletter_body | default: false %}

<section class="newsletter-block inline-subscribe table aos-init" data-aos="fade-in" {% if section.settings.homepage_newsletter_image != blank %} role="img" aria-label="{{- section.settings.homepage_newsletter_image.alt -}}" {% endif %}>
  <div class='display-table-cells newsletter_main'>
    <div class="cell-wrapper text-center">
      {% comment %}
      {% if heading %}
        <h2>{{ section.settings.homepage_newsletter_title }}JOIN THE CIRCLE</h2>
      {% endif %}

      {% if subheading %}
        <div>
          {{ subheading }}
        </div>
      {% endif %}
      {% endcomment %}
      
      {% if section.settings.homepage_newsletter_title != blank %}
        <h2>{{ section.settings.homepage_newsletter_title }}</h2>
      {% endif %}
      
      {% if section.settings.homepage_newsletter_Subheading != blank %}
        <h3>{{ section.settings.homepage_newsletter_Subheading }}</h3>
      {% endif %}
      {% if section.settings.homepage_newsletter_body != blank %}
        {{ section.settings.homepage_newsletter_body }}
      {% endif %}
      
      <div class="home_email">
       {% include 'klaviyo-footer', homepage: true %}
      </div>
      {% comment %}
      <div class="check_link_email">
        <span class="news_check"><i><input type="checkbox" class="radio_bt" name="confirm_check1" disabled> <span class="check_text_span">{{ section.settings.homepage_newsletter_check }}<span></i></span>
      </div>
          {% endcomment %}
      
    </div>
  </div>
</section>

<style>
  #shopify-section-newsletter
  {
    background:url('{{ section.settings.homepage_newsletter_image | img_url : 'master' }}');
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center 10%;
    border: none;
  }
 .QRoF
  {
    padding: 0px !important;
    flex: initial !important;
    display: initial !important; 
  }
</style>

{% schema %}
  {
    "name": "Newsletter",
    "class": "newsletter",
    "settings": [
      {
        "type": "image_picker",
        "id": "homepage_newsletter_image",
        "label": "Newsletter Background Image"
      },
      {
        "type": "text",
        "id": "homepage_newsletter_title",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "homepage_newsletter_Subheading",
        "label": "Subheading"
      },
      {
        "type": "richtext",
        "id": "homepage_newsletter_body",
        "label": "Description"
      },
      {
        "type": "textarea",
        "id": "homepage_newsletter_check",
        "label": "Checkbox Message"
      }
    ],
    "presets": [
      {
        "name": "Newsletter",
        "category": "Promotional"
      }
    ]
  }
{% endschema %}
