<div class="power_of_nootropics_section" style="background: {{ section.settings.power_of_nootropics_background }};">
  <div class="big-wrapper pon-wrapper">
    <div class="pon-title text-center">
      <h2>{{ section.settings.power_of_nootropics_title }}</h2>
    </div>
    <div class="nootrop grid" data-autoplay-speed="{{ section.settings.autoplay_speed | times: 1000 }}" data-slick= "{
      slidesToShow: 2,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 4000,
      infinite: true,
      arrows: false,
      responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              infinite: true,
              arrows: false
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              arrows: false,
              infinite: true
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              arrows: false,
              infinite: true
            }
          }
        ]
      }">
      {% for block in section.blocks %}
        <div class="nootrop trop grid__item" data-product-id="{{ block.settings.product_id }}">
          <div class="product-pon">
            <div class="product-pon-wrapper">
              <div class="product-pon-over-background" style="background: {{ block.settings.product_background }}">
                {{ block.settings.product_background_description }}
              </div>
              <a href="{{ block.settings.product_learn_more }}" class="pon-anchor">
                <div class="product-pon-crossfade" style="background-image: linear-gradient(0, #fff 20%, {{ block.settings.product_background }} 0%);">
                  <img class="lazyload" data-src={{ block.settings.product_image | img_url: '300x', scale: 2}} >
                </div>
              </a>
              <div class="holder-pon wrapper">
                <a href="{{ block.settings.product_learn_more }}" class="pon-anchor">
                  <span class="product_image_caption">
                    <h3 class="text-center">{{ block.settings.product_title }}</h3>
                  </span>
                </a>
                <div class="under-header-text text-center">
                  {{ block.settings.product_under_title }}
                </div>
                <div class="product_meta-info text-center">
                  {{ block.settings.product_short_description }}
                </div>
                <div class="pon-highlights">
                  <p class="text-center">{{ block.settings.product_highlights }}</p>
                </div>
                <div class="image-inside grid">
                  <div class="padding-bottom--xlg2 padding-top--xlg2 grid__item one-third">
                    <div class="image-descirption-holder text-center nootrop-img">
                      <img class="image-description-image lazyload" data-src={{ block.settings.product_metaimg_1 | img_url: '150x'}}>
                      <p class="image-description-text">{{ block.settings.product_metaimg_text_1 }}</p>
                    </div>
                  </div>
                  <div class="padding-bottom--xlg2 padding-top--xlg2 grid__item one-third">
                    <div class="image-descirption-holder text-center nootrop-img">
                      <img class="image-description-image lazyload" data-src={{ block.settings.product_metaimg_2 | img_url: '150x'}}>
                      <p class="image-description-text">{{ block.settings.product_metaimg_text_2 }}</p>
                    </div>
                  </div>
                  <div class="padding-bottom--xlg2 padding-top--xlg2 grid__item one-third">
                    <div class="image-descirption-holder text-center nootrop-img">
                      <img class="image-description-image lazyload" data-src={{ block.settings.product_metaimg_3 | img_url: '150x'}}>
                      <p class="image-description-text">{{ block.settings.product_metaimg_text_3 }}</p>
                    </div>
                  </div>
                </div>
                <div class="pon-abstract-text text-center">
                  <p>
                    <span>{{ block.settings.product_abstract_text_1 }}</span>
                    <span style="color: {{ block.settings.product_abstract_text_color }}; font-style: italic;">{{ block.settings.product_abstract_text_2 }}</span>
                    <span>{{ block.settings.product_abstract_text_3 }}</span>
                  </p>
                </div>
                <div class="pon-richtext text-center">
                  {{ block.settings.product_long_description }}
                </div>
                <div class="pro_box1 grid">
                  {% if block.settings.product_metafields_claims_1 != blank %}
                  <div class="grid__item one-third nootrop">
                    {% render 'icon-checkbox', custom: true %}
                    <h6>{{ block.settings.product_metafields_claims_1 }}</h6>
                  </div>
                  {% endif %}
                  {% if block.settings.product_metafields_claims_2 != blank %}
                  <div class="grid__item one-third nootrop">
                    {% render 'icon-checkbox', custom: true %}
                    <h6>{{ block.settings.product_metafields_claims_2 }}</h6>
                  </div>
                  {% endif %}
                  {% if block.settings.product_metafields_claims_3 != blank %}
                  <div class="grid__item one-third nootrop">
                    {% render 'icon-checkbox', custom: true %}
                    <h6>{{ block.settings.product_metafields_claims_3 }}</h6>
                  </div>
                  {% endif %}
                  {% if block.settings.product_metafields_claims_4 != blank %}
                  <div class="grid__item one-third nootrop">
                    {% render 'icon-checkbox', custom: true %}
                    <h6>{{ block.settings.product_metafields_claims_4 }}</h6>
                  </div>
                  {% endif %}
                  {% if block.settings.product_metafields_claims_5 != blank %}
                  <div class="grid__item one-third nootrop">
                    {% render 'icon-checkbox', custom: true %}
                    <h6>{{ block.settings.product_metafields_claims_5 }}</h6>
                  </div>
                  {% endif %}
                  {% if block.settings.product_metafields_claims_6 != blank %}
                  <div class="grid__item one-third nootrop">
                    {% render 'icon-checkbox', custom: true %}
                    <h6>{{ block.settings.product_metafields_claims_6 }}</h6>
                  </div>
                  {% endif %}
                  {% if block.settings.product_metafields_claims_7 != blank %}
                  <div class="grid__item one-third nootrop">
                    {% render 'icon-checkbox', custom: true %}
                    <h6>{{ block.settings.product_metafields_claims_7 }}</h6>
                  </div>
                  {% endif %}
                  {% if block.settings.product_metafields_claims_8 != blank %}
                  <div class="grid__item one-third nootrop">
                    {% render 'icon-checkbox', custom: true %}
                    <h6>{{ block.settings.product_metafields_claims_8 }}</h6>
                  </div>
                  {% endif %}
                  {% if block.settings.product_metafields_claims_9 != blank %}
                  <div class="grid__item one-third nootrop">
                    {% render 'icon-checkbox', custom: true %}
                    <h6>{{ block.settings.product_metafields_claims_9 }}</h6>
                  </div>
                  {% endif %}
                </div>
                {% if block.settings.product_quote != blank %}
                <div class="quote small--hide quote-nootropics">
                  <img class="vquotemark lazyload" data-src={{ 'newQuote.png' | asset_img_url: '100x' }}>
                  <p class="quotetext">
                    {{ block.settings.product_quote }}
                  </p>
                  <img class="logo lazyload" data-src={{ block.settings.product_gq | img_url: '400x' }}>
                </div>
                {% endif %}
                {% if block.settings.product_learn_more != blank %}
                <a href={{ block.settings.product_learn_more }} class="trigger-popup dolor_sit_btn innermost_front_btn cta-button btn lrn-mr">Learn More</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{{ 'slick.css' | asset_url | stylesheet_tag }}
{{ 'slick-theme.css' | asset_url | stylesheet_tag }}

<script>
  $(document).ready(function(){

    function resizeMinHeight() {
      let productCaptionMinHeight = 0;
      let productMetaInfoMinHeight = 0;
      let imageInsideGridMinHeight = 0;
      let ponRichTextMinHeight = 0;
      let quoteParagraphMinHeight = 0;
      let crossfadeMinHeight = 0;
      let itemList = [];
      let itemListCrossfade = document.querySelectorAll('.product-pon-crossfade');

      for (let item of document.querySelectorAll('.holder-pon.wrapper')) {
        itemList.push(item.children)
      }
      
      for (let item of itemListCrossfade) {
      	item.style.minHeight = 0;
      }

      for (let bigItem of itemList) {
        for (let item of bigItem) {
          if (item.classList.contains('product_image_caption')) {
            item.children[0].style.minHeight = 0
          }
          if (item.classList.contains('product_meta-info')) {
            item.style.minHeight = 0
          }
          if (item.classList.contains('image-inside')) {
            item.style.minHeight = 0
          }
          if (item.classList.contains('pon-richtext')) {
            item.style.minHeight = 0
          }
          if (item.classList.contains('quote')) {
            item.children[1].style.minHeight = 0
          }
        }
      }

      
      for (let item of itemListCrossfade) {
        if (item.clientHeight > crossfadeMinHeight) {
        	crossfadeMinHeight = item.clientHeight;
        }
      }
      
      for (let bigItem of itemList) {
        for (let item of bigItem) {
          if (item.classList.contains('product_image_caption')) {
            if (item.children[0].clientHeight > productCaptionMinHeight) {
              productCaptionMinHeight = item.children[0].clientHeight
            }
          }
          if (item.classList.contains('product_meta-info')) {
            if (item.clientHeight > productMetaInfoMinHeight) {
              productMetaInfoMinHeight = item.clientHeight
            }
          }
          if (item.classList.contains('image-inside')) {
            if (item.clientHeight > imageInsideGridMinHeight) {
              imageInsideGridMinHeight = item.clientHeight
            }
          }
          if (item.classList.contains('pon-richtext')) {
            if (item.clientHeight > ponRichTextMinHeight) {
              ponRichTextMinHeight = item.clientHeight
            }
          }
          if (item.classList.contains('quote')) {
            if (item.children[1].clientHeight > quoteParagraphMinHeight) {
              quoteParagraphMinHeight = item.children[1].clientHeight
            }
          }
        }
      }
      
      for (let item of itemListCrossfade) {
        item.style.minHeight = `${crossfadeMinHeight}px`
      }

      for (let bigItem of itemList) {
        for (let item of bigItem) {
          if (item.classList.contains('product_image_caption')) {
            item.children[0].style.minHeight = `${productCaptionMinHeight}px`
          }
          if (item.classList.contains('product_meta-info')) {
            item.style.minHeight = `${productMetaInfoMinHeight}px`
          }
          if (item.classList.contains('image-inside')) {
            item.style.minHeight = `${imageInsideGridMinHeight}px`
          }
          if (item.classList.contains('pon-richtext')) {
            item.style.minHeight = `${ponRichTextMinHeight}px`
          }
          if (item.classList.contains('quote')) {
            item.children[1].style.minHeight = `${quoteParagraphMinHeight}px`
          }
        }
      }
    }

    const initialScreenWidth = screen.width

    const allBlocks = document.querySelector('.nootrop.grid').children.length

    if (allBlocks == 1) {
      document.querySelector('.nootrop.grid__item').classList.add('one-half');
      document.querySelector('.nootrop.grid__item').classList.add('push--one-quarter')
      document.querySelector('.nootrop.grid__item').classList.add('small--one-whole');
      document.querySelector(".product-pon").style.marginLeft = "0px";
      document.querySelector(".product-pon").style.marginRight = "0px";
    } if (allBlocks == 2) {
      document.querySelector(".product-pon").style.marginLeft = "0px";
      document.querySelector(".product-pon").style.marginRight = "0px";
      for (let item of document.querySelector('.nootrop.grid').children) {
        item.classList.add('one-half');
        item.classList.add('small--one-whole');
      }
    } if (allBlocks >= 3 || initialScreenWidth < 1300) {
      for (let item of document.querySelector('.nootrop.grid').children) {
        item.classList.add('one-half');
        item.classList.add('small--one-whole');
      }

      const slickSettings = {
      slidesToShow: 2,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 4000,
      infinite: true,
      arrows: false,
      responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              infinite: true,
              arrows: false
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              arrows: false,
              infinite: true
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              arrows: false,
              infinite: true
            }
          }
        ]
      }

      $('.nootrop.grid').on('init', function (event, slick, currentSlide, nextSlide) {
          console.log("h1");
          resizeMinHeight()
        });

      $('.nootrop.grid').on('afterChange', function (event, slick, currentSlide, nextSlide) {
        console.log('hi')
        resizeMinHeight();
      });

      $('.nootrop.grid').slick();
    }

    resizeMinHeight()

    $(window).resize(function() {
      const currentScreenWidth = screen.width
      if (allBlocks >= 3 && !document.querySelector('.nootrop.grid').classList.contains('slick-slider')) {
        const slickSettings_one = {
      slidesToShow: 2,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 4000,
      infinite: true,
      arrows: false,
      responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              infinite: true,
              arrows: false
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              arrows: false,
              infinite: true
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              arrows: false,
              infinite: true
            }
          }
        ]
      }

        $('.nootrop.grid').on('init', function (event, slick, currentSlide, nextSlide) {
          console.log("h1");
          resizeMinHeight()
        });

        $('.nootrop.grid').on('afterChange', function (event, slick, currentSlide, nextSlide) {
          console.log("h2")
          resizeMinHeight();
        });

        $('.nootrop.grid').slick({
          arrows: false
        });
      }
      if (currentScreenWidth >= 1000 && document.querySelector('.nootrop.grid').classList.contains('slick-slider') && allBlocks < 3) {
        $('.nootrop.grid').slick('unslick');
        resizeMinHeight();
      } 
      else if (currentScreenWidth < 1300 && !document.querySelector('.nootrop.grid').classList.contains('slick-slider')) {

        const slickSettings_two = {
      slidesToShow: 2,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 4000,
      infinite: true,
      responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              infinite: true,
              arrows: false
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              arrows: false,
              infinite: true
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              arrows: false,
              infinite: true
            }
          }
        ]
      }

        $('.nootrop.grid').on('init', function (event, slick, currentSlide, nextSlide) {
          console.log("h1");
          resizeMinHeight()
        });


        $('.nootrop.grid').on('afterChange', function (event, slick, currentSlide, nextSlide) {
          console.log("h1");
          resizeMinHeight()
        });

        $('.nootrop.grid').slick({
          arrows: false
        });

      }

      resizeMinHeight()
    });

  })
</script>

{% schema %}
  {
    "name": "Power of Nootropics",
    "settings": [
      {
        "id": "power_of_nootropics_title",
        "type": "text",
        "label": "Section Title"
      },
      {
        "id": "power_of_nootropics_background",
        "type": "color",
        "label": "Section Background"
      },
      {
        "type": "range",
        "id": "autoplay_speed",
        "min": 1,
        "max": 20,
        "step": 1,
        "default": 5,
        "label": "Autoplay speed [seconds]"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Product",
        "settings": [
          {
            "id": "product_background",
            "type": "color",
            "label": "Product Card Background"
          },
          {
            "id": "product_background_description",
            "type": "richtext",
            "label": "Product Card Description"
          },
          {
            "id": "product_image",
            "type": "image_picker",
            "label": "Product Card Image"
          },
          {
            "id": "product_title",
            "type": "text",
            "label": "Product Title"
          },
		  {
			"id": "product_id",
			"type": "text",
			"label": "Product ID"
		  },
          {
            "id": "product_under_title",
            "type": "text",
            "label": "Product Header"
          },
          {
            "id": "product_short_description",
            "type": "text",
            "label": "Product Short Description"
          },
          {
            "id": "product_highlights",
            "type": "text",
            "label": "Product Meta Img Header"
          },
          {
            "id": "product_metaimg_1",
            "type": "image_picker",
            "label": "Product Meta Image 1"
          },
          {
            "id": "product_metaimg_text_1",
            "type": "text",
            "label": "Meta Image Text 1"
          },
          {
            "id": "product_metaimg_2",
            "type": "image_picker",
            "label": "Product Meta Image 2"
          },
          {
            "id": "product_metaimg_text_2",
            "type": "text",
            "label": "Meta Image Text 2"
          },
          {
            "id": "product_metaimg_3",
            "type": "image_picker",
            "label": "Product Meta Image 3"
          },
          {
            "id": "product_metaimg_text_3",
            "type": "text",
            "label": "Meta Image Text 3"
          },
          {
            "id": "product_abstract_text_1",
            "type": "text",
            "label": "Product Text Before Color"
          },
          {
            "id": "product_abstract_text_2",
            "type": "text",
            "label": "Product Colored Text"
          },
          {
            "id": "product_abstract_text_3",
            "type": "text",
            "label": "Product Text After Color"
          },
          {
            "id": "product_abstract_text_color",
            "type": "color",
            "label": "Product Text Color"
          },
          {
            "id": "product_long_description",
            "type": "richtext",
            "label": "Product Long Description"
          },
          {
            "id": "product_metafields_claims_1",
            "type": "text",
            "label": "Claims Text 1"
          },
          {
            "id": "product_metafields_claims_2",
            "type": "text",
            "label": "Claims Text 2"
          },
          {
            "id": "product_metafields_claims_3",
            "type": "text",
            "label": "Claims Text 3"
          },
          {
            "id": "product_metafields_claims_4",
            "type": "text",
            "label": "Claims Text 4"
          },
          {
            "id": "product_metafields_claims_5",
            "type": "text",
            "label": "Claims Text 5"
          },
          {
            "id": "product_metafields_claims_6",
            "type": "text",
            "label": "Claims Text 6"
          },
          {
            "id": "product_metafields_claims_7",
            "type": "text",
            "label": "Claims Text 7"
          },
          {
            "id": "product_metafields_claims_8",
            "type": "text",
            "label": "Claims Text 8"
          },
          {
            "id": "product_metafields_claims_9",
            "type": "text",
            "label": "Claims Text 9"
          },
          {
            "id": "product_quote",
            "type": "text",
            "label": "Quote"
          },
          {
            "id": "product_gq",
            "type": "image_picker",
            "label": "Quote By Image"
          },
          {
            "id": "product_learn_more",
            "type": "url",
            "label": "Learn More URL"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
