  <div class="press-holder">
<div class="wrapper">

{% if section.settings.Press_heading_maxwidth != blank %}
      	{% assign maxWidth = section.settings.Press_heading_maxwidth | times: 1 %}
      {% endif %}
      
        <h3{% if maxWidth %} style="max-width: {{ maxWidth }}px"{% endif %}>
          <span>{{ section.settings.Press_heading-top }}</span>
          <span>{{ section.settings.Press_heading-bottom }}</span>
        </h3>
      {% if section.settings.Press_heading-small != blank %}
        <h3 class="heading-small" style="font-size:{{ section.settings.title-font }}px; line-height:{{ section.settings.title-font }}px">{{ section.settings.Press_heading-small }}</h3>
      {% endif %}
  {{ section.settings.copy }}
  </div>
</div>
<style> 
  #shopify-section-{{section.id}} { 
    padding-top: 40px; 
    margin-bottom: 40px; 
  }
  
  @media(min-width: 768px){ 
    .press-holder { 
      padding: 0 80px; 
    }
  }
</style>
{% schema %}
  {
    "name": "Section name",
    "settings": [
	 {
            "type": "text",
            "id": "Press_heading_maxwidth",
            "label": "Separated heading max-width",
            "info": "Please put only numbers(value's in px)"
          },
          {
            "type":"text",
            "id":"Press_heading-top",
            "label":"Heading Line 1 Right"
          },
          {
            "type":"text",
            "id":"Press_heading-bottom",
            "label":"Heading Line 2 Left"
          },
		  {
            "type":"text",
            "id":"Press_heading-small",
            "label":"Heading small"
          },
          {
      "type": "range",
      "id": "title-font",
      "min": 30,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Title font size",
      "default": 54
    	 },
		{ 
		  "type": "richtext", 
	      "id": "copy",
		  "label": "Content"
		  }


 
 ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
