{% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}
 
{% include "attribute-product-image-box-ratio-max" %}

{% assign current_variant = product.selected_or_first_available_variant %}
{% assign Description = product.description | split:'<!-- split -->' %}


{% assign on_sale = false %}

{% if current_variant.compare_at_price > current_variant.price %}
  {% unless hide_on_sale_badge %}
    {% assign on_sale = true %}
  {% endunless %}
{% endif %}

{% if product.handle == 'tote-bag' %}
  <style>
    .product-form .accord { display: none; }
    .okeReviews-widget-holder { display: none; }
  </style>
{% endif %}

<div
  data-product-container
  itemscope
  itemtype="http://schema.org/Product"
  {% if current_variant.image %}
    data-initial-image-position="{{ current_variant.image.position | json | minus: 1 }}"
  {% endif %}
  data-shop-default-currency="{{ shop.currency }}"
  data-product-options-size="{{ product.options.size }}"
  data-product-options-first="{{ product.options.first }}"
  data-product-variants-size="{{ product.variants.size }}"
  data-product-variants-first="{{ product.variants.first.title }}">

  <script data-product-json type="application/json">
    {{ product | json }}
  </script>

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  <div class="grid--inline product-single product-single-follow">
    
    {% comment %}
    <div class="breadcrumb-wrapper content-wrapper--squished content-wrapper--half-top medium-down--text-center medium-down--hide">
      {% include 'breadcrumb' %}
    </div>
    {% endcomment %}

    <div class="product_left" id="PhotoContent">

      <div class="medium-down--hides">
        <div class="product-photos-wrapper">
        {% if section.settings.image_layout_style == "stacked_images" or section.settings.image_layout_style == "stacked_images_sticky_sidebar" %}
          <div id="ProductGalleryStacked" class="product-single__photos large--one-whole">
            {% for image in product.images %}
              {% include "attribute-image-box-ratio" %}

              {% include "filter-rias-img-url" input: image %}
              {% assign image_url = output |  replace: "{width}x{height}",'1000x'%}

              <div class="box-ratio" style="padding-bottom: {{ image_box_ratio }};" data-image-id="{{ image.id }}">
                <img
                  data-src="{{ image_url }}"
                  data-sizes="auto"
                  class="lazyload lazyload-fade"
                  alt="{{ image.alt | escape }}">

                <noscript>
                  <img data-src="{{ image | img_url: '1200x' }}" alt="{{ image.alt }}" class="lazyload"/>
                </noscript>
              </div>
            {% else %}
              <img data-src="//cdn.shopify.com/s/images/themes/product-1.png" class="lazyload">
            {% endfor %}
          </div>
        {% else %}
          {% comment %}
            Show the 3rd image below the main one. If with an other image is set as secondary to show -> show it instead of the default 3rd one.
          {% endcomment %}
          {% assign show_secondary_image = 3 %}
          {% assign secondary_image_html = false %}
          {% for tag in product.tags %}
            {% if tag contains "secondary_image_" %}
              {% assign show_secondary_image = tag | split: "_" | last | plus: 0 %}
            {% endif %}
          {% endfor %}
          
          
          <div class="product-multiple__photos two-twelfths" id="ProductThumbs">
            {% for image in product.images %}
              {% if forloop.index == show_secondary_image %}
                <button type="button" class="scroll_to_secondary_image">
                  <img data-src="{{ image | img_url: '400x' }}" alt="{{ image.alt | escape }}" class="lazyload">
                </button>
              {% endif %}
              <button class="product-thumbnail-button {% if forloop.index == show_secondary_image %}product-thumbnail-button--secondary_image{% endif %}" data-product-thumbnail >
                <img data-src="{{ image | img_url: '400x' }}" alt="{{ image.alt | escape }}" class="lazyload">
              </button>
            {% else %}
              <button class="product-thumbnail-button" data-product-thumbnail>
                <img data-src="//cdn.shopify.com/s/images/themes/product-1.png" class="lazyload">
              </button>
            {% endfor %}
          </div>

          {% assign prodColor = false %}
          
          {% for tag in product.tags %}
            {% if tag contains "color_" %}	
            	{% assign prodColor = tag | split: "_" | last %}
            {% endif %}
          {% endfor %}
          
          {% if prodColor == false %}
            {% if product.metafields["global"]["bg-color"] != blank %}
              {% assign prodColor = product.metafields["global"]["bg-color"] %}
            {% endif %}
          {% endif %}
            
          {{ prodColor }}  
          
          <div class="product-single__photos ten-twelfths" {% if product.metafields["global"]["bg-color"] != blank %} style="background-color:{{ prodColor }};"{% endif %}>
            <div class="image-container image-layers">
              {% for image in product.images %}
                {% include "filter-rias-img-url" input: image %}
                {% assign image_url = output |  replace: "{width}x{height}",'1000x'%}

                <img
                  data-src="{{ image_url }}"
                  data-sizes="auto"
                  class="lazyload lazypreload lazyload-fade"
                  id="ProductPhotoImg"
                  alt="{{ image.alt | escape }}"
                  {% unless forloop.first %}style="display: none;"{% endunless %}
                  data-product-image
                  data-image-id="{{ image.id }}">

                <noscript>
                  <img data-src="{{ image | img_url: '1000x' }}" alt="{{ image.alt }}" class="lazyload"/>
                </noscript>
              
               {% if forloop.index == show_secondary_image %}
               {% capture secondary_image_html %}
                {% include "filter-rias-img-url" input: image %}
                {% assign image_url = output |  replace: "{width}x{height}",'1000x'%}

                <img
                  data-src="{{ image_url }}"
                  data-sizes="auto"
                  class="lazyload lazypreload lazyload-fade show_secondary_image"
                  id="ProductPhotoImg"
                  alt="{{ image.alt | escape }}"
                  {% unless forloop.first %}style="display: none;"{% endunless %}
                  data-product-image
                  data-image-id="{{ image.id }}">

                <noscript>
                  <img data-src="{{ image | img_url: '1000x' }}" alt="{{ image.alt }}" class="lazyload"/>
                </noscript>
               {% endcapture %}
               {% endif %}
              
              {% else %}
                <img data-src="//cdn.shopify.com/s/images/themes/product-1.png" class="lazyload">
              {% endfor %}
              
              {% if secondary_image_html != false %}
                {{ secondary_image_html }}
              {% endif %}
            </div>

            {% comment %}
            <button class="product-lightbox-button-open" data-product-lightbox-button="open"><span class="product-lightbox-button open">
              <svg><use xlink:href="#icon-glass"></use></svg></span>
            </button>
            {% endcomment %}
            
          </div>

          {% include "product-lightbox" %}
        {% endif %}
        </div>
      </div>

      {% comment %}
        Now create the mobile slideshow.
      {% endcomment %}

      <div class="large--hide" style="display:none;">
        <div class="product-single__photos" id="ProductPhotoSlideshow">
          {% for image in product.images %}
            {% include "filter-rias-img-url" input: image %}
             {% assign image_url = output |  replace: "{width}x{height}",'1000x'%}

            <img
              data-src="{{ image_url }}"
              data-sizes="auto"
              class="lazyload lazyload-fade"
              alt="{{ image.alt | escape }}"
              data-image-id="{{ image.id }}">
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="product_right  {% if section.settings.image_layout_style == 'stacked_images_sticky_sidebar' %}sticky-sidebar{% endif %}" id='sidebarColumn'>
      <div class="sidebarColumn-inner">
        <div class="js-fix-on-scroll--target fix-on-scroll--large-only">
          {% comment %}
          {% include 'breadcrumb' %}
          {% endcomment %}
          <h1 itemprop="name" class='medium-down--text-center product-title'>{{ product.title }}</h1>
          
		  {% comment %}
          {% include 'okendo-reviews-product-rating-summary' %}
          {% endcomment %}
           {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: 'text-align:center;', concierge_install: false, product: product %}
          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}">
            <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

            <div id="AddToCartForm" class="product-form form-vertical">
              {% include 'multiple-form' %}
			  
              {% comment %}
              Old form 
              {% include 'old-form' %}
			{% endcomment %}
              

              

              
            </div>
          </div>

            {% comment %}
          {% if section.blocks.size > 0 %}
            <section class="product-tabs" {{ block.shopify_attributes }}>

              <ul class="product-tab-wrapper">
                {% unless product.description == empty %}
                  <li class="product-tab {% if section.settings.expand_first_tab %}active{% endif %}" data-product-tab>
                    <button class="product-tab-title" data-product-tab-title>
                      {{ "products.product.description" | t }}
                    </button>
                    <div class="product-description rte product-tab-content" itemprop="description" data-product-tab-content>
                      <div data-product-tab-content-inner>
                        {{ product.description }}
                      </div>
                      <button class="product-tab-read-more hidden" data-read-more="{{ 'products.product.read_less' | t }}">
                        {{ "products.product.read_more" | t }}
                      </button>
                    </div>
                  </li>
                {% endunless %}

                {% for block in section.blocks %}
                  {% if block.type == "tab" %}
                    {% assign page = pages[block.settings.product_tab_page] | default: false %}

                    {% if page %}
                      <li class="product-tab" data-product-tab>
                        <button class="product-tab-title" data-product-tab-title>
                          {{ page.title }}
                        </button>
                        <div class="product-returns product-tab-content rte" data-product-tab-content>
                          <div data-product-tab-content-inner>
                            {{ page.content }}
                          </div>
                          <button class="product-tab-read-more hidden" data-read-more="{{ 'products.product.read_less' | t }}">
                            {{ "products.product.read_more" | t }}
                          </button>
                        </div>
                      </li>
                    {% endif %}
                  {% elsif block.type == "share" %}
                    <li class="product-tab" data-product-tab>
                      <button class="product-tab-title" data-product-tab-title>{{ "general.share.share_this" | t }}</button>

                      <div class="product-tab-content rte" data-product-tab-content>
                        {% if block.settings.share_facebook %}
                          {% assign facebook = true %}
                        {% endif %}
                        {% if block.settings.share_pinterest %}
                          {% assign pinterest = true %}
                        {% endif %}
                        {% if block.settings.share_google %}
                          {% assign google = true %}
                        {% endif %}
                        {% if block.settings.share_twitter %}
                          {% assign twitter = true %}
                        {% endif %}
                        {% if block.settings.share_tumblr %}
                          {% assign tumblr = true %}
                        {% endif %}

                        <div id="shareBox">
                          {% if facebook %}
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ product.url }}" target="_blank" class='facebook'>
                              <button>
                                <div class="icon-fallback-text">
                                  <span class="icon icon-facebook"></span>
                                  <span class="fallback-text">Facebook</span>
                                 </div>
                              </button>
                            </a>
                          {% endif %}

                          {% if pinterest %}
                            <a href="http://pinterest.com/pin/create/button/?url={{ shop.url }}{{ product.url }}&media={{ featured_image | img_url: 'large' }}&description={{ featured_image.alt | escape }}" target="_blank" class='pinterest'>
                              <button>
                                <div class="icon-fallback-text">
                                  <span class="icon icon-pinterest"></span>
                                  <span class="fallback-text">Pinterest</span>
                                </div>
                              </button>
                            </a>
                          {% endif %}

                          {% if google %}
                            <a href="https://plus.google.com/share?url={{ shop.url }}{{ product.url }}" target="_blank" class='google'>
                              <button>
                                <div class="icon-fallback-text">
                                  <span class="icon icon-google-plus"></span>
                                  <span class="fallback-text">Google</span>
                                </div>
                              </button>
                            </a>
                          {% endif %}

                          {% if twitter %}
                            <a href="https://twitter.com/intent/tweet?url={{ shop.url }}{{ product.url }}&text={{ product.title }}" target="_blank" class='twitter'>
                              <button>
                                <div class="icon-fallback-text">
                                  <span class="icon icon-twitter"></span>
                                  <span class="fallback-text">Twitter</span>
                                </div>
                              </button>
                            </a>
                          {% endif %}

                          {% if tumblr %}
                            <a href="http://www.tumblr.com/share/link?url={{ shop.url }}{{ product.url }}" target="_blank"  class='tumblr'>
                              <button>
                                <div class="icon-fallback-text">
                                  <span class="icon icon-tumblr"></span>
                                  <span class="fallback-text">Tumblr</span>
                                </div>
                              </button>
                            </a>
                          {% endif %}
                        </div>
                      </div>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>

            </section>
          {% else %}
            <div class="product-description rte" id="description" itemprop="description">
              {{ product.description }}
            </div>
          {% endif %}
            {% endcomment %}
         </div>
      </div>
    </div>
  </div>

    {% if section.settings.product_related %}
    {% include "product-related" %}
    {% endif %}
   
   
</div>
{% if product.metafields.image-desc-first != blank %}
{% include 'product-image-description' %}
{% else %}
  <div class="product_logos">
    <div class="product_brand">
      <div class="product_brand_left product_brand_lefts">
        <h3>{{ section.settings.key_title }}</h3>
        {{ Description[1] }}
      </div>
      <div class="product_brand_right">
       {% comment %} <h3>{{ section.settings.Claims_title }}</h3> {% endcomment %}
        <div class="pro_box1 grid">
          {%- if product.metafields.claims.claims-1 != blank -%}
          <div class="grid__item  one-third">
          {% render 'icon-checkbox', custom: true %}
          <h6>{{ product.metafields.claims.claims-1 }}</h6>
          </div>
          {%- endif -%}
          <div class="grid__item  one-third">
          {% render 'icon-checkbox', custom: true %}
          {%- if product.metafields.claims.claims-2 != blank -%}
          <h6>{{ product.metafields.claims.claims-2    }}</h6>
          </div>
          {%- endif -%}
          {%- if product.metafields.claims.claims-3 != blank -%}
          <div class="grid__item  one-third">
          {% render 'icon-checkbox', custom: true %}
          <h6>{{ product.metafields.claims.claims-3   }}</h6>
          </div>
          {%- endif -%}
          {%- if product.metafields.claims.claims-4 != blank -%}
          <div class="grid__item  one-third">
          {% render 'icon-checkbox', custom: true %}
          <h6>{{ product.metafields.claims.claims-4    }}</h6>
          </div>
          {%- endif -%}
          
          {%- if product.metafields.claims.claims-5 != blank -%}
          <div class="grid__item  one-third"> 
          {% render 'icon-checkbox', custom: true %}
          <h6>{{ product.metafields.claims.claims-5    }}</h6>
          </div>
          {%- endif -%}
          {%- if product.metafields.claims.claims-6 != blank -%}
          <div class="grid__item  one-third"> 
          {% render 'icon-checkbox', custom: true %}
          <h6>{{ product.metafields.claims.claims-6    }}</h6>
            </div> 
          {%- endif -%}
          {%- if product.metafields.claims.claims-7 != blank -%}
          <div class="grid__item  one-third">  
          {% render 'icon-checkbox', custom: true %}
          <h6>{{ product.metafields.claims.claims-7   }}</h6>
            </div> 
          {%- endif -%}
          {%- if product.metafields.claims.claims-8 != blank -%}
  	      <div class="grid__item  one-third">      
          {% render 'icon-checkbox', custom: true %}
          <h6>{{ product.metafields.claims.claims-8    }}</h6>
            </div> 
          {%- endif -%}
          {%- if product.metafields.claims.claims-9 != blank -%}
          <div class="grid__item  one-third"> 
          {% render 'icon-checkbox', custom: true %}
          <h6>{{ product.metafields.claims.claims-9    }}</h6>
            </div> 
          {%- endif -%}
          {%- if product.metafields.claims.claims-10 != blank -%}
          <div class="grid__item  one-third">  
          {% render 'icon-checkbox', custom: true %}
          <h6>{{ product.metafields.claims.claims-10     }}</h6>
            </div>
          {%- endif -%}
        </div>
        
        {% assign default_text = "Innermost is awarded The Game Changer Award. The sands are shifting in the supplements industry. One brand stands out most, Innermost. We now expect more from our supplement products, such as antioxidants and omega fats. These fall under the banner of ‘health gains’ - an arena in which Innermost is well ahead of the curve." %}
        {%- capture default_logo -%}{{ 'Mens_Health_Logo_Grey_200x.png' | asset_img_url: '400x'}}{%- endcapture -%}
        <div class="quote">
          <img class="quotemark lazyload" data-src="{{ 'speech.png' | asset_img_url: '200x' }}">
          <p class="quotetext" >{% if product.metafields.quote.quote-text %}{{ product.metafields.quote.quote-text  }}{% else %}{{ default_text }}{% endif %} </p>
          <img class="logo lazyload" data-src="{% if product.metafields.quote.quote-logo %}{{ product.metafields.quote.quote-logo  }}{% else %}{{ default_logo }}{% endif %}">
        </div>
        {% comment %}
        <h4 class="hide small--hide">{{ section.settings.Featured_title }}</h4>
        <div class="hide pro_box2 small--hide">
          {%- if product.metafields.featured-in.featured-in-1 != blank -%}
          <div class="feature-image-wrapper">
            <img data-src="{{ product.metafields.featured-in.featured-in-1 }}" class="lazyload">
          </div>
          {%- endif -%}
          
          {%- if product.metafields.featured-in.featured-in-2 != blank -%}
          <div class="feature-image-wrapper">
            <img data-src="{{ product.metafields.featured-in.featured-in-2 }}" class="lazyload">
          </div>
          {%- endif -%}
          
          {%- if product.metafields.featured-in.featured-in-3 != blank -%}
          <div class="feature-image-wrapper">
            <img data-src="{{ product.metafields.featured-in.featured-in-3 }}" class="lazyload">
          </div>
          {%- endif -%}
          
          {%- if product.metafields.featured-in.featured-in-4 != blank -%}
          <div class="feature-image-wrapper">
            <img data-src="{{ product.metafields.featured-in.featured-in-4 }}" class="lazyload">
          </div>
          {%- endif -%}
          
          {%- if product.metafields.featured-in.featured-in-5 != blank -%}
          <div class="feature-image-wrapper">
            <img data-src="{{ product.metafields.featured-in.featured-in-5 }}" class="lazyload">
          </div>
          {%- endif -%}
          
          {%- if product.metafields.featured-in.featured-in-6 != blank -%}
          <div class="feature-image-wrapper">
            <img data-src="{{ product.metafields.featured-in.featured-in-6 }}" class="lazyload">
          </div>
          {%- endif -%}
          
        </div>
        {% endcomment %}
      </div>
    </div>
  </div>
{% endif %}
{% comment %}
  <div class="product_video">
    <div class="product_video_left">
      {%- if product.metafields.product-left.img != blank -%}
      <img data-src="{{ product.metafields.product-left.img }}" class="lazyload">
      {%- endif -%}
    </div>
    <div class="product_video_right">
      {%- if product.metafields.product-right.img != blank -%}
      <img data-src="{{ product.metafields.product-right.img }}" class="lazyload">
      {%- endif -%}
      {% comment %}
      <img data-src="{{ 'videos.png' | asset_url }}" class="video-center" class="lazyload">
      {% endcomment %}
    </div>
  </div>
{% endcomment %}

<div class="index-section-reviews__per_product index-section-reviews index-section-default section-has-slider" data-product-id="{{product.id}}" data-reviews-to-show="20" style="{% if section.settings.judgeme_background_color != blank %}background-color: {{section.settings.judgeme_background_color}}{% endif %}">
  <div class="index-products-wrapper-arrows {% if section.settings.judgeme_slides_continuously == true %}cb-slide-arrow-continuously{% endif %}">
    <a href"#" class="cb-slide-arrow-prev"></a>
    <a href"#" class="cb-slide-arrow-next"></a>
  </div>
  
  {% if section.settings.judgeme_title != blank %}
    <h2 class="section-title text-center">{{ section.settings.judgeme_title }}</h2>
  {% endif %}
  
  <div id="index-reviews-wrapper" class="jdgm-a2ll-reviews__body"
       data-continuously="{% if section.settings.judgeme_slides_continuously == true %}1{% else %}0{% endif %}"
       data-slides-to-show="{{ section.settings.judgeme_slides_to_show }}"
       data-autoplay-speed="{{ section.settings.judgeme_autoplay_speed | times: 1000 }}"
  > 
    {% comment %}The reviews are appended here with JS{% endcomment %}
  </div>
  
  
  {% comment %}
    {% include 'okendo-reviews-widget' %}
  {% endcomment %}
</div>

{% if section.settings.additional_ctas %}
{% include 'additional-cta' %}
{% endif %}

 <!--the classic reviews-->
  <div class="jcontent-wrapper--horizontal hide">
   {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', product: product %}
  </div>

{% include "product-related" %}

<script>
 if (window.location.href.indexOf('?judgeme_review_source=') > 0) {
   $(".index-section-reviews__per_product").addClass("hide");
   $(".jcontent-wrapper--horizontal").removeClass("hide");
 }
  $('.scroll_to_secondary_image').click(function(){
    $([document.documentElement, document.body]).animate({
        scrollTop: ( $(".show_secondary_image").offset().top - $('.site-header').height())
    }, 300);
  });
  
  function resetProductRightColPosition(){
    //$('.product-single-follow .product_right').css({'position':'fixed','top': ($('.site-header').height() + 1) });
    scroll_follow_el.css({'position':'relative','top': 0 });
  }
  
  function productRightFollowMe(){
    var fixed_header_coeff = $('.site-header').height() + 1; // +Xpx because of the bottom shadow
    if($('.product-single-follow').length > 0){
      $('.product-single-follow').parents('div, main').css({'overflow':'unset'});
      $('.product-single-follow .product_right').css({'top':fixed_header_coeff});
    }
    return false;
    
    //here begins the manual js sticky follow; as plan b comment the upper
    {% comment %}
    if($('.product-single-follow').length < 1 || window.outerWidth < 1100){
      resetProductRightColPosition()
      return false;
    }
    
    var left_col_inner = $('.product-single-follow .product_left > div');
    var right_col_inner = $('.product-single-follow .product_right > div');
    if(left_col_inner.height() > right_col_inner.height()){
      resetProductRightColPosition();
    }
    
       
    var scrolled_offset = $(window).scrollTop();
    var scroll_follow_parent = $('.product-single-follow');
    var scroll_follow_el = $('.product-single-follow .product_right');
    
    var scroll_follow_start = 0;//scroll_follow_parent.offset().top - fixed_header_coeff;
    var scroll_follow_end = scroll_follow_start + scroll_follow_parent.height() - scroll_follow_el.height();
    
    if(scrolled_offset >= 0 && scrolled_offset <= scroll_follow_end){
      scroll_follow_el.css({'position':'fixed','top': fixed_header_coeff });
    }
    else if(scrolled_offset > scroll_follow_end && scroll_follow_end > 0){
      scroll_follow_el.css({'position':'absolute','top': scroll_follow_end });
    }
    else {
      //if something else, does not meets to other conditions -> reset
      resetProductRightColPosition();
    }
    {% endcomment %}
  }
  
  $(window).scroll(function(){
    //productRightFollowMe();
  });
  
  
  $(document).ready(function(){
    productRightFollowMe(); //only here if clean css sticky
    
  $('.jdgm-preview-badge, .jdgm-preview-badge * ').click(function(e){
    e.stopPropagation();
    e.preventDefault();
    //console.log('click registered');
      var target = $("#judgeme_product_reviews");
    
      var headerHeight = $('header').outerHeight();
      
      if (target.length) {
        $('html,body').stop().animate({
          scrollTop: target.offset().top - headerHeight //offsets for fixed header
        }, 'linear');
      }
        
    
  })
 })
</script>
  
{% schema %}
  {
    "name": "Product pages",
    "class": "product-pages",
    "settings": [
      {
        "type":"header",
        "content":"Accordin"
      },
      {
        "type": "textarea",
        "id": "Accordin_header_1",
        "label": "Accordin heading"
      },
      {
        "type": "textarea",
        "id": "Accordin_Subheader_1",
        "label": "Accordin Description"
      },
      {
        "type": "textarea",
        "id": "Accordin_header_2",
        "label": "Accordin heading"
      },
      {
        "type": "textarea",
        "id": "Accordin_Subheader_2",
        "label": "Accordin Description"
      },
      {
        "type": "textarea",
        "id": "Accordin_header_3",
        "label": "Accordin heading"
      },
      {
        "type": "textarea",
        "id": "Accordin_Subheader_3",
        "label": "Accordin Description"
      },
      {
        "type":"header",
        "content":"key Ingredients"
      },
      {
        "type": "text",
        "id": "key_title",
        "label": "key Ingredients Title"
      },
      {
        "type": "textarea",
        "id": "key_description",
        "label": "key Ingredients Description"
      },
      {
        "type": "textarea",
        "id": "key_description_2",
        "label": "key Ingredients Description 2"
      },
      {
        "type":"header",
        "content":"Claims"
      },
      {
        "type": "text",
        "id": "Claims_title",
        "label": "Claims Title"
      },
      {
        "type": "text",
        "id": "claims_1",
        "label": "Claims Text 1"
      },
      {
        "type": "text",
        "id": "claims_2",
        "label": "Claims Text 2"
      },
      {
        "type": "text",
        "id": "claims_3",
        "label": "Claims Text 3"
      },
      {
        "type": "text",
        "id": "claims_4",
        "label": "Claims Text 4"
      },
      {
        "type": "text",
        "id": "claims_5",
        "label": "Claims Text 5"
      },
      {
        "type": "text",
        "id": "claims_6",
        "label": "Claims Text 6"
      },
      {
        "type": "text",
        "id": "claims_7",
        "label": "Claims Text 7"
      },
      {
        "type":"header",
        "content":"Featured In"
      },
      {
        "type": "text",
        "id": "Featured_title",
        "label": "Featured Title"
      },
      {
        "type": "image_picker",
        "id": "Featured_1",
        "label": "Featured Image 1"
      },
      {
        "type": "image_picker",
        "id": "Featured_2",
        "label": "Featured Image 2"
      },
      {
        "type":"header",
        "content":"Background Image"
      },
      {
        "type": "image_picker",
        "id": "Background_1",
        "label": "Background Image 1"
      },
      {
        "type": "image_picker",
        "id": "Background_2",
        "label": "Background Image 2"
      },
      {
        "type": "checkbox",
        "id": "enable_payment_button",
        "label": "Show dynamic checkout button",
        "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "default": false
      },
      {
        "type": "select",
        "id": "image_layout_style",
        "label": "Image layout style",
        "options": [
          {
            "value": "thumbnails",
            "label": "Thumbnails"
          }
        ],
        "default": "thumbnails"
      },
      {
	    "type": "header",
	    "content": "Judge me widget"
      },
      {
        "type": "text",
        "id": "judgeme_title",
        "label": "Heading"
      },
      {
        "type":"color",
        "id":"judgeme_background_color",
        "label":"Background Color"
      },
      {
        "type": "checkbox",
        "id": "judgeme_slides_continuously",
        "label": "The slider scrolls continuously?",
        "default": false
      },
      {
        "type": "range",
        "id": "judgeme_slides_to_show",
        "min": 1,
        "max": 6,
        "default": 4,
        "label": "Slides to show",
        "info": "Reviews per slide."
      },
      {
        "type": "range",
        "id": "judgeme_autoplay_speed",
        "min": 1,
        "max": 20,
        "step": 1,
        "default": 5,
        "label": "Autoplay speed [seconds]"
      },
	  {
		"type": "header",
		"content": "Additional CTAs"
	  },
	  {
		"type": "checkbox",
		"id": "additional_ctas",
		"label": "Additional CTAs?",
		"default": true
	  },
	  {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "New Section"
      },
      {
        "type":"color",
        "id":"dolor_color",
        "label":"Background Color"
      },
      {
        "type":"textarea",
        "id":"dolor_subheading",
        "label":"Paragraph"
      },
      {
        "type":"textarea",
        "id":"dolor_subheading_mob",
        "label":"Mobile Paragraph"
      },
	  {
		"type": "url",
		"id": "add_link",
		"label": "Button Link"
	  },
	  {
		"type": "text",
		"id": "add_link_text",
		"default": "Learn More",
		"label": "Button Text"
      },
	  {
		"type": "url",
		"id": "link2",
		"label": "Button Link"
	  },
	  {
		"type": "text",
		"id": "link_text2",
		"default": "Learn More",
		"label": "Button Text"
      }
    ],
    "blocks": [
      {
        "type": "tab",
        "name": "Tab",
        "settings": [
          {
            "type": "page",
            "id": "product_tab_page",
            "label": "Select page as tab content"
          }
        ]
      },
      {
        "type": "share",
        "name": "Share buttons",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "share_facebook",
            "label": "Facebook"
          },
          {
            "type": "checkbox",
            "id": "share_pinterest",
            "label": "Pinterest"
          },
          {
            "type": "checkbox",
            "id": "share_google",
            "label": "Google Plus"
          },
          {
            "type": "checkbox",
            "id": "share_twitter",
            "label": "Twitter"
          },
          {
            "type": "checkbox",
            "id": "share_tumblr",
            "label": "Tumblr"
          }
        ]
      },
	  {
		"type": "Text",
		"name": "FAQ",
		"settings": [
		  {
			"type": "text",
			"label": "Product indicator ( Product tag )",
			"id": "products_selector"
		  },
          {
             "type": "select",
             "id": "section_id",
             "label": "Number of section to show the FAQ",
             "options": [
               {
                 "value": "1",
                 "label": "First"
               },
               {
                 "value": "2",
                 "label": "Second"
               },
			   {
				 "value": "3",
				 "label": "Third"
			   }
             ],
             "default": "3"
          },
		  {
		  	"type": "text",
			"label": "Fisrt Question",
			"id": "question1"
	 	  },
		  {
			"type": "richtext",
			"label": "First Answer",
			"id": "answer1"
		  },
		  {
		  	"type": "text",
			"label": "Second Question",
			"id": "question2"
	 	  },
		  {
			"type": "richtext",
			"label": "Second Answer",
			"id": "answer2"
		  },
		  {
		  	"type": "text",
			"label": "Third Question",
			"id": "question3"
	 	  },
		  {
			"type": "richtext",
			"label": "Third Answer",
			"id": "answer3"
		  },
		  {
		  	"type": "text",
			"label": "Fourth Question",
			"id": "question4"
	 	  },
		  {
			"type": "richtext",
			"label": "Fourth Answer",
			"id": "answer4"
		  },
		  {
		  	"type": "text",
			"label": "Fifth Question",
			"id": "question5"
	 	  },
		  {
			"type": "richtext",
			"label": "Fifth Answer",
			"id": "answer5"
		  },
		  {
		  	"type": "text",
			"label": "Sixth Question",
			"id": "question6"
	 	  },
		  {
			"type": "richtext",
			"label": "Fifth Answer",
			"id": "answer6"
		  }
		]
	  },    
	  {
        "type": "Inisght",
        "name": "Insight",
        "settings": [
		  {
		    "type": "text",
			"id": "products_selector_insight",
			"label": "Product indicator ( Product tag )"
		  },
		  {
			"type": "text",
			"id": "text_before_article",
			"label": "Title before the article",
			"default": "Insight: "
		  },
          {
            "type": "article",
            "id": "article_selection",
            "label": "Featured article"
          },
		  {
			"type": "url",
			"id": "articles_custom_link",
			"label": "Custom link"
		  },
		  {
			"type": "text",
			"id": "custom_title",
		    "label": "Custom article title"
	      }
        ]
      },
	  {
        "type": "Paragraphs",
        "name": "Paragraphs",
        "settings": [
		  {
		    "type": "text",
			"id": "paragraph_identification",
			"label": "Product indicator ( Product tag )"
		  },
		  {
			"type": "text",
			"id": "title1",
			"label": "Title 1"
		  },
          {
            "type": "richtext",
            "id": "paragraph1",
            "label": "Paragraph 1"
          },
		  {
			"type": "text",
			"id": "title2",
			"label": "Title 2"
		  },
          {
            "type": "richtext",
            "id": "paragraph2",
            "label": "Paragraph 2"
          },
		  {
			"type": "text",
			"id": "title3",
			"label": "Title 3"
		  },
          {
            "type": "richtext",
            "id": "paragraph3",
            "label": "Paragraph 3"
          },
		  {
			"type": "text",
			"id": "title4",
			"label": "Title 4"
		  },
          {
            "type": "richtext",
            "id": "paragraph4",
            "label": "Paragraph 4"
          },
		  {
			"type": "text",
			"id": "title5",
			"label": "Title 5"
		  },
          {
            "type": "richtext",
            "id": "paragraph5",
            "label": "Paragraph 5"
          },
		  {
			"type": "text",
			"id": "title6",
			"label": "Title 6"
		  },
          {
            "type": "richtext",
            "id": "paragraph6",
            "label": "Paragraph 6"
          }
        ]
      }
    ]
  }
{% endschema %}
