<div class="Banner_section_homes aos-init" data-aos="fade-in">
  <div class="banner_mains_homes">
    <div class="Banner_section_left_home" {% if section.settings.Home_banner_left_1 != blank %} style="background-image:url('{{ section.settings.Home_banner_left_1 | img_url : 'master'}}');"{% endif %}>
      {% if section.settings.Home_banner_left_prod_1 != blank %}
      	<img data-src="{{ section.settings.Home_banner_left_prod_1 | img_url : 'master' }}" class="lazyload" />
      {% endif %}
      
      {% if section.settings.Home_banner_left_text_1 != blank %}
      <h3>{{ section.settings.Home_banner_left_text_1 }}</h3>
      {% endif %}
      
      {% if section.settings.Home_banner_left_subtitle_1 != blank %}
      <h4>{{ section.settings.Home_banner_left_subtitle_1 }}</h4>
      {% endif %}
      
      {% if section.settings.Home_banner_left_description_1 != blank %}
        {{ section.settings.Home_banner_left_description_1 }}
      {% endif %}
      
      {% if section.settings.Home_banner_left_btn_1 != blank %}
      <a href="{{ section.settings.Home_banner_left_url_1 }}" class="homepage-product-btn">{{ section.settings.Home_banner_left_btn_1 }}</a>
      {% endif %}
    </div>
    <div class="Banner_section_right_home" {% if section.settings.Home_banner_right_1 != blank %} style="background-image:url('{{ section.settings.Home_banner_right_1 | img_url : 'master'}}');"{% endif %}>
      {% if section.settings.Home_banner_right_prod_1 != blank %}
      	<img data-src="{{ section.settings.Home_banner_right_prod_1 | img_url : 'master'}}" class="lazyload"/>
      {% endif %}
      
      {% if section.settings.Home_banner_right_text_1 != blank %}
      <h3>{{ section.settings.Home_banner_right_text_1 }}</h3>
      {% endif %}
      
      
      {% if section.settings.Home_banner_right_subtitle_1 != blank %}
      <h4>{{ section.settings.Home_banner_right_subtitle_1 }}</h4>
      {% endif %}
      
      {% if section.settings.Home_banner_right_description_1 != blank %}
      <p>{{ section.settings.Home_banner_right_description_1 }}</p>
      {% endif %}
      
      {% if section.settings.Home_banner_right_btn_1 != blank %}
      <a href="{{ section.settings.Home_banner_right_url_1 }}" class="homepage-product-btn">{{ section.settings.Home_banner_right_btn_1 }}</a>
      {% endif %}
    </div>
  </div>
</div>

<div class="Banner_section_homes">
  <div class="banner_mains_homes">
    <div class="Banner_section_left_home Banner_section_left_home_third" {% if section.settings.Home_banner_left_3 != blank %} style="background-image:url('{{ section.settings.Home_banner_left_3 | img_url : 'master'}}');"{% endif %}>
      {% if section.settings.Home_banner_left_prod_3 != blank %}
      <img data-src="{{ section.settings.Home_banner_left_prod_3 | img_url : 'master' }}" class="lazyload" />
      {% endif %}
      
      {% if section.settings.Home_banner_left_text_3 != blank %}
      <h3>{{ section.settings.Home_banner_left_text_3 }}</h3>
      {% endif %}
      
      
      {% if section.settings.Home_banner_left_subtitle_3 != blank %}
      <h4>{{ section.settings.Home_banner_left_subtitle_3 }}</h4>
      {% endif %}
      
      {% if section.settings.Home_banner_left_description_3 != blank %}
      <p>{{ section.settings.Home_banner_left_description_3 }}</p>
      {% endif %}
      
      {% if section.settings.Home_banner_left_btn_3 != blank %}
      <a href="{{ section.settings.Home_banner_left_url_3 }}" class="homepage-product-btn">{{ section.settings.Home_banner_left_btn_3 }}</a>
      {% endif %}
    </div>
    <div class="Banner_section_right_home Banner_section_right_home_fourth" {% if section.settings.Home_banner_right_4 != blank %} style="background-image:url('{{ section.settings.Home_banner_right_4 | img_url : 'master'}}');"{% endif %}>
      
      {% if section.settings.Home_banner_right_prod_4 != blank %}
      <img data-src="{{ section.settings.Home_banner_right_prod_4 | img_url : 'master' }}" class="lazyload" />
      {% endif %}
      
      {% if section.settings.Home_banner_right_text_4 != blank %}
      <h3 class="{{ section.settings.banner-text-size }}">{{ section.settings.Home_banner_right_text_4 }}</h3>
      {% endif %}
      
      {% if section.settings.Home_banner_right_subtitle_4 != blank %}
      <h4>{{ section.settings.Home_banner_right_subtitle_4 }}</h4>
      {% endif %}
      
      {% if section.settings.Home_banner_right_description_4 != blank %}
      <p>{{ section.settings.Home_banner_right_description_4 }}</p>
      {% endif %}
      
      {% if section.settings.Home_banner_right_btn_4 != blank %}
      <a href="{{ section.settings.Home_banner_right_url_4 }}" class="homepage-product-btn">{{ section.settings.Home_banner_right_btn_4 }}</a>
      {% endif %}
    </div>
  </div>
</div>

<style>
  .Banner_section_left_home
  {
      background-repeat:no-repeat;
      background-size:cover;
      background-color:{{ section.settings.Home_banner_left_clr_1 }} !important;
  }
   .Banner_section_right_home
  {
      background-repeat:no-repeat;
      background-size:cover;
     background-color:{{ section.settings.Home_banner_right_clr_1 }} !important;
  }
  .Banner_section_left_home_third
  {
    background-color:{{ section.settings.Home_banner_left_clr_3 }} !important;
  }
  .Banner_section_right_home_fourth
  {
    background-color:{{ section.settings.Home_banner_left_clr_4 }} !important;
  }
</style>

{% schema %}
  {
    "name": "Homepage Product",
    "settings": [
      {
        "type":"header",
        "content":"Home Page Product Left Content"
      },
      {
        "type":"image_picker",
        "id":"Home_banner_left_1",
        "label":"Home Product Background left Side Image"
      },
      {
        "type":"color",
        "id":"Home_banner_left_clr_1",
        "label":"Home Product Background left Side Color"
      },
      {
        "type":"image_picker",
        "id":"Home_banner_left_prod_1",
        "label":"Home Product Center Image"
      },
      {
        "type":"textarea",
        "id":"Home_banner_left_text_1",
        "label":"Home Product Title"
      },
	  {
        "type":"textarea",
        "id":"Home_banner_left_subtitle_1",
        "label":"Home Product Subtitle"
      },
	  {
        "type":"richtext",
        "id":"Home_banner_left_description_1",
        "label":"Home Product Description"
      },
      {
        "type":"textarea",
        "id":"Home_banner_left_btn_1",
        "label":"Home Product Button Text"
      },
      {
        "type":"url",
        "id":"Home_banner_left_url_1",
        "label":"Home Product Button Link"
      },
      {
        "type":"header",
        "content":"Home Page Product Right Content"
      },
      {
        "type":"image_picker",
        "id":"Home_banner_right_1",
        "label":"Home Product Background Right Side Image"
      },
      {
        "type":"color",
        "id":"Home_banner_right_clr_1",
        "label":"Home Product Background Right Side Color"
      },
      {
        "type":"image_picker",
        "id":"Home_banner_right_prod_1",
        "label":"Home Product Center Image"
      },
      {
        "type":"textarea",
        "id":"Home_banner_right_text_1",
        "label":"Home Product Title"
      },
	  {
        "type":"textarea",
        "id":"Home_banner_right_subtitle_1",
        "label":"Home Product Subtitle"
      },
	  {
        "type":"richtext",
        "id":"Home_banner_right_description_1",
        "label":"Home Product Description"
      },
      {
        "type":"textarea",
        "id":"Home_banner_right_btn_1",
        "label":"Home Product Button Text"
      },
      {
        "type":"url",
        "id":"Home_banner_right_url_1",
        "label":"Home Product Button Link"
      },
      {
        "type":"header",
        "content":"Home Page Product Third Content"
      },
      {
        "type":"image_picker",
        "id":"Home_banner_left_3",
        "label":"Home Product Background left Side Image"
      },
      {
        "type":"color",
        "id":"Home_banner_left_clr_3",
        "label":"Home Product Background left Side Color"
      },
      {
        "type":"image_picker",
        "id":"Home_banner_left_prod_3",
        "label":"Home Product Center Image"
      },
      {
        "type":"textarea",
        "id":"Home_banner_left_text_3",
        "label":"Home Product Title"
      },
	  {
        "type":"textarea",
        "id":"Home_banner_left_subtitle_3",
        "label":"Home Product Subtitle"
      },
	  {
        "type":"richtext",
        "id":"Home_banner_left_description_3",
        "label":"Home Product Description"
      },
      {
        "type":"textarea",
        "id":"Home_banner_left_btn_3",
        "label":"Home Product Button Text"
      },
      {
        "type":"url",
        "id":"Home_banner_left_url_3",
        "label":"Home Product Button Link"
      },
      {
        "type":"header",
        "content":"Home Page Product Fourth Right Content"
      },
      {
        "type":"image_picker",
        "id":"Home_banner_right_4",
        "label":"Home Product Background Right Side Image"
      },
      {
        "type":"color",
        "id":"Home_banner_right_clr_4",
        "label":"Home Product Background Right Side Color"
      },
      {
        "type":"image_picker",
        "id":"Home_banner_right_prod_4",
        "label":"Home Product Center Image"
      },
      {
        "type":"richtext",
        "id":"Home_banner_right_text_4",
        "label":"Home Product Title"
      },
	  {
         "type":      "select",
         "id":        "banner-text-size",
         "label":     "Banner Text Size",
         "options": [
           {
             "value": "text_large",
             "label": "Large"
           },
           {
             "value": "text_medium",
             "label": "Medium"
           },
		   {
             "value": "text_small",
             "label": "Small"
           }
         ],
         "default":   "text_medium"
      },
	  {
        "type":"textarea",
        "id":"Home_banner_right_subtitle_4",
        "label":"Home Product Subtitle"
      },
	  {
        "type":"richtext",
        "id":"Home_banner_right_description_4",
        "label":"Home Product Description"
      },
      {
        "type":"textarea",
        "id":"Home_banner_right_btn_4",
        "label":"Home Product Button Text"
      },
      {
        "type":"url",
        "id":"Home_banner_right_url_4",
        "label":"Home Product Button Link"
      }
],
    "presets": [
      {
        "name": "Homepage Product",
        "category": "Promotional"
      }
    ]
  }
{% endschema %}
