<!-- /templates/page.liquid -->
<div class="About_page rewards-section rewards-section-2">
  
  {% for block in section.blocks %}
  <div style="padding-top: {{ block.settings.padding_vertical }}px; padding-bottom: {{ block.settings.padding_vertical }}px;" class="about-grid aos-init" data-aos="fade-in">
    <div class="About_page_left About_page_left_2{% unless block.settings.About_img != blank %} no-right-column text-center{% endunless %}">
      {% if block.settings.About_subtitle != blank %}
      <h2>{{ block.settings.About_subtitle }}</h2>
      {% endif %}
      {% if block.settings.About_heading-top != blank or block.settings.About_heading-bottom != blank %}
        <h3>
          <span>{{ block.settings.About_heading-top }}</span>
          <span>{{ block.settings.About_heading-bottom }}</span>
        </h3>
      {% endif %}
      {% if block.settings.About_heading-small != blank %}
        <h3 class="heading-small" style="font-size:{{ block.settings.About_heading-font }}px; line-height:{{ block.settings.About_heading-font }}px">{{ block.settings.About_heading-small }}</h3>
      {% endif %}
      {% if block.settings.About_para_1 != blank %}
        <h4>{{ block.settings.About_para_1 }}</h4>
      {% endif %}
      
      {% if block.settings.About_para_2 != blank %}
        <h5>{{ block.settings.About_para_2 }}</h5>
      {% endif %}
      
      {% if block.settings.About_para_3 != blank %}
        <h6>{{ block.settings.About_para_3 }}</h6>
      {% endif %}
      
      {% if block.settings.btn_text != blank and block.settings.btn_link != blank %}
      <a href="{{ block.settings.btn_link }}" class="cta-button btn create_button">
        {{ block.settings.btn_text }}
      </a>
    {% endif %}
      
    </div>
    
    {% if block.settings.About_img != blank %}
    <div class="About_page_right">
        <img data-src="{{ block.settings.About_img | img_url : 'master' }}" class="lazyload">
    </div>
    {% endif %}
  </div>
  {% endfor %}
  
</div>


{% schema %}
  {
    "name": "About Section",
    "settings": [
      
    ],
	"blocks": [
      {
        "type": "feature",
        "name": "About Text with Image",
        "settings": [
          {
            "type": "range",
            "id": "padding_vertical",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Vertical Padding",
			"default": 20
          },  
          {
            "type":"textarea",
            "id":"About_subtitle",
            "label":"About Subtitle"
          },
          {
            "type":"text",
            "id":"About_heading-top",
            "label":"About Heading Line 1 Right"
          },
          {
            "type":"text",
            "id":"About_heading-bottom",
            "label":"About Heading Line 2 Left"
          },
		  {
            "type":"text",
            "id":"About_heading-small",
            "label":"About Heading small"
          },
		  {
            "type": "range",
            "id": "About_heading-font",
            "min": 30,
            "max": 75,
            "step": 1,
            "unit": "px",
            "label": "About heading small font size",
			"default": 54
          },
          {
            "type":"richtext",
            "id":"About_para_1",
            "label":"About Paragraph 1"
          },
          {
            "type":"richtext",
            "id":"About_para_2",
            "label":"About Paragraph 2"
          },
          {
            "type":"richtext",
            "id":"About_para_3",
            "label":"About Paragraph 3"
          },
          {
            "type": "text",
            "id": "btn_text",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "btn_link",
            "label": "Button URL"
          },
          {
            "type":"image_picker",
            "id":"About_img",
            "label":"About Right Side Image"
          }
          
        ]
      }
    ],
	"presets": [
      {
        "name": "About Section",
        "category": "About"
      }
    ]
  }

{% endschema %}

