<div class="cta-section__wrapper"{% if section.settings.background != blank %} style="padding-top: {{ section.settings.padding_vertical }}px; padding-bottom: {{ section.settings.padding_vertical }}px; background-color: {{ section.settings.background }};"{% endif %}>
  {% if section.settings.cta_heading %}
  	<h3 class="heading-small" style="font-size:{{ section.settings.cta_heading_font }}px; line-height:{{ section.settings.cta_heading_font }}px" data-aos="fade-in">
      {{ section.settings.cta_heading }}
  	</h3>
  {% endif %}
  <div class="cta-section__content" data-aos="fade-in">
    {% if section.settings.content != blank %}
    <div class="cta-content">
      {{ section.settings.content }}
    </div>
    {% endif %}
    
    {% if section.settings.btn_text != blank and section.settings.btn_link != blank %}
      <a href="{{ section.settings.btn_link }}" class="cta-button btn create_button{% if section.settings.content == blank %} no-margin{% endif %}" data-aos="fade-in">
        {{ section.settings.btn_text }}
      </a>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "CTA Section",
  "settings": [
   {
       "type": "range",
       "id": "padding_vertical",
       "min": 0,
       "max": 100,
       "step": 1,
       "unit": "px",
       "label": "Vertical Padding",
	   "default": 20
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "cta_heading",
      "label": "Heading"
    },
    {
      "type": "range",
      "id": "cta_heading_font",
      "min": 30,
      "max": 75,
      "step": 1,
      "unit": "px",
      "label": "Heading font size",
      "default": 54
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Text Content"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button URL"
    }
  ]
}
{% endschema %}