<div class="page-items" style="background: {{ section.settings.theme_background_color }}">
  <div class="new-grid page-width">
    <h2>KO PRAIM VS NARED LI E</h2>
    <p>bobi e haker</p>
    <p>ertata e haker</p>
	{% for block in section.blocks %}
  		<div class="grid__item one-third">
          <div class="item-grid" style="background: {{ block.settings.background_color }}">
            <div class="item-inner">
  			    <img id="{{ block.id }}" src="{{ block.settings.image | img_url: "175x"}}">
            </div>
            	<div class="item-inner-text">
                    <p>{{ block.settings.inside_image_text }}</p>
                </div>
          </div>
  		</div>
  	{% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Icons Section",
    "settings": [
		{
        "id": "theme_background_color",
        "type": "color",
        "label": "Background Color"
        }
],
	"presets": [
      {
        "category": "Products",
        "name": "Menu",
        "settings": {
            
        }
      }
    ],
	"blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
			{
				"id": "image",
				"type": "image_picker",
				"label": "Image"
			},
			{
				"id": "inside_image_text",
				"type": "text",
				"label": "Inside Image Text"
			},
			{
				"id": "background_color",
				"type": "color",
				"label": "Background Color"
			}
        ]
      }
    ]
  }
{% endschema %}