{% comment %}
<!-- RULES: 
ONCE PER SESSION - V
SHOW AGAIN 6 hours after showing the popup first " 

URL RULES: 
* DOES NOT CONTAIN: 
 -CART 
 -CHECKOUT
 -QUESTIONNAIRE
 -SIGNUP.LIVEINNERMOST.COM

THEY HAVE NOT: 
 -CLOSED THIS POPUP
 -HAVE NOT ENGAGED WITH THE FORM 

 FIRST URL DOES NOT CONTAIN utm_medium=email
  
LOCATED:
 - in their region

-->
{% endcomment %}

<div style="display: none;" id="thankyou-popup" class="welcome-popup thankyou-popup">
  <div class="welcome-popup-overlay klaviyo_modal k_id_modal_{{country}}" id="k_id_modal_{{country}}" >
    <div class="klaviyo_inner {% if phone == true %} phone-form-modal {% endif %} welcome welcome-popup-inner add-if-here">
      <button  class=" klaviyo_header_close" type="button">×</button>
      <div class="grid">
        <div class="grid__item one-half medium-down--hide small--one-whole">
          {% if section.settings.img_left %}
            {% comment %}Class lazyload is not included in the checkout.liquid - so we use plan B{% endcomment %}
            <img loading="lazy" src="{{ section.settings.img_left | img_url: '600x' }}" alt="{{- section.settings.img_left.alt -}}">
          {% else %}
            <img loading="lazy" src="https://graphics.justuno.com/96479_426201935846AM_0.3262293_.jpg" > 
          {% endif %}
        </div>
        <div class="welcome-popup--text-content-wrapper grid__item one-half small--one-whole medium-down--one-whole">
          {% if section.settings.heading_text != blank %}
            <h3 class="welcome-popup--text-title">{{ section.settings.heading_text | newline_to_br }}</h3>
          {% endif %}
          {% if section.settings.heading_text_description != blank %}
            <div class="welcome-popup--text-content">{{ section.settings.heading_text_description }}</div>
          {% endif %}
          
          <a href="{% liquid
            if customer
              echo routes.account_url
            else
              echo routes.account_login_url
            endif
          %}" class="welcome-popup-cta-btn btn" target="_blank">
            Sign up / Login
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

 
{%- capture arrayliquid -%}{% assign arrayraw = section.settings.url_rules | split: "," %}{%- for item in arrayraw  -%}{%- if forloop.first -%}["{{- item -}}",{%- elsif forloop.last %}"{{- item -}}"] {%- else -%}"{{- item -}}",{%- endif -%}{%- endfor -%}{%- endcapture -%}           
<script>
  $(document).ready(function(){
    
    function showPopup(){
      //console.log('show');
      setTimeout(function(){
        $('#thankyou-popup').show();
      }, {{ section.settings.show_after | times: 1000 }} );
    }
                 
    function hidePopup(trigger){
      trigger.closest('.welcome-popup').hide();
    }
  
      
    function urlContains(checkURL){
      var result = false  
      var url = window.location.href;

	  var Matches = RegExp(checkURL.join('|')).exec(url);
		
	  if (Matches) {
        result = true;
	  }
      return result;  
    }

  /* showPopup(); */
                                                                                                                                            
                                                                                                                                                      
       
    //console.log("urlcheck: " + urlContains({{- arrayliquid -}}));   
    if(!$.cookie('shownpopup') && !$.cookie('seenpopup') && urlContains({{- arrayliquid -}}) != true){
      showPopup();
      $.cookie('seenpopup', 'true', { expires: {{ section.settings.show_again | divided_by: 24 }} });
      $.cookie('shownpopup', 'true'); 
    }
    
    if(window.location.href.indexOf('testpopup') > -1 ) {
        showPopup();    
    }
                    
    //console.log($.cookie('shownpopup') + " shown");
    
    $('.klaviyo_header_close').on('click', function(){
      hidePopup($(this));
    });
      
    $('.welcome-popup-overlay').on('click', function(e){
      hidePopup($(this));
    });
    
    $('.welcome-popup-overlay .welcome-popup-inner').on('click', function(e){
      e.stopPropagation();
    });
    
  })
</script>
{% schema %}
  {
    "name": "Thankyou popup",
    "settings": [
     {
      "type": "image_picker",
      "id": "img_left",
      "label": "Logo image"
    },
	{
	  "type": "checkbox", 
	  "label" : "Style top text as heading?",
	  "id" : "heading",
	  "default": false
	},
	{
	  "type": "textarea",
	  "id": "heading_text",
	  "label": "Top text"
	},
    {
	  "type": "richtext",
	  "id": "heading_text_description",
	  "label": "Content"
	},
	{
    	"type":   "range",
    	"id":     "show_after",
    	"min":       0,
    	"max":       60,
    	"step":      5,
    	"unit":      "sec",
    	"label":     "Show Popup after",
    	"default":   20
    },
	{
    	"type":   "range",
    	"id":     "show_again",
    	"min":       2,
    	"max":       72,
    	"step":      1,
    	"unit":      "hrs",
    	"label":     "Once popup has been closed, show again after",
    	"default":   6
    },
	{
	  "type": "textarea",
	  "id": "url_rules",
	  "label": "URL does not contain ( coma separated values )",
	  "default": "cart, checkout, questionnaire, signup"
	}
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
