{% if product.tags contains 'hide-free' %}

  <script>
    window.location.href = '/';
  </script>

{% else %}

  {% comment %}
    The contents of the product.liquid template can be found in /sections/product-template.liquid
  {% endcomment %}
{% comment %}
  <div itemscope itemtype="http://schema.org/Store">
    <div id="..." class="..." itemscope="" itemtype="http://schema.org/Product">
      <meta itemprop="brand" content="Innermost">
      <meta itemprop="name" content="{{product.title}}">
      <meta itemprop="productID" content="{{product.id}}">
      <meta itemprop="url" content="{{product.url}}">
      <meta itemprop="image" content="{{product.image}}">

      <link itemprop="availability" href="{{product.available}}">

      <meta itemprop="priceCurrency" content="GBP">
    </div>
  <div itemscope itemtype="">
    {% endcomment %}

  {% section 'product-template' %}

  <script text="text/javascript">
   var _learnq = _learnq || [];
   var item = {
     Name: {{ product.title|json }},
     ProductID: {{ product.id|json }},
     Categories: {{ product.collections|map:'title'|json }},
     ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
     URL: "{{ shop.secure_url }}{{ product.url }}",
     Brand: {{ product.vendor|json }},
     Price: {{ product.price|money|json }},
     CompareAtPrice: {{ product.compare_at_price_max|money|json }}
   };

   _learnq.push(['track', 'Viewed Product', item]);

   _learnq.push(['trackViewedItem', {
     Title: item.Name,
     ItemId: item.ProductID,
     Categories: item.Categories,
     ImageUrl: item.ImageURL,
     Url: item.URL,
     Metadata: {
       Brand: item.Brand,
       Price: item.Price,
       CompareAtPrice: item.CompareAtPrice
     }
   }]);
    
    $( "#AddToCart" ).on( "click", function() {
      _learnq.push(['track', 'Added to Cart', item]);
    });
    
    $( "#AddToCartMultiple" ).on( "click", function() {
      _learnq.push(['track', 'Added to Cart', item]);
    });
  </script>
    
{% endif %}
